<div ng-controller="addcategoryCtrl"><!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Add category</h1>

            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>

    <!-- end: CELL AND ROW TEMPLATE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
        <div ng-show="msg" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>

        <div class="row">
            <div class="col-md-12">



             
                   
                   <div class="row">  
                    <div class="col-md-12">
                        <div class="form-group">
                        <label >Name : </label>
                        <input type="text" ng-model="name" class="form-control input-medium" >
                        </div>
                    </div>
                   </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">  
                   <div class="col-md-12">
                        <div class="form-group">
                        <label >Is active : </label>
                        <input type="checkbox" ng-model="is_active" id="checkboxid" >
                        </div>
                    </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">  
                   <div class="col-md-12">
                        <div class="">
                        <label >Image : </label>
                        <input type="hidden" value="" ng-model="files" id="cat_file">
                        <form id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-app="demo" data-ng-controller="RequestFileUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                            <input type="hidden" value="categoryimage" name="type">          
                            
                            
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                                <noscript><input type="hidden" name="redirect" value=""></noscript>
                                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <input type="file" name="files" ng-disabled="disabled">
                                                        </span>
                                                        <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                                            <i class="glyphicon glyphicon-upload"></i>
                                                            <span>Start upload</span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                            <span>Cancel upload</span>
                                                        </button>
                                                        <!-- The global file processing state -->
                                                        <span class="fileupload-process"></span>
                                                    </div>
                                                    <!-- The global progress state -->
                                                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                                        <!-- The global progress bar -->
                                                        <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                        <!-- The extended global progress state -->
                                                        <div class="progress-extended">&nbsp;</div>
                                                    </div>
                                                </div>
                                                <!-- The table listing the files available for upload/download -->
                                                <input type="hidden" id="hiddenfiles" value="1">
                                                <table class="table files ng-cloak">
                                                    <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}" style="color: #fff;">
                                                        <td data-ng-switch data-on="!!file.thumbnailUrl">
                                                            <div class="preview" data-ng-switch-when="true">
                                                                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                                            </div>
                                                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                                        </td>
                                                        <td>
                                                            <p class="name" data-ng-switch data-on="!!file.url">
                                                                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                                                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                                                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                                                </span>
                                                                <span data-ng-switch-default>{{file.name}}</span>
                                                            </p>
                                                            <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                                        </td>
                                                        <td>
                                                            <p class="size">{{file.size | formatFileSize}}</p>
                                                            <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span>Start</span>
                                                            </button>
                                                            <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                                <span>Cancel</span>
                                                            </button>
                                                            <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                <span>Delete</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                         </form>
                        </div>
                    </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">  
                    <div class="form-group right">
                        <div class="col-md-12">
                           
                            <button class="btn green" type="submit" ng-click='saveit();'>Submit</button>
                            <button class="btn default" type="submit" ng-click='back();'>Back to Categories</button>
                             </div>
                        </div>
                    </div>
                    
               


            </div>


        </div>
    </div>
    
</div>