<!-- start: FORGOT -->
<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="logo">
			<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
		</div>
		<!-- start: FORGOT BOX -->
		<div class="box-forgot">
			<form class="form-forgot">
				<fieldset>
					<legend>
						Forget Password?
					</legend>
					<p>
						Enter your e-mail address below to reset your password.
					</p>
					<div class="form-group">
						<div class="input-icon">
                                                    <i class="fa fa-envelope-o"></i>
							<input type="email" class="form-control" name="email" placeholder="Email">
							 </div>
					</div>
					<div class="form-actions">
						<a class="btn btn-primary btn-o" ui-sref="adminlogin.signin">
							<i class="fa fa-chevron-circle-left"></i> Log-In
						</a>
						<button type="submit" class="btn btn-primary pull-right">
							Submit <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				{{app.year}} &copy; {{ app.name }} by {{ app.author }}.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- end: FORGOT BOX -->
	</div>
</div>
<!-- end: FORGOT -->
