<div ng-controller="subcategoryCtrl"><!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{parentname}}</h1>

            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>

    <!-- end: CELL AND ROW TEMPLATE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
        <div ng-show="msg" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>

        <div class="row">
            <div class="col-md-12">



                <form class="form-inline">
                    <div class="form-group">
                        <label >Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        
                    </div>
                </form>
                <span style="float: right; cursor:pointer; color:#A5C3FF;" ng-click="redaddsubcat(catid);">Add Sub Category</span>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th ng-click="sort('name')">Name
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                           	
                            <th >Action</th>	
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="category in allcategories|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                            <td>{{category.name}}</td>
                            <td class="actions actionbtn">

    <a href="javascript:void(0);" ng-click="editsubcategory(category.id);"><img width="22" height="21" title="Edit Category" src="/assets/images/edit.png"></a>

    <a ng-click="deletethis(category.id);"  href="javascript:void(0);"><img width="24" height="24" title="Delete Category" src="/assets/images/delete.png"></a>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                
                                <dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>


            </div>


        </div>
    </div>
  
</div>