﻿<!DOCTYPE html>
<html lang="en" data-ng-app="LiveHelpoutApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="LiveHelpOut">
    <meta name="keywords" content="LiveHelpOut">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta property="fb:app_id" content="854993934578994" />
    <title data-ng-bind="pageTitle()">LiveHelpout</title>
    
    
    <base href="http://beta.livehelpout.com/">
    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="vendor/themify-icons/themify-icons.min.css">
    <!-- Loading Bar -->
    <link rel="stylesheet" href="vendor/loadingbar/loading-bar.min.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="vendor/animate-css/animate.css">
    
    <link rel="stylesheet" href="assets/frontend/css/ng-tags-input.min.css">
    
     <link rel="stylesheet" href="assets/js/bower_components/fullcalendar/dist/fullcalendar.css">
  
    <!-- Clip-Two CSS -->
    <!--<link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/components-md.css">-->

    <!-- Clip-Two Theme -->
    <link rel="stylesheet" data-ng-href="assets/css/themes/{{ app.layout.theme }}.css" />
    
    <!---------Social Share------------>
    <link rel="stylesheet" data-ng-href="assets/js/bower_components/angular-socialshare/angular-socialshare.css" />
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-route.min.js"></script>
     
	
</head>
<body ng-controller="AppCtrl">

    <div ui-view id="app" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>

    <!-- jQuery -->
   
    <!-- Fastclick -->
    <script src="vendor/fastclick/fastclick.min.js"></script>
    <!-- Angular -->
    <script src="assets/js/bower_components/moment/min/moment.min.js"></script>
    <script src="assets/js/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

    <script src="vendor/angular/angular-cookies.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    
    <script src="vendor/angular/angular-ui-router.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/angular/angular-touch.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/angular/angular-resource.min.js"></script>
    <script src="assets/frontend/js/ng-tags-input.min.js"></script>
    <script src="assets/js/bower_components/angular-ui-calendar/src/calendar.js"></script>
    
   
    <!-- Angular storage -->
    <script src="vendor/angularstorage/ngStorage.min.js"></script>
    <!-- Angular Translate -->
    <script src="vendor/angulartranslate/angular-translate.min.js"></script>
    <script src="vendor/angulartranslate/angular-translate-loader-url.min.js"></script>
    <script src="vendor/angulartranslate/angular-translate-loader-static-files.min.js"></script>
    <script src="vendor/angulartranslate/angular-translate-storage-local.min.js"></script>
    <script src="vendor/angulartranslate/angular-translate-storage-cookie.min.js"></script>
    <!-- oclazyload -->
    <script src="vendor/oclazyload/ocLazyLoad.min.js"></script>
    <!-- breadcrumb -->
    <script src="vendor/angular-breadcrumb/angular-breadcrumb.min.js"></script>
    <!-- UI Bootstrap -->
    <script src="vendor/bootstrap/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <!-- Loading Bar -->
    <script src="vendor/loadingbar/loading-bar.min.js"></script>
    <!-- Angular Scroll -->
    <script src="vendor/angular-scroll/angular-scroll.min.js"></script>

    <!-- Clip-Two Scripts -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/config.constant.js"></script>
    <script src="assets/js/config.router.js"></script>
    <script src="assets/js/auth-front-module.js"></script>
    
    <!-- Socket -->
    <script src="http://45.79.160.248:8181/socket.io/socket.io.js"></script>
    <script src="assets/js/socket.js"></script>
    <!-- Socket End-->
    
    <!-- facebook -->
    <script src="vendor/ngFacebook/ngFacebook.js"></script>
    <!--<script src="vendor/satellizer-master/satellizer.min.js"></script>-->
    
    <!--GplusLogin-->
    <script src="vendor/ngGooglePlus/ngGooglePlus.js"></script>
    <!--GplusLogin-->
    
    <!---LinkedinLogin----------->
    <script src="vendor/ngLinkedIn/ngLinkedIn.js"></script>
    <!---LinkedinLogin----------->
    
    
    <!---------Social Share------------>
    <script src="assets/js/bower_components/angular-socialshare/angular-socialshare.js"></script>
    
    <!-- imagegallery -->
    <script src="vendor/ng-image-gallery/js/ngPhotoGrid.js"></script>
    

    <!-- file upload -->
    <script src="assets/frontend/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="assets/frontend/js/load-image.all.min.js"></script>

    <!-- The basic File Upload plugin -->
    <script src="assets/frontend/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="assets/frontend/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="assets/frontend/js/jquery.fileupload-image.js"></script>
    <script src="assets/frontend/js/jquery.fileupload-audio.js"></script>
    <script src="assets/frontend/js/jquery.fileupload-video.js"></script>

    <!-- The File Upload validation plugin -->
    <script src="assets/frontend/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload Angular JS module -->
    <script src="assets/frontend/js/jquery.fileupload-angular.js"></script>

    <link rel="stylesheet" href="assets/frontend/css/jquery.fileupload.css">
    <link rel="stylesheet" href="assets/frontend/css/jquery.fileupload-ui.css">
    <noscript><link rel="stylesheet" href="assets/frontend/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="assets/frontend/css/jquery.fileupload-ui-noscript.css"></noscript>
    <!--end file upload -->
    
    <!-- Clip-Two Directives -->
    <script src="assets/js/directives/toggle.js"></script>
    <script src="assets/js/directives/empty-links.js"></script>
    <script src="assets/js/directives/sidebars.js"></script>
    <script src="assets/js/directives/off-click.js"></script>
    <script src="assets/js/directives/full-height.js"></script>
    <script src="assets/js/directives/panel-tools.js"></script>
    <script src="assets/js/directives/char-limit.js"></script>
    <script src="assets/js/directives/dismiss.js"></script>
    <script src="assets/js/directives/compare-to.js"></script>
    <script src="assets/js/directives/select.js"></script>
    <script src="assets/js/directives/messages.js"></script>
    <script src="assets/js/directives/chat.js"></script>
    <!-- Clip-Two Controllers -->
    <script src="assets/js/controllers/mainCtrl.js"></script>
    <script src="assets/js/controllers/bootstrapCtrl.js"></script>
    <script type="text/javascript" language="javascript" src="/assets/js/directives/dirPagination.js"></script>
    <script src="assets/js/bower_components/jquery.ui.touch-punch.min.js"></script>
    
    <!------ Stripe Js -------->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    $( window ).load(function() {
	
         setTimeout(function()
         {
           var windowheight=$(window).height();
           var footerheight=$('.footer_section').height(); 
           var hedearheight=$("#header-nav").height();
           var bodyheight=windowheight-(footerheight+hedearheight);
           $('.app-content').css('min-height',(bodyheight+5));
             var pull   = $('#pull');
             menu   = $('nav ul.top-nav');
             menuHeight = menu.height();
            $(pull).on('click', function(e) {
             e.preventDefault();
             menu.slideToggle();
            });
            $(window).resize(function(){
                   var w = $(window).width();
                   if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                   }
               });
        }, 1000);
    });
   </script>
    <!-- Google Apis -->
    <!--<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization"></script>-->
    <div id='fb-root'></div>
</body>
</html>
