<div ng-controller="buycreditCtrl">
    <div class="act-modal modal fade" id="whyskipthis"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Help Us Understand What's Happening</h4>
                </div>
                <form method="POST">
                    <div class="modal-body extraspace" style="padding:14px 18px;">
                        <div ng-show="skipalert" class="{{alert.altclass}}">
                            <div id="flash_notice">{{alert.msg}}</div>
                        </div>
                        <h4>Why are you not interested?</h4>

                        <input type="hidden" id="hiddenskip" ng-model="hiddenskip" value="{{hiddenskip}}">
                        <input type="hidden" id="hiddenskiptype" ng-model="hiddenskiptype" value="{{hiddenskiptype}}">

                        <div class="form-group" style="margin-bottom: 0px;" ng-repeat="(key, value) in skipoptions">
                            <label class="col-sm-12 control-label">
                                <input type="radio" value="{{value}}" name="reason" ng-model="$parent.reason" class="ng-pristine ng-valid" style="position: absolute;">
                                <span style="margin-left:17px;" ng-if="key != '6'">{{value}}</span>
                                <textarea ng-if="key == '6'"  placeholder="Other reasons"  id="other_reason" style="width: 95%;height: 84px;margin-left: 17px;border-radius: 5px;"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a href="javascript:void(0);" ng-click="closemodal();"   class="btn btn-default-new" data-style="zoom-in" ladda="loading" data-spinner-size="25"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Close </a>
                        <a href="javascript:void(0);"  class="btn btn-primary" ng-click="saveskiprequest();">Submit </a></div>
                </form>
            </div>
        </div>
    </div>


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
               ghjmyujyfuj
                 
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>
