@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff2') format('woff2'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../fonts/proximanova-lightitalic-webfont.eot');
    src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'), url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*==========================================
    GENERAL  STYLES
    =====================================================*/
#container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    font-family: 'proxima_nova_rgregular';
    font-size: 14px;
    font-weight: 400;
    overflow: auto !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 500;
    font-family: 'proxima_nova_rgregular';
}




.flot-nav {
    float: right;
}

.icon-round {
    margin-top: 30px;
    font-size: 24px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}

.wrap-pad {
    padding: 60px 30px;
    position: relative;
}

.text-center {
    text-align: center;
}

.color-red {
    color: #ff0000;
}

.color-green {
    color: #07BB00;
}

.color-light-blue {
    color: #BB00BB;
}

.color-blue {
    color: #0052FF;
}

.color-brown {
    color: #EB8F2D;
}

.color-black {
    color: #000000;
}

.bk-color-red {
    background-color: #ff0000;
}

.bk-color-green {
    background-color: #07BB00;
}

.bk-color-light-blue {
    background-color: #BB00BB;
}

.bk-color-blue {
    background-color: #0052FF;
}

.bk-color-brown {
    background-color: #EB8F2D;
}

.bk-color-black {
    background-color: #000000;
}

.margin-5 {
    margin: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-100 {
    margin-top: 100px;
}

.btn {
    font-weight: 300;
    border: 0;
}

    .btn.btn-primary {
        background-color: #52b6ec;
    }

        .btn.btn-primary:hover, .btn.btn-primary.active {
            background-color: #1586c3;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

a:hover, a:focus {
    color: #80c9f1;
    text-decoration: none;
    outline: none;
}

.small-icons {
    margin-top: 0px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}
/*==========================================
    BOOTSTRAP  STYLES CHANGES
    =====================================================*/



.modal-backdrop {
    height: 100% !important;
}

.logo {
    float: left;
    margin-top: 0px;
    width: 235px;
    height: auto;
}

    .logo img {
        width: 100%;
        height: auto;
    }

    .logo a {
        color: #303030;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 2.5em;
    }

        .logo a:hover {
            text-decoration: none;
        }

.logo320 {
    display: none;
}

#header-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #000;
    border: 0;
    border-bottom: solid 1px #7a776a;
}

.top-header {
    padding: 10px 0;
}

.top-nav ul li a {
    color: #FFF;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    line-height: 33px;
}

    .top-nav ul li.active a, .top-nav ul li a:hover {
        color: #EE2F1B;
    }

.logo a {
    display: block;
}
/* top-nav */
.top-nav:before, .top-nav:after {
    content: " ";
    display: table;
}

.top-nav:after {
    clear: both;
}

nav {
    position: relative;
    float: right;
}

    nav ul {
        padding: 0;
        float: right;
        margin: 0.9em 0;
    }

    nav li {
        display: inline;
        float: left;
        position: relative;
        margin-right: 10px;
    }

        nav li:last-child {
            margin-right: 0;
        }

    nav a {
        color: #fff;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
    }

        nav a:hover {
            text-decoration: none;
            color: #00A2C1;
        }

        nav a#pull {
            display: none;
        }
/*--------- Search Icon ------------------------*/
.sarch_box {
    width: 307px;
    height: 33px;
    border: solid 1px #ddd;
    border-radius: 3px;
    background: none;
    display: block;
}

    .sarch_box input[type="text"] {
        width: 85%;
        height: 31px;
        background: none;
        color: #fff;
        border: none;
        padding: 0 2%;
    }

    .sarch_box .search_btn {
        width: 33px;
        height: 33px;
        background: url(../images/search_icon.png) center center no-repeat;
        cursor: pointer;
        border: none;
        text-indent: -2000em;
    }
    
    
    
  /*.credit_box{width:92%;height:uto;overflow: hidden;padding:10px;background:#EAEAEA;margin:0 auto;} 
  .credit_box ul{list-style: none;padding:0;margin:0}
  .credit_box ul li{width:30%;float:left;height:500px;background:#fff;border:10px solid #EAEAEA}
  .credit_box ul li:first-child + li{width:40%}
  .credit_box ul li:hover{border:10px solid #d0d0d0}
  .credit_box ul li h1{
  	display: block;
    font-family: "proxima_novasemibold";
    font-size: 22px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
    margin: 0;
    text-align: center;
    text-transform: uppercase}
  
  .price_box{background: #c7eef8;width:100%;height:150px;}
  
  .price_box h3{color:#757373;display: block;
    font-family: "proxima_novasemibold";
    font-size: 20px;
    font-weight: 700;
    height: 150px;
    line-height: 150px;text-align: center;display: block;margin: 0}
    
    .price_box h2{color:#10B4E0;display: block;
    font-family: "proxima_novasemibold";
    font-size: 30px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;text-align: center;display: block;margin:0}
    
    .price_box p{color:#757373;display: block;
    font-family: "proxima_novasemibold";
    font-size: 20px;
    font-weight: 700;
    height: 50px;margin:0;line-height: 50px;text-align: center;display: block;}*/
    
    .price_cont .package {
  box-sizing: border-box;
  width: 301px;
  height: 380px;
  border: 3px solid #e8e8e8;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: left;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
  margin-right: 11px;
  background:#fff;
}
.price_cont .package:hover {
  margin-top: -30px;
  -webkit-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
.price_cont .name {
  color: #565656;
  font-weight: 300;
  font-size: 25px;
  margin-top: -5px;
  font-family: "proxima_novasemibold";
  height:90px;
}
.price_cont .price {
  margin-top: 7px;
  font-weight: bold;
}
.price_cont .price::after {
  /*content: " / month per user";*/
  font-weight: normal;
}
.price_cont hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
.price_cont .trial {

  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #10A1D0;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -35px;
  font-family: arial;
  font-size: 16px;
}
.price_cont ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
.price_cont li {
  margin-bottom: 10px;
}
.price_cont .checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}
.price_cont li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  color: #10A1D0;
  margin-right: 3px;
}
.price_cont .brilliant {
  border-color: #10A1D0;
}
/* Triangle */
.price_cont .brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #10A1D0 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  
}
.price_cont .brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #10A1D0;
  font-size: 1.4rem;
}

.price_cont {display: table;margin:20px auto 20px}
    
  
.billing_top{display: block;width:80%;height:auto;overflow: hidden;margin:0 auto;margin-bottom:10px}
.billing_top p{ color: #6c6c6c;
    font-family: "proxima_novalight";
    font-size: 14px;
    line-height: 24px;display: block;}
  
 .billing_top p b{font-size:18px}
  
.select_payment ul{list-style: none;padding:0;display: table;margin:10px auto;float:none;}
.select_payment li{float:left;width: auto;margin: 10px;background:#fff;padding:10px 15px;
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;}
.select_payment li img{float:left;height:20px;width:auto;}
.select_payment li input[type="radio"]{float:left;margin-right:10px;}


.credit_form {background:#fff;-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;background:#fff;padding:20px;width:90%;margin:0 auto;}

.opacity_5{opacity: .5}

.credit_form button{ background: #10a1d0 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 5px auto;
    padding: 7px 28px}

.credit_form p,.credit_form b{color: #6c6c6c;
    font-family: "proxima_novalight";
    font-size: 14px;
    line-height: 24px;display: block;}
    
.gaurentee h4,.gaurentee p,.gaurentee span,.gaurentee img{display: block;text-align: center;} 
.gaurentee img{width:100px;margin:0 auto;}
    
/*==========================================
   SLIDE SECTION / CAROUSEL SECTION
    =====================================================*/

.banner-wrapper {
    width: 100%;
    border: none;
}
/*.carousel .carousel-inner img{ height: 480px; }*/

/*---- benner ----*/
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 70px;
}

.banner-info {
    position: relative;
    top: 0;
}

    .banner-info h1 {
        font-weight: 700;
        font-size: 40px;
        color: #FFF;
        text-transform: uppercase;
        width: 70%;
        display: inline-block;
        line-height: 36px;
        font-family: 'proxima_novasemibold';
        padding: 0;
        margin: 0;
    }

    .banner-info span {
        width: 15%;
        height: 1px;
        background: #35C2F8;
        display: inline-block;
        margin-top: -10px;
    }

    .banner-info p {
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        margin: 1em auto;
        width: 100%;
        font-family: 'proxima_novalight';
        padding: 0;
        margin: 10px 0;
    }

.btn_div {
    margin: 20px auto;
    width: auto;
    text-align: center;
    overflow: hidden;
}

    .btn_div span {
        background: none;
        width: auto;
        height: auto;
        margin: 0;
    }

    .btn_div .butns {
        width: auto;
        height: 45px;
    }

        .btn_div .butns a {
            width: auto;
            height: 45px;
            line-height: 45px;
            padding: 0 15px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
            font-size: 18px;
        }

    .btn_div .blue_btn {
        background: #10a2d2;
        border-radius: 3px;
        display: inline-block;
        line-height: 45px;
        height: 45px;
    }

        .btn_div .blue_btn:hover {
            background: #4f4f4f;
            border-radius: 3px;
            display: block;
        }

    .btn_div .grey_btn {
        background: #4f4f4f;
        border-radius: 3px;
        display: block;
    }

        .btn_div .grey_btn:hover {
            background: #10a2d2;
            border-radius: 3px;
            display: block;
        }
/*--------------------------------- First Section -------------------*/
.first_section {
    width: 100%;
    height: auto;
    padding: 40px 0 40px;
    background: #e7e7e7;
    overflow: hidden;
}

.service-grid {
    position: relative;
}

    .service-grid .c-divs {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        text-align: center;
        top: 2px;
    }

        .service-grid .c-divs .circles {
            width: 100px;
            height: 100px;
            line-height: 100px;
            background: #e7e7e7;
            border-radius: 100%;
            margin: 0 auto !important;
        }

            .service-grid .c-divs .circles:hover {
                -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
            }

    .service-grid .white-box {
        padding: 60px 10px 15px;
        background: #fff;
        border: solid 1px #dadada;
        position: relative;
        top: 50px;
        color: #323232;
        font-size: 17px;
        text-align: center;
        font-family: 'proxima_novasemibold';
        margin-bottom: 70px !important;
    }

        .service-grid .white-box:hover {
            border: solid 1px #0bb9e7;
        }

.first_section .blue_btn {
    width: auto;
    height: 57px;
    margin-top: 40px;
}

    .first_section .blue_btn a {
        width: auto;
        height: 57px;
        text-align: center;
        line-height: 57px;
        background: #10a2d2;
        border-radius: 3px;
        display: inline-block;
        font-size: 18px;
        color: #fff;
        padding: 0 25px;
    }

        .first_section .blue_btn a:hover {
            display: inline-block;
            width: auto;
            background: #4f4f4f;
        }
/*--------------------------------- Second Section -------------------*/
.second_section {
    width: 100%;
    height: auto;
    padding: 40px 0 70px;
    background: #fff;
    overflow: hidden;
    border-bottom: solid 1px #e1e1e1;
}

.find-request {
    width: auto;
    height: auto;
    margin: 0 auto;
}

    .find-request h1 {
        padding: 0;
        margin: 0 0 10px;
        text-align: center;
        color: #606060;
        line-height: 36px;
        font-size: 30px;
        text-transform: uppercase;
    }

    .find-request p {
        color: #797979;
        font-size: 18px;
        line-height: 24px;
        width: 70%;
        font-family: 'proxima_novalight';
        text-align: center;
        margin: 0 auto;
    }

    .find-request .find-request-grid {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

        .find-request .find-request-grid .find-box {
            width: 100%;
            height: auto;
            background: #fff;
            border: solid 1px #e1e1e1;
            overflow: hidden;
            padding-bottom: 10px;
            margin-bottom: 15px !important;
        }

            .find-request .find-request-grid .find-box h1 {
                padding: 0 0 0 15px;
                margin: 0;
                line-height: 47px;
                color: #2f2f2f;
                font-size: 20px;
                font-family: 'proxima_novasemibold';
                text-align: left;
                border-bottom: solid 1px #e1e1e1;
                text-transform: capitalize;
            }

            .find-request .find-request-grid .find-box ul {
                padding: 0;
                margin: 0 15px;
            }

                .find-request .find-request-grid .find-box ul li {
                    float: none;
                    list-style-type: none;
                    padding: 5px 0;
                    text-align: left;
                    margin: 0;
                }

                    .find-request .find-request-grid .find-box ul li a {
                        color: #0aabd6;
                        font-size: 14px;
                        text-align: left;
                        padding-left: 15px;
                        text-decoration: none;
                        background: url(../images/blue-arrow.png) left center no-repeat;
                    }

                        .find-request .find-request-grid .find-box ul li a:hover {
                            color: #ff0000;
                        }
/*--------------------------------- Third Section -------------------*/
.third_section {
    width: 100%;
    height: auto;
    padding: 40px 0 70px;
    background: #fff;
    overflow: hidden;
}

.live-help {
    width: auto;
    height: auto;
    margin: 0 auto;
}

    .live-help h1 {
        padding: 0;
        margin: 0 0 10px;
        text-align: center;
        color: #323232;
        line-height: 36px;
        font-size: 30px;
        text-transform: capitalize;
    }

    .live-help p {
        color: #797979;
        font-size: 18px;
        line-height: 24px;
        width: 70%;
        font-family: 'proxima_novalight';
        text-align: center;
        margin: 0 auto;
    }

    .live-help .live-help-grid {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

.help-box {
    width: 100%;
    height: auto;
    background: #fff;
    border: solid 1px #e1e1e1;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 15px !important;
}

    .help-box .pix-box {
        width: 147px;
        height: 147px;
        margin: 20px auto 10px;
        overflow: hidden;
    }

        .help-box .pix-box img {
            border: solid 3px #0bb3df;
            width: 147px;
            height: 147px;
            border-radius: 100%;
        }

    .help-box .desc {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

        .help-box .desc p {
            padding: 0;
            margin: 2px 0;
            text-align: center;
            width: 100%;
            font-size: 14px;
            color: #515151;
            line-height: 21px;
            font-family: 'proxima_novalight';
        }

        .help-box .desc .name {
            color: #323232;
            font-size: 18px;
            text-align: center;
            line-height: 20px;
            font-family: 'proxima_novasemibold';
        }

        .help-box .desc .degi {
            font-size: 16px;
            color: #515151;
            text-align: center;
            font-family: 'proxima_novalight';
        }

        .help-box .desc .location {
            color: #ababab;
        }

            .help-box .desc .location a {
                color: #ababab;
                text-align: center;
                padding-left: 15px;
                text-decoration: none;
                font-size: 14px;
                font-family: 'proxima_nova_rgregular';
                background: url(../images/map_pointer.png) left center no-repeat;
            }

    .help-box .bottoms {
        height: 55px;
        border-top: solid 1px #e3e3e3;
        width: 100%;
        background: #f5f5f5;
    }

        .help-box .bottoms .price {
            width: 50%;
            line-height: 55px;
            color: #08b80c;
            font-size: 24px;
            text-align: center;
            float: left;
        }

        .help-box .bottoms .viewmore {
            width: 49%;
            float: right;
            height: 55px;
            border-left: solid 1px #d2d2d2;
        }

            .help-box .bottoms .viewmore a {
                color: #0bb9e7;
                text-decoration: none;
                font-size: 16px;
                text-align: center;
                line-height: 55px;
            }

                .help-box .bottoms .viewmore a:hover {
                    color: #ff0000;
                }
/*--------------------------------- Fourth Section -------------------*/
.section_four {
    width: 100%;
    height: auto;
    padding: 65px 0 70px;
    background: #231f20;
    overflow: hidden;
}

.satisfa {
    width: 100%;
    height: auto;
}

    .satisfa .left_img {
        width: 100%;
        height: auto;
        border-right: dotted 2px #554b4e;
    }

        .satisfa .left_img img {
            width: 80%;
            height: auto;
        }

    .satisfa .txt {
        width: 90%;
        margin-left: 7%;
        height: auto;
    }

        .satisfa .txt p {
            line-height: 30px;
            font-size: 24px;
            color: #c6c6c6;
            padding: 0;
            margin: 10px 0;
            font-family: 'proxima_novalight';
        }

        .satisfa .txt h1 {
            padding: 0;
            margin: 20px 0;
            font-size: 30px;
            color: #ffffff;
            font-family: 'proxima_novalight';
        }

            .satisfa .txt h1 span {
                font-size: 48px;
                color: #08ccf7;
                font-family: 'proxima_novasemibold';
            }

        .satisfa .txt .blue_btn {
            width: auto;
            height: 49px;
            float: left;
        }

            .satisfa .txt .blue_btn a {
                width: auto;
                height: 49px;
                line-height: 49px;
                background: #08ccf7;
                text-decoration: none;
                color: #fff;
                display: inline-block;
                text-align: center;
                font-size: 22px;
                text-transform: uppercase;
                padding: 0 20px;
            }

                .satisfa .txt .blue_btn a:hover {
                    background: #4a4a4a;
                }
/*----start-about----*/
.about {
    padding: 3em 0;
}

.about-head {
    text-align: center;
}

    .about-head h1 {
        font-weight: 900;
        font-size: 2.6em;
        color: #222222;
        text-transform: uppercase;
    }

    .about-head span {
        width: 8%;
        height: 1px;
        background: #35C2F8;
        display: inline-block;
    }
/*--about-time-line--*/
.about-time-line {
    padding: 0;
    list-style: none;
    position: relative;
    width: 60%;
    margin: 6em auto 0em;
}

    .about-time-line li {
        display: inline;
        min-height: 300px;
    }

    .about-time-line:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        background: #F1F1F1;
        left: 49%;
        margin-left: -10px;
    }

    .about-time-line > li:nth-child(odd) .cbp_tmtime span:last-child {
        color: #6cbfee;
    }

    .about-time-line > li .cbp_tmtime span:last-child {
        font-size: 2.9em;
        color: #3594cb;
    }

    .about-time-line > li .cbp_tmtime span {
        display: block;
        text-align: right;
    }

    .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
        width: 170px;
        height: 170px;
        speak: none;
        font-size: 1.4em;
        line-height: 40px;
        position: absolute;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 8px #F1F1F1;
        -webkit-box-shadow: 0 0 0 8px #F1F1F1;
        -moz-box-shadow: 0 0 0 8px #F1F1F1;
        -o-box-shadow: 0 0 0 8px #F1F1F1;
        text-align: center;
        left: 41%;
        top: 0;
        margin: 0 0 0 -25px;
        display: block;
    }

.cbp_tmicon1 {
    left: 41%;
    top: 27%;
}

.cbp_tmicon2 {
    left: 41%;
    top: 52%;
}

.cbp_tmicon3 {
    left: 41%;
    top: 77%;
}

.cbp_tmicon4 {
    left: 41%;
    top: 100%;
}

.img1 {
    background: url(../images/time-line-img.jpg) no-repeat;
    background-size: 100% 100%;
}

.img2 {
    background: url(../images/time-line-img1.jpg) no-repeat;
    background-size: 100% 100%;
}

.img3 {
    background: url(../images/time-line-img2.jpg) no-repeat;
    background-size: 100% 100%;
}

.img4 {
    background: url(../images/time-line-img4.jpg) no-repeat;
    background-size: 100% 100%;
}

.img5 {
    background: url(../images/time-line-img5.png) no-repeat #7CC576;
    background-size: 100% 100%;
}

.about-time-line > li .cbp_tmlabel {
    margin: 0 0 0px -8%;
    color: #fff;
    padding: 1em 0em 0em 0;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    width: 40%;
    text-align: right;
    min-height: 250px;
}

.about-time-line > li .cbp_tmlabel1 {
    margin: 0 0 15px 65%;
    text-align: left;
}

.about-time-line > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

.cbp_tmlabel h2 {
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.93em;
    padding: 0;
    margin: 0;
}

.cbp_tmlabel h3 {
    color: #6a6a6a;
    font-weight: 600;
    font-size: 18px;
    font-family: 'proxima_novalight';
    padding: 0;
    margin: 0 0 15px;
}

.cbp_tmlabel p {
    color: #6e6e6e;
    line-height: 21px;
    font-family: 'proxima_novalight';
    font-size: 16px;
    margin-top: 0.8em;
}

    .cbp_tmlabel p .price {
        font-size: 30px;
        color: #08ccf7;
    }
/*--//about-time-line--*/

/*------------------------------ Footer ---------------------*/
.footer_section {
    width: 100%;
    height: auto;
    background: #21262a;
    padding: 40px 0;
    overflow: hidden;
}

footer {
    width: 100%;
    height: auto;
}

    footer .copyright {
        font-size: 14px;
        color: #fff;
        text-align: left;
        font-family: 'proxima_novalight';
        width: auto;
        line-height: 32px;
    }

    footer .social {
        width: auto;
        height: auto;
        float: right;
    }

        footer .social ul {
            padding: 0;
            margin: 0;
        }

            footer .social ul li {
                float: left;
                margin: 0 5px 0 0;
                list-style-type: none;
            }
/*--//profile image--*/


.positon-static {
    position: relative !important;
    background: #000 !important;
}

.name-profile-image {
    width: 100%;
    float: left;
    margin-top: 32px;
}

.profile-image-left {
    width: 160px;
    float: left;
    margin-right: 48px;
}

    .profile-image-left img {
        width: 100%;
        border: 5px solid #0bb3df;
        float: left;
    }

.profile-content {
    float: left;
}

    .profile-content h2 {
        font-size: 36px;
        color: #323232;
        margin-top: 17px;
        margin-bottom: 20px;
        font-family: 'proxima_novalight';
    }

    .profile-content p {
        font-size: 18px;
        color: #909090;
        font-family: 'proxima_novasemibold';
        margin-bottom: 0;
    }

        .profile-content p span {
            font-size: 14px;
            color: #ababab;
        }

.over-vew {
    width: 100%;
    float: left;
    margin-top: 25px;
}

    .over-vew h2 {
        color: #515151;
        font-family: 'proxima_novalight';
        font-size: 24px;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 18px;
        margin-bottom: 18px;
    }

    .over-vew p {
        color: #515151;
        font-size: 14px;
    }

.work {
    width: 100%;
    float: left;
    margin-top: 16px;
}

    .work h2 {
        font-size: 24px;
        color: #515151;
        font-family: 'proxima_novalight';
    }

    .work ul li {
        background: #f8f8f8;
        border: 1px solid #e3e3e3;
        list-style: none;
        float: left;
        width: 100%;
        padding: 22px;
        border-bottom: none;
    }

        .work ul li:last-child {
            border-bottom: 1px solid #e3e3e3;
        }

    .work ul {
        margin: 0;
        padding: 0;
        float: left;
    }

    .work .left-pan {
        width: 75%;
        float: left;
    }

.left-pan h3 {
    margin-top: 0;
    color: #515151;
    font-size: 18px;
    font-family: 'proxima_novasemibold';
}

.left-pan p {
    margin-bottom: 0;
    color: #515151;
    font-size: 14px;
    line-height: 21px;
}

.left-pan {
    margin-bottom: 0;
}

.right-pan {
    width: 20%;
    float: right;
    text-align: right;
}

.right-star-rate {
    margin-bottom: 11px;
}

.date {
    font-size: 14px;
    color: #868686;
}

.fixed-price {
    float: right;
    font-size: 18px;
    color: #7a7a7a;
    font-family: 'proxima_novalight';
}

    .fixed-price span {
        font-family: 'proxima_novasemibold';
    }

.right-block {
    float: left;
    width: 100%;
    border: 1px solid #e2e2e2;
}

.right-head {
    color: #424242;
    font-size: 20px;
    font-family: 'proxima_novasemibold';
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 0;
}

    .right-head h2 {
        padding-left: 18px;
        font-size: 20px;
        color: #424242;
        font-family: 'proxima_novasemibold';
        margin: 0;
    }

.right-block ul li {
    list-style: none;
    color: #7a7a7a;
    font-size: 16px;
    font-family: 'proxima_novalight';
    border-bottom: 1px solid #e1e1e1;
    padding: 18px;
    text-align: left;
}

.right-block ul {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .right-block ul li:last-child {
        border-bottom: none;
    }

    .right-block ul li span {
        margin-right: 10px;
    }

.user-profile .dropdown a {
    text-transform: capitalize;
}

.s-round {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    margin-right: 0px;
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}

    .s-round img {
        width: 100%;
    }

.dropdown-menu li a {
    color: #333 !important;
}

.dropdown-menu li {
    width: 100% !important;
}

.dropdown-menu {
    z-index: 9999;
    padding: 0px;
}

    .dropdown-menu li {
        padding: 3px 0 !important;
    }

.back a {
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'proxima_novalight';
}

.back .glyphicon-menu-left {
    font-size: 12px;
}

.nav-wrapper {
    width: 100%;
    background: #ebebeb;
}

.top-part {
    margin: 20px 0;
    width: 100%;
    float: left;
}

    .top-part h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 30px;
    }

.right-option {
    float: right;
    font-size: 14px;
    border-radius: 4px;
}

    .right-option label {
        padding-right: 10px;
        color: #5f5f5f;
    }

    .right-option select {
        border: 1px solid #ececec;
        border-radius: 4px;
        width: 100px;
    }

.navbar {
    margin-bottom: 0;
}

.inner .carousel .carousel-inner img {
    width: inherit !important;
}

.testimonilas-wrapper {
    width: 100%;
    background: url(../images/testi-bg.jpg) no-repeat;
    background-size: cover;
}

.custom-nav ul li a {
    color: #454545;
    text-transform: uppercase;
    padding: 10px 14px;
    font-size: 13px;
    line-height: 28px;
}

    .custom-nav ul li a:hover, .custom-nav ul li a:focus {
        color: #08b9e1;
        border-bottom: 2px solid #08b9e1;
        padding: 10px 14px 8px;
    }
/*=====================================
CLIENTS TESTIMONIAL STYLES
=====================================*/
.client-cover {
    padding: 100px 0;
}

    .client-cover #carousel-clients h4 {
        color: #fff;
        line-height: 25px;
        font-size: 22px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .client-cover #carousel-clients h3 {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'proxima_novalight';
        margin: 0;
    }

    .client-cover #carousel-clients .clients-img {
        border: 5px solid #2ac1e9;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }

        .client-cover #carousel-clients .clients-img img {
            width: 100px !important;
            height: 100px !important;
            border-radius: 100% !important;
        }

    .client-cover #carousel-clients p {
        color: #fff;
    }

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.p-cat {
    text-align: left;
    text-transform: uppercase;
    color: #454545;
    font-size: 30px;
}

.right-block ul li img {
    margin-top: -8px;
}

.inner-banner-wrapper {
    width: 100%;
    min-height: 284px;
    background: url(../images/profile-banner.jpg) no-repeat;
    float: left;
    background-size: cover;
}

.banner-info-new h1 {
    font-weight: 700;
    font-size: 40px;
    color: #FFF;
    width: 100%;
    display: inline-block;
    line-height: 16px;
    font-family: 'proxima_novasemibold';
    padding: 0;
    margin-top: 70px;
}

.banner-info-new p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 1em auto;
    width: 100%;
    font-family: 'proxima_novalight';
    padding: 0;
    margin: 0;
}

.banner-info-new span {
    width: 15%;
    height: 1px;
    background: #35C2F8;
    display: inline-block;
}

.custom-modal .modal-header {
    background: #333;
    border: 1px solid #666;
}

.custom-modal .modal-title {
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.custom-modal .close {
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

.btn-cust-new {
    background: #0bb9e7;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
    padding: 8px 30px 5px;
    /*box-shadow: 0 4px 0px 0px #0a9ec5;*/
}

.custom-modal .checkbox {
    margin: 0;
    padding: 0;
    width: auto;
}

.forgot {
    float: right;
}

.btn-cust-new:hover, .btn-cust-new:focus {
    background: #4f4f4f;
    color: #fff;
    /*box-shadow: 0 4px 0px 0px #333333;*/
}

.modal-content {
    border-radius: 0;
}

.custom-modal .modal-content {
    float: left;
    width: 100%;
}

.custom-modal .form-group {
    width: 100%;
    float: left;
}

.modal-body h2 {
    margin-top: 0;
}

.extraspace {
    padding: 30px 26px;
    width: 100%;
    display: inline-block;
}

.left-modal {
    border-right: 1px solid #ddd;
}

.control-label {
    margin-top: 10px;
}

.reg-box {
    width: 100%;
    float: left;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    background: #fff;
}

.body-wrapper {
    width: 100%;
    float: left;
    padding: 25px 0;
    background: #f4f4f4;
}

.heading h2 {
    font-family: 'proxima_novalight';
    font-size: 20px;
    color: #333;
    margin-top: 0;
    text-align: left;
}

    .heading h2 span {
        color: #0bb9e7;
        font-size: 30px;
    }

.btn-custom-big {
    background: #0bb9e7;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'proxima_novalight';
    text-align: center;
    width: 100%;
   /*box-shadow: 0 4px 0px 0px #0a9ec5;*/
}

    .btn-custom-big:hover, .btn-custom-big:focus {
        background: #4f4f4f;
        color: #fff;
        #box-shadow: 0 4px 0px 0px #333333;
    }

.top-steps {
    width: 100%;
    text-align: center;
    background: url(../images/line.png) repeat-x 0 20px;
}

    .top-steps .steps {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: #F3F3F3;
        border: 1px solid #E5E5E5;
        color: #333;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        margin: 0 10%;
    }

.act-modal .act {
    background: #0bb9e7;
    color: #fff;
}

.act-modal .compete {
    background: #093;
    color: #fff;
}

.act-modal .modal-header {
    background: #333;
    border: 1px solid #666;
}

.act-modal .close {
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

.act-modal .modal-title {
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.profile-left {
    width: 100%;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
}

.act-modal h3 {
    text-align: center;
    font-family: 'proxima_novalight';
    font-size: 22px;
}

.all-topics ul li {
    list-style: none;
    display: inline-block;
    margin: 4px;
    line-height: 30px;
}

.all-topics {
    width: 100%;
    text-align: center;
}

    .all-topics ul {
        margin: 0;
        padding: 0;
    }

        .all-topics ul li a {
            padding: 5px 20px;
            background: #E6E6E6;
            color: #333;
            border-radius: 4px;
        }

.other-topics {
    margin-top: 20px;
}

.user .radio {
    background: #F3F3F3;
    padding: 6px;
}

.btn-default-new {
    background: #E6E6E6;
    color: #333;
}

.radio label {
    display: inline-block;
}

.profile-image {
    width: 100%;
    background: #0bb9e7;
}

.get-help {
    background: #0bb9e7;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    float: left;
}

    .get-help:hover {
        color: #fff;
        background: #099fc6;
    }

.left-block {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.image-profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #0bb9e7;
}

.profile-left h4 {
    margin-bottom: 0;
}

.list-group-item span {
    background: #fff;
    padding: 1px 5px;
    border: 2px solid #0bb9e7;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 13px;
}

.right-block-new {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.right-block-top {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}

.icon-left {
    width: auto;
    font-size: 30px;
    float: left;
    margin-right: 20px;
}

.icon-content {
    width: 90%;
    float: left;
}

    .icon-content h4 {
        margin-bottom: 0;
    }

.right-block-top li {
    list-style: none;
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 5px 20px;
    border-bottom: none;
}

    .right-block-top li:last-child {
        border-bottom: 1px solid #ddd;
    }

    .right-block-top li:hover {
        background: #F9F9F9;
    }

.icon-content p span {
    font-weight: 400;
    font-size: 13px;
    color: #999;
}

.icon-content p {
    color: #333;
    font-size: 14px;
}

.icon-left .glyphicon {
    margin-top: 5px;
}

.image-thumb {
    width: 50px;
    height: 50px;
    border-radius: 70px;
    float: left;
    margin: 0 10px 10px 0;
}

.all-profile {
    width: 100%;
    background: #fff;
    float: left;
    border: 1px solid #EFEFEF;
    padding: 4%;
}

    .all-profile:hover {
        background: #F3F3F3;
        border: 1px solid #DFDFDF;
    }

    .all-profile ul {
        margin: 0;
        padding: 0;
    }

        .all-profile ul li {
            float: left;
            list-style: none;
        }

.profile-name {
    width: 92%;
    margin-top: 5px;
    float: left;
}

    .profile-name h3 {
        font-size: 18px;
        margin: 0;
        font-weight: bold;
        color: #3e90ca;
        line-height: 23px;
    }

        .profile-name h3 span {
            color: #6EB711;
            font-size: 11px;
        }

    .profile-name span {
        color: #3e90ca;
        font-size: 11px;
    }

    .profile-name p {
        margin-bottom: 0;
        width: 78%;
        color: #666;
        font-weight: bold;
        font-size: 89%;
        padding: 5px 0;
    }

.profile-details-right {
    width: 100%;
    float: left;
    margin-top: 6px;
}

    .profile-details-right p {
        color: #8e979b;
    }

    .profile-details-right .tag ul li a {
        background: #E3E0E0;
        color: #777;
    }

.tag {
    float: left;
    width: 100%;
}

    .tag ul {
        width: 100%;
    }

        .tag ul li a {
            background: #0bb9e7;
            color: #fff;
            font-size: 13px;
            padding: 2px 10px;
            border-radius: 4px;
        }

        .tag ul li {
            margin-right: 5px;
            margin-bottom: 5px;
        }

.avail {
    margin-top: 10px;
    float: left;
    width: 100%;
}

.all-steps2 {
    width: auto;
    text-align: center;
    float: left;
    margin-left: 32px;
    margin-top: 5px;
}

    .all-steps2 ul li {
        list-style: none;
        display: inline-block;
        color: #fff;
        line-height: 40px;
        margin-left: 26px;
    }

ul li .steps {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #F3F3F3;
    border: 1px solid #E5E5E5;
    color: #333;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-right: 7px;
}

.left-box {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #ddd;
}

.import {
    width: 160px;
    height: 35px;
    color: #fff;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    float: left;
    margin-right: 6px;
}

.in-icon {
    background: #0275b6;
}

.git {
    background: #262626;
}

.import-linked-in p span {
    font-size: 15px;
    color: #039;
}

.import-linked-in {
    float: left;
    margin-bottom: 25px;
}

.tell-bt-us {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

    .tell-bt-us p {
        font-size: 15px;
    }

        .tell-bt-us p span {
            color: #073648;
            font-weight: 600;
        }

    .tell-bt-us textarea {
        max-width: 100%;
    }

    .tell-bt-us ul {
        margin: 0;
        padding: 0;
    }

        .tell-bt-us ul li {
            list-style: none;
            font-size: 13px;
            display: inline-block;
            margin-right: 2%;
            width: 30%;
            font-weight: 600;
            color: #939393;
        }

            .tell-bt-us ul li .checkbox {
                padding-left: 0;
                margin: 6px 0;
            }

.right-box {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

    .right-box h2 {
        font-size: 22px;
        font-weight: 600;
        color: #000;
        margin-top: 0;
    }

    .right-box .glyphicon {
        padding-right: 10px;
    }

    .right-box p {
        color: #9A9A9A;
        font-size: 14px;
    }

.total-right {
    width: 100%;
    float: left;
}

/*4.6.15*/
.vertical-tab .nav-tabs > li {
    float: none;
}

.vertical-tab .nav > li > a {
    padding: 8px 15px;
}

.vertical-tab .nav-tabs {
    width: 17%;
    float: left;
    border-bottom: 0;
    border-right: 1px solid #ddd;
    padding: 20px 0;
}

.vertical-tab .tab-content {
    width: 78%;
    float: left;
    margin-left: 5%;
    position: relative;
}

.vertical-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    background: #fff;
    border-radius: 0;
    color: #073648;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.vertical-tab .nav-tabs > li > a {
    border: 0;
    color: #333;
    margin-right: -1px;
    border: 1px solid transparent;
}

    .vertical-tab .nav-tabs > li > a:hover {
        background: #fff;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

.remove {
    position: absolute;
    top: 0;
    right: 0;
    color: #858585;
    font-size: 13px;
}

.vertical-tab h2 {
    margin: 0 0 20px;
    font-size: 22px;
    color: #073648;
}

.vertical-tab textarea {
    max-width: 100% !important;
}

.btn-default {
    background: #F3F3F3;
    border: 1px solid #EAEAEA;
}

.bottom-bottons {
    float: right;
}

.vertical-tab .form-group {
    margin-bottom: 30px;
}

.vertical-tab .form-control {
    background: #F9F9F9;
}

.add-tab-menu {
    border-radius: 10px;
    padding: 4px 10px;
}

.all-steps2 .act {
    background: #5cb85c;
    border: none;
    color: #fff;
}

.icon-left {
    font-size: 25px;
    float: left;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #0bb9e7;
    text-align: center;
    line-height: 50px;
    color: #0bb9e7;
}

.right-block-top li {
    list-style: none;
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 15px 10px;
    border-bottom: none;
}

.icon-content h4 {
    margin: 0 0 5px;
}

.left-block .list-group-item {
    padding: 15px;
}

.right-block-new {
    margin-bottom: 15px;
}

.hor li.active > a, .hor li.active > a:focus, .hor li.active > a:hover {
    border: none;
    background: #fff;
    border-radius: 0;
    color: #073648;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.hor h2 {
    font-size: 18px;
}

.hor .tab-content {
    margin-top: 10px;
}

.left-box h2 {
    margin: 15px 0;
}

.hor .radio, .hor .checkbox {
    padding-left: 0;
}


/*===============================Developer========================================*/
.tag-list li {
    width: auto !important;
}

.smallimageonslider {
    float: left;
    margin: 5px 5px 5px 0;
    list-style: none;
    width: 76px;
    height: 50px;
    padding: 3px;
    cursor: pointer;
}

.imgactive {
    border: 1px solid #0BB9E7;
}

.smallimageonslider img {
    width: 100%;
    height: 100%;
}

.suggestion-list li {
    width: 100% !important;
    margin-right: 0 !important;
}

.suggestion-list {
    padding: 0 !important;
    margin: 0 !important;
}

tags-input .autocomplete {
    padding: 0 !important;
}

textarea {
    resize: none;
}

.category_span a {
    background-color: #e3e0e0 !important;
    color: #777 !important;
}

.job_amount {
    font-size: 14px !important;
}

.feed_userimage {
    float: left;
    padding: 5px 0 0 10px;
}

.notificationdiv {
    min-height: 20px;
    min-width: 20px;
    background-color: #FF2D00;
    position: absolute;
    border-radius: 100%;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding: 4px 5px 2px 3px;
    font-size: 11px;
    font-weight: bold;
    } 
.modal_loader

{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.79);
}

.circle {
    background-color: rgba(0,0,0,0);
    border: 10px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -64px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
/*===============================Developer========================================*/

/*===============================Filter========================================*/
.btn-filter {
    padding: 2px 8px;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: none;
    float: right;
}

.tab-content .well {
    background: #F7F7F7;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    display: inline-block;
    margin-bottom: 0;
}

.left-cat ul li {
    list-style: none;
    font-size: 13px;
}

    .left-cat ul li a {
        color: #333;
    }

    .left-cat ul li.act a {
        color: #52b6ec;
    }

    .left-cat ul li:before {
        content: "";
        padding-right: 28px;
        background: url(../images/blue-arrow.png) left no-repeat;
    }

    .left-cat ul li a:hover {
        color: #52b6ec;
    }

.left-cat .act:before {
    background: url(../images/blue-arrow-hover.png) no-repeat left !important;
    color: #000;
    font-weight: bold;
}

.left-cat {
    width: 100%;
}

.right-cat {
    width: 100%;
}

    .right-cat ul li a {
        color: #333;
    }

    .right-cat ul li.act a {
        color: #52b6ec;
    }

    .right-cat ul li {
        background: url(../images/blue-arrow.png) no-repeat 0 6px;
        padding-left: 25px;
        list-style: none;
    }

        .right-cat ul li.act {
            background: url(../images/blue-arrow-hover.png) no-repeat 0 6px;
        }

        .right-cat ul li a:hover {
            color: #52b6ec;
        }

    .right-cat ul {
        margin-bottom: 0;
    }

    .right-cat .act:after {
        background: url(../images/tick-24.png) no-repeat right !important;
    }

.all-cat {
    width: 100%;
}

.all-cat {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 6px;
}

    .all-cat ul {
        margin-bottom: 0;
    }

        .all-cat ul li {
            list-style: none;
            display: inline;
            margin: 0 5px 3px 0;
        }

            .all-cat ul li a {
                padding: 3px 8px;
                background: #E9E9E9;
                border-radius: 3px;
                border: 1px solid #D7D7D7;
                color: #333;
                box-shadow: inset 0 1px 1px #fff;
                line-height: 30px;
            }

                .all-cat ul li a .glyphicon {
                    font-size: 11px;
                }

.right-cat .act span {
    border: none !important;
    color: #52b6ec;
}
/*=======================================================================*/

/*===============================notification box========================================*/
.new-drop {
    position: absolute;
    z-index: 9999;
    right: 0;
    background: #fff;
    padding: 0px;
    top: 100%;
    border: 1px solid #ddd;
    width: 380px;
}

.new-maim-drop {
    position: relative;
    display: inline-block;
}

.new-drop ul li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

    .new-drop ul li .icon-content-new-2 {
        width: 82%;
    }

    .new-drop ul li:last-child {
        border-bottom: none;
    }

.online-new {
    position: absolute;
    right: 10px;
    top: 10px;
}
/*=======================================================================*/

/*********************************************GET Help*********************************************/
.top_scroll {
    width: 100%;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.search_sec {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: 100%;
    width: 100%;
    display: none;
    background: -moz-linear-gradient(top, rgba(0,50,56,1) 0%, rgba(75,189,234,0.91) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,50,56,1)), color-stop(100%,rgba(75,189,234,0.91))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,50,56,1) 0%,rgba(75,189,234,0.91) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,50,56,1) 0%,rgba(75,189,234,0.91) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,50,56,1) 0%,rgba(75,189,234,0.91) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,50,56,1) 0%,rgba(75,189,234,0.91) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003238', endColorstr='#e84bbdea',GradientType=0 ); /* IE6-9 */
}

.first_step h2 {
    color: #fff;
    font-family: "proxima_novasemibold";
    margin: 20px 0;
    margin-top: 40px;
}

.first_step .form-control {
    background: none !important;
    height: 40px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: #fff !important;
    font-size: 18px;
}

.big_search {
    border-bottom: 2px solid #fff;
    border-left: 0;
    border-right: 0;
    padding: 5px 0;
}

#gotonext {
    background: none;
    padding: 0 10px;
    border: 1px solid #ADAAAA;
    border-radius: 0;
    background: rgba(26, 26, 26, 0.34);
    /*transition: all 250ms*/
    opacity: 0;
}

    #gotonext a {
        color: #fff;
        background: #337ab7;
    }

    #gotonext p {
        color: #fff;
        line-height: 30px;
        margin: 0;
    }

    #gotonext span {
        margin: 0 5px;
    }

.first_step .help {
    color: #fff;
    opacity: .40;
    margin-top: 10px;
    display: block;
}

    .first_step .help:hover {
        color: #fff;
        opacity: 1;
        transition: all 300ms;
        text-decoration: underline;
    }

.cancel_sec {
    position: absolute;
    z-index: 999;
    bottom: 0;
    height: 10%;
    background: rgba(0, 0, 0, 0.43);
    width: 100%;
    border-top: 1px solid #fff;
    cursor: pointer;
    opacity: .70;
}

    .cancel_sec i {
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
    }

    .cancel_sec span {
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
    }

.powerd_by {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

    .powerd_by span {
        color: #e3e3e3;
        font-size: 12px;
        margin-right: 10px;
    }

    .powerd_by img {
        height: 13px;
    }

.cancel_sec:hover {
    opacity: 1;
}

.second_step {
    margin-top: 40px;
    height: 100%;
    display: none;
}

    .second_step h2 {
        color: #fff;
        font-size: 22px;
        margin-bottom: 30px;
        position: relative;
        display: block;
        position: relative;
    }

        .second_step h2 a {
            left: -30px;
            position: absolute;
            z-index: 999;
            color: #fff;
        }

    .second_step i {
        margin: 2px 7px;
        float: left;
    }

#btn_cat i {
    margin: 3px 0px;
    float: left;
}

.second_step h2 span {
    float: left;
}

.category_rearch input[type="text"] {
    background: none;
    height: 47px;
    color: #fff !important;
    font-size: 18px;
}

.form-control::-moz-placeholder {
    color: #fff;
}
/****************************************/
.tutor_div {
    border: 1px solid #d5d5d5; /*padding:15px;*/
    margin: 10px 0;
    overflow: hidden;
    min-height: 400px;
}

.tutor_img img {
    height: 60px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.tutor_img {
    border: 1px solid #d5d5d5;
    border-left: 0;
    border-top: 0;
    height: 60px;
    width: 17%;
    float: left;
    overflow: hidden;
}

.tutor_name {
    border: 1px solid #d5d5d5;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    height: 60px;
    width: 83%;
    float: left;
}

    .tutor_name h4 {
        color: #323232;
        font-family: "proxima_novasemibold";
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        text-indent: 20px;
        line-height: 60px;
        margin: 0;
    }

        .tutor_name h4 a {
            float: right;
            margin: 20px 20px;
            color: #09C8F3;
            margin-left: 0;
        }

.tutor_des {
    padding: 15px;
}

    .tutor_des span {
        display: block;
        color: #6f6b6a;
        width: 100%;
    }

    .tutor_des b {
        display: block;
        color: #09C8F3;
        width: 100%;
    }

    .tutor_des strong {
        display: block;
        color: #696565;
        width: 100%;
    }

    .tutor_des p {
        display: block;
        color: #918e8e;
        width: 100%;
        line-height: 15px;
        font-size: 13px;
    }

    .tutor_des b p {
        display: block;
        width: auto;
        float: right;
    }

        .tutor_des b p a {
            color: #e8c431;
        }

.class_schudle {
    width: 100%;
    padding: 0;
    list-style: none;
}

    .class_schudle li {
        float: left;
        width: 31.30%;
        margin: 10px 1%;
        border: 1px solid #d5d5d5;
        background: #09C8F3;
    }

    .class_schudle a {
        display: block;
        text-align: center;
        color: #515151;
        font-size: 11px;
        line-height: 17px;
        padding: 5px 0;
        color: #fff;
    }


.notification {
    width: 300px;
    height: auto;
    background: #fff;
    position: absolute;
    z-index: 9999999;
    top: 43px;
    right: 0;
    display: none;
}

#header-nav {
    position: relative;
}

.notification a {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 7px 0;
    border-bottom: 1px dotted #cccccc;
    display: block;
}
/*.notification{list-style: none;width:100%;height:auto;overflow: hidden;}*/
.notification li {
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
}

    .notification li img {
        width: 40px;
        float: left;
        border-radius: 100%;
    }

    .notification li aside {
        width: 81%;
        float: right;
    }

        .notification li aside p, .notification li aside span {
            text-align: left;
            color: #918e8e;
            ;
            font-size: 12px;
            display: block;
            text-transform: none;
            line-height: 15px;
            margin: 0;
        }

        .notification li aside span {
            font-weight: bold;
            color: #373737;
        }


    .notification li:first-child {
        width: 100%;
        height: 30px;
        background: #09C8F3;
        margin-top: 0;
    }

        .notification li:first-child b {
            float: left;
            line-height: 30px;
            margin-left: 10px;
            color: #232323;
            font-weight: normal;
        }

        .notification li:first-child a {
            color: #fff;
            display: block;
            float: right;
            font-size: 13px;
            font-weight: bold;
            line-height: 30px;
            text-transform: none;
            width: auto;
            margin: 0;
        }

.notiover {
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    overflow-y: scroll;
    margin-top: 10px;
}

    .notiover a {
        padding: 5px 10px !important;
    }

.notification li:last-child {
    width: 100%;
    height: 30px;
    background: #b9f1fd;
    margin-top: 0;
}

    .notification li:last-child b {
        float: left;
        line-height: 30px;
        margin-left: 10px;
        color: #232323;
        font-weight: normal;
    }

    .notification li:last-child a {
        color: #5f5f5f;
        display: block;
        font-size: 13px;
        line-height: 30px;
        text-transform: none;
        width: auto;
        margin: 0;
        text-align: center;
    }


.ptag {
    color: #0BB9E7 !important;
    font-size: 16px;
    font-weight: normal;
}

.postedby {
    float: left;
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0px 0px 3px 0px #b3b3b3;
    padding: 5px;
}

    .postedby img {
        float: left;
    }

    .postedby p {
        width: 200px;
        float: left;
        line-height: 30px;
        margin: 0;
        margin-left: 10px;
    }

.post_body {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px #b3b3b3;
}

    .post_body h1 {
        font-size: 18px;
        margin: 0;
        text-align: left;
        margin-bottom: 7px;
    }


.job_posted {
    list-style: none;
    background: #fff;
}

.post_body b {
    color: #0BB9E7;
    font-size: 16px;
    font-weight: normal;
}

.post_body p {
    color: #b1abab;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
}

.post_body span {
    display: block;
}

    .post_body span p {
        float: left;
        line-height: 25px;
    }

    .post_body span a {
        float: left;
        padding: 2px 10px;
        background: #0BB9E7;
        color: #fff;
        margin-left: 10px;
        border-radius: 2px;
    }


/***************************************************end soutik***********************************/
/************************************************************************************/
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.group_box {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px dotted #fff;
}

.schdule_div {
    border: 1px solid #fff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 100%;
    min-height: 80px;
    padding: 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    color: #fff;
    font-family: "proxima_nova_rgregular" !important;
    opacity: .40;
}

    .schdule_div:hover {
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    .schdule_div a {
        font-family: fontawesome-webfont !important;
        color: #fff;
    }

.text-danger {
    text-shadow: none;
    color: #f29997;
}

.checked {
    border: 1px solid #fff;
    font-family: fontawesome-webfont;
    opacity: 1;
}

    .checked::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\f00c";
        width: 40px;
        height: 40px;
        background-image: url(../images/corner.png);
        font-family: fontawesome-webfont;
        font-size: 18px;
        text-align: left;
        padding-left: 3px;
        color: #003238;
    }

#catfild_on_off, #catfild_on_off_cat {
    display: none;
}

.rotate, .rotate_cat {
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

    .rotate.down, .rotate_cat.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #f29997;
    }

.btn_spin, .btn_spin_cat {
    width: 40px;
    height: 40px;
    background: rgba(23, 86, 101, 0.37);
    border: 1px solid #fff;
    color: #fff;
    opacity: 0.8;
}

    .btn_spin:hover, .btn_spin_cat:hover {
        opacity: 1;
    }

    .btn_spin i, .btn_spin_cat i {
        color: #60cb5a;
    }

.buttontext, .buttontextcat {
    color: #eaeaea;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    float: left;
}

.group_box h5 {
    color: #fff;
    font-size: 16px;
    font-family: 'proxima_novasemibold';
    text-transform: uppercase;
    margin-top: 15px;
}

    .group_box h5 span {
        text-transform: none;
        font-size: 15px;
    }

.group_box textarea {
    background: none;
    color: #fff;
}

.group_box .form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

.category_rearch {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    margin-top: 15px;
}


.font_aswm span {
    font-family: fontawesome-webfont;
    margin-right: 5px;
}

.font_aswm button {
    padding: 12px 10px;
}


.category_rearch ul {
    width: 100%;
    heightr: auto;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0px !important;
}

    .category_rearch ul li {
        width: 31%;
        heightr: auto;
        overflow: hidden;
        margin: 5px 1%;
        float: left;
        border: 1px solid #fff;
        position: relative;
        height: 30px;
        cursor: pointer;
        border-radius: 3px;
        opacity: .70;
    }

        .category_rearch ul li::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f067";
            width: 30px;
            height: 30px;
            background-image: url(../images/corner.png);
            font-family: fontawesome-webfont;
            font-size: 12px;
            text-align: left;
            padding-left: 4px;
            color: #003238;
            background-size: cover;
        }

        .category_rearch ul li:hover {
            opacity: 1;
            transition: all 250ms;
        }

        .category_rearch ul li a {
            display: block;
            text-indent: 24px;
            color: #fff;
            font-size: 16px;
            line-height: 32px;
        }


.price_div {
    width: 15.50%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin-right: 5px;
    padding: 0;
    position: relative;
    opacity: .7;
    cursor: pointer;
    margin-bottom: 5px;
}

    .price_div:hover {
        opacity: 1;
    }

    .price_div.active {
        opacity: 1 !important;
    }

        .price_div.active::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f00c";
            width: 40px;
            height: 40px;
            background-image: url(../images/corner.png);
            font-family: fontawesome-webfont;
            font-size: 12px;
            text-align: left;
            padding-left: 6px;
            color: #003238;
            background-size: cover;
            line-height: 22px;
        }

.class_last_submit button {
    float: left;
}

.class_last_submit .checkbox {
    float: left;
}

    .class_last_submit .checkbox label {
        padding: 0;
        color: #fff;
    }

.class_last_submit .btn {
    background: #60cb5a !important;
    color: #fff !important;
    opacity: 0.7 !important;
}

    .class_last_submit .btn:hover, .class_last_submit .btn:active {
        background: #60cb5a !important;
        color: #fff !important;
        opacity: 0.9 !important;
    }

.checkbox {
    margin-left: 20px;
}

    .checkbox .check_box {
        display: none;
    }

    .checkbox input[type="checkbox"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        background: url(../images/check_radio_sheet.png) left top no-repeat;
        cursor: pointer;
    }

    .checkbox input[type="checkbox"]:checked + label span {
        background: rgba(0, 0, 0, 0) url("../images/check_radio_sheet.png") no-repeat scroll -19px top;
    }

    .checkbox label#c1 {
        opacity: .60;
    }

    .checkbox input[type="checkbox"]:checked + label {
        opacity: 1 !important;
    }


.catgory_holder, .catgory_holder_cat {
    margin-right: 5px;
}

    .catgory_holder .btn, .catgory_holder_cat .btn {
        background: rgba(23, 86, 101, 0.37) none repeat scroll 0 0;
        border: 1px solid #fff;
        color: #fff;
        height: 40px;
        opacity: 0.8;
        width: auto;
        margin-bottom: 5px;
    }

        .catgory_holder .btn span, .catgory_holder_cat .btn span {
            float: left;
            line-height: 27px;
        }

        .catgory_holder .btn i, .catgory_holder_cat .btn i {
            float: left;
            margin: 6px 0 0 13px;
        }

    .catgory_holder button:hover, .catgory_holder button:focus, .catgory_holder_cat button:hover, .catgory_holder_cat button:focus {
        color: #fff;
    }

    .catgory_holder button i, .catgory_holder_cat button i {
        float: none;
    }

.rote_close {
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

    .rote_close.down {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #f29997;
    }


@media screen and (max-width: 1024px) {
    .cancel_sec span, .powerd_by {
        display: none;
    }

    .col-md-3, col-md-9 {
        position: inherit !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: inherit !important;
    }
}

@media screen and (max-width: 800px) {
    .second_step h2 a {
        top: -33px;
        top: 0;
    }

    .col-md-3, col-md-9 {
        position: inherit !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: inherit !important;
    }
}

@media screen and (max-width: 480px) {
    .price_div {
        width: 48%;
    }

    .class_last_submit .checkbox {
        padding-left: 0;
    }

    .col-md-3, col-md-9 {
        position: inherit !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: inherit !important;
    }
}
/***************************************************end get help***********************************/


/**************************************************userdashboard************************************/
.icon-left-new {
    font-size: 18px;
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0bb9e7;
    text-align: center;
    line-height: 40px;
    color: #0bb9e7;
}

.icon-content-2 {
    width: 90%;
    float: left;
}

    .icon-content-2 p {
        font-size: 18px;
        color: #333;
    }

.icon-alpha {
    opacity: 0.5;
}

.icon-left-new .glyphicon-remove {
    color: #BF2024;
}

.profile_left_menu.act span {
    border: 2px solid #fd8560 !important;
    color: #fd8560;
}

.profile_left_menu.act {
    background: #efefef;
}

.icon-qustion {
    font-size: 18px;
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0bb9e7;
    text-align: center;
    line-height: 40px;
    color: #0bb9e7;
}

.icon-content-new-2 {
    width: 90%;
    float: left;
}

    .icon-content-new-2 h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 5px;
    }

    .icon-content-new-2 p {
        font-size: 13px;
        margin: 5px 0;
    }

        .icon-content-new-2 p span {
            color: #8e979b;
            margin: 0;
        }

.confirm {
    width: 90%;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-left: 7%;
}

.profile_img-new {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

    .profile_img-new img {
        width: 100%;
    }

.confirm p {
    margin-bottom: 5px;
}

.dashboard-right-nav {
    float: right;
    margin-bottom: 0;
    margin-top: 20px;
}

    .dashboard-right-nav li {
        float: left;
        list-style: none;
        padding: 0 6px;
    }

        .dashboard-right-nav li a {
            color: #E4E4E4;
            padding: 6px 10px;
            cursor: pointer;
        }

    .dashboard-right-nav .dropdown-menu li a {
        text-align: left;
        line-height: 20px;
        color: #333;
    }

    .dashboard-right-nav .dropdown-menu li {
        border-bottom: 1px solid #E8E8E8;
    }

        .dashboard-right-nav .dropdown-menu li:last-child {
            border: none;
        }

.online {
    color: #0C3 !important;
}

.offline {
    color: #C03 !important;
}

.busy {
    color: #C63 !important;
}

.away {
    color: #F90 !important;
}

.donotdistrub {
    color: #333;
}

.left-block .list-group-item {
    padding: 15px;
}

.right-block-new, .left-box, .lets_friend, .feature_expert {
    margin-bottom: 15px;
}

.hor li.active > a, .hor li.active > a:focus, .hor li.active > a:hover {
    border: none;
    background: #fff;
    border-radius: 0;
    color: #073648;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.hor h2, .lets_friend h2, .feature_expert h2 {
    font-size: 18px;
}

.hor .tab-content {
    margin-top: 10px;
}

.left-box h2, .lets_friend h2, .feature_expert h2 {
    margin: 7px 0;
}

.hor .radio, .hor .checkbox {
    padding-left: 0;
}

.lets_friend, .feature_expert {
    width: 100%;
    float: left;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #DDD;
}

.tweet_share {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.social_box {
    float: right;
    float: left;
    width: 40%;
}

    .social_box input {
        width: 100%;
        padding: 5px;
        border: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
    }

.feature_expert .btn {
    width: auto;
    margin-right: 7px;
}

.profile_img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
}

    .profile_img img {
        width: 100%;
    }
/**************************************************userdashboard************************************/
/**************************************************userprofile************************************/
.body-wrapper-2 {
    width: 100%;
    float: left;
    padding: 0px 0 25px 0;
    background: #f4f4f4;
}

.profile-background {
    background: #08c7f2;
    width: 100%;
    float: left;
    padding: 60px 0;
}

.profile-image-edit-option {
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 30px;
}

    .profile-image-edit-option img {
        width: 100%;
        border-radius: 50%;
    }

.hide-info {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
}

.profile-image-edit-option :hover.hide-info {
    cursor: pointer;
    opacity: 1;
}

.tag-2 {
    width: auto;
    float: left;
    margin-right: 5px;
}

.left-profile-details {
    width: auto;
    float: left;
    color: #fff;
}

    .left-profile-details h2 {
        color: #fff;
        margin-top: 0;
    }

    .left-profile-details a {
        color: #000;
        font-weight: 600;
    }

.onclic-edit {
    float: left;
    margin: 0 0 8px 0;
    color: #333;
}

    .onclic-edit select, .onclic-edit input {
        padding: 6px;
        border-radius: 4px;
        border: 0;
        float: none;
    }

.all-tags {
    width: 100%;
    float: left;
}

.right-box-fixed {
    width: 350px;
    float: left;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: fixed;
    text-align: center;
    z-index: 999;
    padding-top: 40px;
}

.small-pro-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.right-box-fixed h2 a {
    color: #000;
    font-size: 26px;
    margin-bottom: 10px;
}

.right-box-fixed p {
    margin-bottom: 5px;
    font-size: 14px;
}

.bottom-fixed {
    background: #F0F0F0;
    padding: 20px 0;
}

.right-box-fixed a {
    color: #000;
}

.right-box-fixed .onclic-edit {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 10px;
}

.over-view {
    background: #fff;
    padding: 20px 0;
    width: 100%;
    float: left;
    font-size: 16px;
}

.about-wrapper {
    width: 100%;
    float: left;
    background: #F5F5F5;
    width: 100%;
    float: left;
    padding: 40px 0;
}

.left-box-profile-edit {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #EAEAEA;
    padding: 15px;
    margin-bottom: 20px;
}

    .left-box-profile-edit h2 {
        font-size: 18px;
        font-weight: 900;
    }

        .left-box-profile-edit h2 a {
            color: #333;
        }

.edit-list {
    margin-top: 19px;
    padding-left: 0px;
}

    .edit-list li {
        list-style: none;
        padding-left: 0px;
        position: relative;
    }

        .edit-list li .input-style {
            width: 60%;
            border: 1px solid #ddd;
            padding: 5px;
        }

.request {
    padding-left: 0px;
}

    .request li {
        width: 100%;
        background: #F9F9F9;
        border: 1px solid #E6E6E6;
        padding: 10px;
        list-style: none;
        position: relative;
    }

        .request li h2 {
            margin-top: 0;
            color: #08c7f2;
        }

        .request li a {
            color: #69C;
            padding-right: 10px;
        }

.menteeProfile .solved {
    border-bottom: 40px solid #999;
}

.request li .solved {
    border-bottom: 40px solid #999;
}

.request li .requestSign {
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -26px;
    text-transform: uppercase;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.signText {
    font-size: 10px;
    position: absolute;
    left: -38px;
    bottom: -38px;
    width: 78px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    text-align: center;
    font-weight: 700;
}

.solved-color {
    border-bottom: 40px solid #393 !important;
}

.right-small-text {
    color: #C00;
    padding-left: 20px;
}

.text-area-new {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    min-height: 100px;
    max-width: 100%;
    float: left;
}

.small-comment-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.attached-section {
    width: 100%;
    background: #EFEFEF;
    padding: 15px;
    float: left;
}


/**************************************************userprofile************************************/

/*Styles for screen 600px and lower*/
@media (max-width:1024px) {
    .logo {
        float: left;
        margin-top: 0px;
        width: 192px;
        height: auto;
    }

    .left-block {
        width: 100%;
        margin-bottom: 15px;
        display: inline-block;
    }
}

@media screen and (max-width: 1150px) {
    .banner-info h1 {
        font-weight: 700;
        font-size: 28px;
        color: #FFF;
        text-transform: uppercase;
        width: 100%;
        display: inline-block;
        line-height: 0;
        font-family: 'proxima_novasemibold';
        padding: 0;
        margin: 0;
    }

    .banner-info p {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        line-height: 20px;
        margin: 1em auto;
        width: 100%;
        font-family: 'proxima_novalight';
        padding: 0;
        margin: 3px 0;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 900px) {
    .banner-info h1 {
        font-weight: 700;
        font-size: 23px;
        color: #FFF;
        text-transform: uppercase;
        width: 100%;
        display: inline-block;
        line-height: 0;
        font-family: 'proxima_novasemibold';
        padding: 0;
        margin: 0;
    }

    .banner-info p {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 15px;
        margin: 1em auto;
        width: 100%;
        font-family: 'proxima_novalight';
        padding: 0;
        margin: 3px 0;
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 15px;
    }

    @media screen and (max-width: 768px) {
        .banner-wrapper {
            width: 100%;
            border: none;
            /*margin-top: 71px;*/
        }

        .carousel .carousel-inner {
            height: auto;
        }

            .carousel .carousel-inner img {
                height: auto;
            }

        .navbar-default .navbar-nav li {
            padding: 10px 0;
        }

        nav {
            height: auto;
            float: none;
        }

            nav ul {
                width: 100%;
                display: block;
                height: auto;
            }

            nav li {
                width: 100%;
                position: relative;
            }

                nav li a {
                    border-bottom: 1px solid #333;
                }

            nav a {
                text-align: left;
                width: 100%;
            }

        .carousel-caption img {
            width: 100%;
        }

        .carousel-caption {
            padding-bottom: 50px;
        }

        .satisfa .left_img {
            border-bottom: dotted 2px #554b4e;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-right: none;
            overflow: hidden;
            text-align: center;
        }

            .satisfa .left_img img {
                width: 50%;
                height: auto;
            }

        .left-pan {
            width: 100%;
        }

        .right-pan {
            width: 100%;
            float: left;
            text-align: left;
            margin-top: 15px;
        }

        .fixed-price {
            float: none;
        }

        .right-block {
            margin-top: 15px;
        }

        .sarch_box {
            width: 96%;
            height: 33px;
            border: solid 1px #5e5e5e;
            border-radius: 3px;
            background: none;
            display: block;
            margin: 2%;
        }

        footer .copyright {
            text-align: center;
            line-height: 185px;
        }

        .navbar-toggle {
            background: #0bb3df;
            margin-right: 0;
        }

        .icon-bar {
            background: #000;
        }

        .right-option {
            width: 100%;
            text-align: center;
            float: left;
            margin-top: 20px;
        }

            .right-option label {
                float: left;
                line-height: 30px;
            }

        .inner {
            margin-top: 0;
        }

        .banner-info {
            display: none;
        }

        .third_section {
            padding: 2px 0 70px;
        }

        footer .social ul {
            padding: 0;
            margin: 13px auto;
            width: 176px;
        }

        .footer_section {
            padding: 40px 0;
        }

        .navbar-nav {
            margin: 0;
        }

        .s-round {
            float: none;
            margin: 0 auto;
            margin-top: 10px;
        }

        .dropdown-menu {
            position: relative;
        }
    }
    /*Styles for screen 515px and lower*/
    @media only screen and (max-width : 768px) {
        .logo {
            width: 185px;
            height: auto;
        }

            .logo img {
                width: 100%;
                height: auto;
            }

        nav {
            border-bottom: 0;
            float: none;
        }

            nav ul {
                display: none;
                height: auto;
                margin: 16px 0 0 0;
                background: rgba(0,0,0,0.7);
            }

            nav a#pull {
                display: block;
                position: relative;
                color: #F26D7D;
                text-align: right;
                position: absolute;
                top: 10px;
            }

                nav a#pull:after {
                    content: "";
                    background: url('nav-icon.png') no-repeat;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                }

                nav a#pull img {
                    margin-right: 0%;
                }

        .carousel-caption img {
            width: 100%;
        }

        .carousel-caption {
            padding-bottom: 50px;
        }

        .satisfa .left_img {
            border-bottom: dotted 2px #554b4e;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-right: none;
            overflow: hidden;
            text-align: center;
        }

            .satisfa .left_img img {
                width: 50%;
                height: auto;
            }

        footer .copyright {
            text-align: center;
            line-height: 30px;
        }

        footer .social {
            width: 100%;
            text-align: center;
        }

        .about-time-line {
            width: 100%;
        }
    }
    /*Smartphone*/
    @media only screen and (max-width : 320px) {
        .banner-wrapper {
            width: 100%;
            border: none;
            /*margin-top: 71px;*/
        }

        .carousel .carousel-inner {
            height: auto;
        }

            .carousel .carousel-inner img {
                height: auto;
            }

        .logo {
            width: 185px;
            height: auto;
        }

            .logo img {
                width: 96%;
                margin: 2%;
                height: auto;
            }

        .sarch_box {
            width: 96%;
            margin: 2%;
        }

        .navbar-default .navbar-nav li {
            padding: 10px 0;
        }

        nav {
            float: none;
        }

            nav li {
                display: block;
                float: none;
                width: 100%;
            }

                nav li a {
                    border-bottom: 1px solid #333;
                }

        .satisfa .left_img {
            border-bottom: dotted 2px #554b4e;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-right: none;
            overflow: hidden;
            text-align: center;
        }

            .satisfa .left_img img {
                width: 80%;
                height: auto;
            }

        footer .copyright {
            text-align: center;
            line-height: 18px;
        }
    }

    #toTop {
        display: none;
        text-decoration: none;
        position: fixed;
        bottom: 14px;
        right: 3%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border: none;
        text-indent: 100%;
        background: url("../images/to-top1.png") no-repeat 0px 0px;
    }

    #toTopHover {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        float: right;
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
    }
    /*---- responsive-design ---- 
@media (max-width:1366px){
	.container{
		width:96%;
	}
}
@media (max-width:1280px){
	.container{
		width:96%;
	}
}*/
    @media (max-width:1024px) {
        .about-time-line > li .cbp_tmlabel {
            width: 55%;
            margin: 0% 0 0px -23%;
        }

        .about-time-line > li .cbp_tmlabel1 {
            margin: 0 0 15px 70%;
        }

        .about-time-line:before {
            left: 52%;
        }
    }

    @media (max-width:768px) {
        .about-time-line > li .cbp_tmlabel {
            width: 56%;
            margin: 0% 100% 0px 35%;
            text-align: left;
        }

        .about-time-line > li .cbp_tmlabel1 {
            margin: 0 0 15px 35%;
        }

        .about-time-line:before {
            left: 19.5%;
        }

        .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
            left: 10%;
        }
        
        .right-box-fixed{position: relative;width: 100%;margin-top:10px;}
        .profile-background{padding:15px 0}
        
        
    }

    @media (max-width:640px) {
        .about-time-line > li .cbp_tmlabel {
            width: 54%;
            margin: 0% 100% 0px 37%;
            text-align: left;
        }

        .about-time-line > li .cbp_tmlabel1 {
            margin: 0 0 15px 35%;
        }

        .about-time-line:before {
            left: 19.5%;
        }

        .about {
            padding: 1em 0 0;
        }

        .about-time-line {
            width: 100%;
            margin: 0;
        }

            .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
                left: 10%;
                width: 140px;
                height: 140px;
            }
    }

    @media (max-width:480px) {
        .about-time-line > li .cbp_tmlabel {
            width: 45%;
            margin: 0% 100% 0px 45%;
            text-align: left;
        }

        .about-time-line > li .cbp_tmlabel1 {
            margin: 0 0 15px 45%;
        }

        .about-time-line:before {
            left: 19.5%;
        }

        .about {
            padding: 40px 0;
        }

        .about-time-line {
            width: 100%;
            margin: 0;
        }

            .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
                left: 10%;
                width: 110px;
                height: 110px;
            }

        .about-head h1 {
            font-size: 2.2em;
        }

        .top-steps .steps {
            margin: 0 6%;
        }
        
        .social_box,.tweet_share{width:100%}
        
        
        .profile-image-edit-option{margin: 0 auto;float:none;}
        .badge-area label img{max-width:85% !important}
        .icon-left{float:none;margin:0 auto;margin-bottom:10px;}
        .icon-content{width:100%;}
        .left-box h2, .lets_friend h2, .feature_expert h2{font-size:20px;}
        .left-modal{border:0}
        .not_show{display: none;}
        
        #myTabContent #related_request span{width:100% !important}
        .lets_friend .btn.btn-primary{margin-left: 0px !important;}
    }

    @media (max-width:320px) {
        .about-time-line > li .cbp_tmlabel {
            width: 62%;
            margin: 0% 100% 0px 32%;
            text-align: left;
        }

        .about-time-line > li .cbp_tmlabel1 {
            margin: 0 0 15px 35%;
        }

        .about-time-line:before {
            left: 16%;
        }

        .about {
            padding: 1em 0 0;
        }

        .about-time-line {
            width: 100%;
            margin: 0;
        }

            .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
                left: 10%;
                width: 70px;
                height: 70px;
            }
    }
