
<div ng-controller="mentorleftpanelCtrl">

    <div class="left-block">
     <a href="javascript:void(0);" class="get-help" ng-click="switchToHelpee();"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Switch To Helpee</a>
    </div>
    
    <div class="left-block">
    <div class="profile-left"> 
      <!--<img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" ng-show="headersiteimage" class="image-profile" >
      <img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=100&width=100" ng-show="!headersiteimage" class="image-profile"  >-->
		<img src="{{loggedindetails.image!=''?loggedindetails.image:'assets/upload/user_images/noimage.png'}}" ng-show="imgtype==1" class="image-profile" >
		<img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=120&width=120" ng-show="imgtype==2" class="image-profile">
		<img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" class="image-profile" >
		<img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" class="image-profile" >
      <h4>{{loggedindetails.name}}</h4>
      <!--<a href="javascript:void(0);" class="btn btn-sm btn-success">Edit Profile</a>-->
      <p>Credit <a class="credit-link" href="/frontend/buy_credit">${{loggedindetails.credit_tokens}}</a></p> 
    </div>
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ><span>0</span>Active Requests</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('open-requests');"><span id="openreq">{{openrequestcount}}</span>Open Requests</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Request History</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Long-term Requests</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>LiveHelpout Monthly</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Offline Help</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Office Hours</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Tutorials</a>
   </div>
 </div>
</div>

