 <div class="col-md-3"> 
    <div class="left-block">
    <a href="javascript:void(0);" class="get-help" ng-click="openGetHelp();"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Get Help Now</a>
    <a href="javascript:void(0);" class="get-help" style="margin-top: 10px;" ng-click="switchToMentor();"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Switch To Mentor</a>
    </div>
    
    <div class="left-block">
    <div class="profile-left">
     
          <img src="{{loggedindetails.image!=''?loggedindetails.image:'assets/upload/user_images/noimage.png'}}" ng-show="imgtype==1" class="image-profile" >
		<img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=120&width=120" ng-show="imgtype==2" class="image-profile">
		<img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" class="image-profile" >
		<img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" class="image-profile" >
      <h4>{{loggedindetails.name}} </h4>
      <p>Credit <a class="credit-link" href="/frontend/buy_credit">${{loggedindetails.credit_tokens}}</a></p> 
    </div>
    <div class="list-group">
          <a href="javascript:void(0);" class="list-group-item profile_left_menu act" id="activereq" ng-click="make_active_menu('activereq')"><span>{{noofactiverequests}}</span>Active Requests</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="reqhistory" ng-click="make_active_menu('reqhistory')"><span>{{noofpreviousrequests}}</span>Request History</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="longtermmentorshps" ng-click="make_active_menu('longtermmentorshps')"><span>0</span>Long-term Mentorship</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="livehelpuoumnthly" ng-click="make_active_menu('livehelpuoumnthly')"><span>0</span>LiveHelpout Monthly</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Offline Help</a>
    </div>
    <div class="alert alert-info promo-message center" style="padding:15px;text-align:center;">
        <b class="show">
          Get more free credit!
        </b>
          Invite your friends by
        <b>
          <a href="javascript:void(0);">sharing</a>
        </b>
        your referral link now.
    </div>
    <div class="center hidden-phone" style="margin-bottom:10px;text-align:center;">
      <a href="javascript:void(0);">
        Try a Test Session Now
      </a>
    </div>
  </div>
</div>
