
.form-field .panel{ background:none; border:none; box-shadow:none;}

 @media (max-width: 767px) {
h1, .h1, .community-heading { font-size: 34px; }
}
h2, .h2 { font-size: 54px; }
h3, .h3 { font-size: 28px; }
h4, .h4 { font-size: 20px; }
h5, .h5, .question-heading, .answer-official-heading, .answer-list-heading, .topic-heading { font-size: 21px; }
h6, .h6 { font-size: 14px; }
b, strong { font-weight: 600; }
dl { margin-top: 0; margin-bottom: 25px; }
dt, dd { line-height: 1.6; }
dt { font-weight: bold; }
dd { margin-left: 0; }
abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #777777; }
blockquote { padding: 12.5px 25px; margin: 0 0 25px; border-left: 5px solid #eeeeee; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0; }
address { margin-bottom: 25px; font-style: normal; line-height: 1.6; }
#.clearfix:before, .category-list:before, .my-activities-nav ul:before, .community-nav ul:before, .clearfix:after, .category-list:after, .my-activities-nav ul:after, .community-nav ul:after { display: table; content: ""; }
.clearfix:after, .category-list:after, .my-activities-nav ul:after, .community-nav ul:after { clear: both; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.hidden { display: none !important; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .nesty-input { display: block; width: 100%; height: 39px; padding: 6px 12px; font-size: 16px; line-height: 1.6; color: #555555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px !important; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .nesty-input:focus { border-color: #9ed5e7; outline: 0; box-shadow: 0 0 2px #9ed5e7; }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .nesty-input::-moz-placeholder {
color: #999;
opacity: 1;
}
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .nesty-input:-ms-input-placeholder {
color: #999;
}
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .nesty-input::-webkit-input-placeholder {
color: #999;
}
fieldset { padding: 0; margin: 0; border: 0; min-width: 0; }
legend { display: block; width: 100%; padding: 0; margin-bottom: 25px; font-size: 24px; line-height: inherit; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }
label { display: inline-block; max-width: 100%; margin-bottom: 10px; font-weight: bold; }
input[type="search"] { -moz-box-sizing: border-box; box-sizing: border-box; }
input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; margin-top: 1px \9; line-height: normal; }
input[type="file"] { display: block; }
input[type="range"] { display: block; width: 100%; }
select[multiple], select[size] { height: auto; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
output { display: block; padding-top: 7px; font-size: 16px; line-height: 1.6; color: #555555; }
textarea { resize: vertical; height: 117px; }
input[type="search"] { -webkit-appearance: none; }
 @media screen and (-webkit-min-device-pixel-ratio: 0) {
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] { line-height: 39px; }
}
.form-field { margin-bottom: 20px; }
.radio, .checkbox, .comment-mark-as-solved { position: relative; display: block; margin-top: 10px; margin-bottom: 10px; }
.radio label, .checkbox label, .comment-mark-as-solved label { min-height: 25px; padding-left: 20px; margin-bottom: 0; font-weight: normal; cursor: pointer; }
.radio input[type="radio"], .checkbox input[type="checkbox"], .comment-mark-as-solved input[type="checkbox"] { position: absolute; margin-left: -20px; margin-top: 4px \9; }
.radio + .radio, .checkbox + .checkbox, .comment-mark-as-solved + .checkbox, .checkbox + .comment-mark-as-solved, .comment-mark-as-solved + .comment-mark-as-solved { margin-top: -5px; }
input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] { cursor: not-allowed; }
.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, .disabled.comment-mark-as-solved label, fieldset[disabled] .checkbox label, fieldset[disabled] .comment-mark-as-solved label { cursor: not-allowed; }
.help-block, .form-field p { font-size: 80%; display: block; margin-top: 10px; margin-bottom: 15px; color: #6d6d6d; }
input[type="submit"], a[role="button"], .ask-the-community__button, .lines-button, .login, .submit-a-request, .language-selector .dropdown-toggle, .article-subscribe, .article-unsubscribe, .see-all-articles, .comment-form-controls input, .share a, .question-subscribe, .question-unsubscribe, .answer:not(.answer-accepted) .answer-accept, .vote-controls a, .topic-subscribe, .topic-unsubscribe, .satisfaction-box input[type=radio] ~ label, .satisfaction-box .satisfaction-submit { display: inline-block; margin-bottom: 0; font-weight: 700; text-transform: uppercase; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 2px solid transparent; white-space: nowrap; letter-spacing: .1px; padding: 6px 12px 4px 12px; font-size: 11px; line-height: 1.6; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
input[type="submit"]:focus, a[role="button"]:focus, .ask-the-community__button:focus, .lines-button:focus, .login:focus, .submit-a-request:focus, .language-selector .dropdown-toggle:focus, .article-subscribe:focus, .article-unsubscribe:focus, .see-all-articles:focus, .comment-form-controls input:focus, .share a:focus, .question-subscribe:focus, .question-unsubscribe:focus, .answer:not(.answer-accepted) .answer-accept:focus, .vote-controls a:focus, .topic-subscribe:focus, .topic-unsubscribe:focus, .satisfaction-box input[type=radio] ~ label:focus, .satisfaction-box .satisfaction-submit:focus, input[type="submit"]:active:focus, a[role="button"]:active:focus, .ask-the-community__button:active:focus, .lines-button:active:focus, .login:active:focus, .submit-a-request:active:focus, .language-selector .dropdown-toggle:active:focus, .article-subscribe:active:focus, .article-unsubscribe:active:focus, .see-all-articles:active:focus, .comment-form-controls input:active:focus, .share a:active:focus, .question-subscribe:active:focus, .question-unsubscribe:active:focus, .answer:not(.answer-accepted) .answer-accept:active:focus, .vote-controls a:active:focus, .topic-subscribe:active:focus, .topic-unsubscribe:active:focus, .satisfaction-box input[type=radio] ~ label:active:focus, .satisfaction-box .satisfaction-submit:active:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
input[type="submit"]:hover, a[role="button"]:hover, .ask-the-community__button:hover, .lines-button:hover, .login:hover, .submit-a-request:hover, .language-selector .dropdown-toggle:hover, .article-subscribe:hover, .article-unsubscribe:hover, .see-all-articles:hover, .comment-form-controls input:hover, .share a:hover, .question-subscribe:hover, .question-unsubscribe:hover, .answer:not(.answer-accepted) .answer-accept:hover, .vote-controls a:hover, .topic-subscribe:hover, .topic-unsubscribe:hover, .satisfaction-box input[type=radio] ~ label:hover, .satisfaction-box .satisfaction-submit:hover, input[type="submit"]:focus, a[role="button"]:focus, .ask-the-community__button:focus, .lines-button:focus, .login:focus, .submit-a-request:focus, .language-selector .dropdown-toggle:focus, .article-subscribe:focus, .article-unsubscribe:focus, .see-all-articles:focus, .comment-form-controls input:focus, .share a:focus, .question-subscribe:focus, .question-unsubscribe:focus, .answer:not(.answer-accepted) .answer-accept:focus, .vote-controls a:focus, .topic-subscribe:focus, .topic-unsubscribe:focus, .satisfaction-box input[type=radio] ~ label:focus, .satisfaction-box .satisfaction-submit:focus { color: #0089d0; text-decoration: none; }
input[type="submit"]:active, a[role="button"]:active, .ask-the-community__button:active, .lines-button:active, .login:active, .submit-a-request:active, .language-selector .dropdown-toggle:active, .article-subscribe:active, .article-unsubscribe:active, .see-all-articles:active, .comment-form-controls input:active, .share a:active, .question-subscribe:active, .question-unsubscribe:active, .answer:not(.answer-accepted) .answer-accept:active, .vote-controls a:active, .topic-subscribe:active, .topic-unsubscribe:active, .satisfaction-box input[type=radio] ~ label:active, .satisfaction-box .satisfaction-submit:active { outline: 0; background-image: none; box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn-default, a[role="button"], .login, .submit-a-request, .language-selector .dropdown-toggle, .article-subscribe, .article-unsubscribe, .see-all-articles, .question-subscribe, .question-unsubscribe, .answer:not(.answer-accepted) .answer-accept, .vote-controls a, .topic-subscribe, .topic-unsubscribe { color: #0089d0; background-color: transparent; border-color: #0089d0; }
.btn-default:hover, a[role="button"]:hover, .login:hover, .submit-a-request:hover, .language-selector .dropdown-toggle:hover, .article-subscribe:hover, .article-unsubscribe:hover, .see-all-articles:hover, .question-subscribe:hover, .question-unsubscribe:hover, .answer:not(.answer-accepted) .answer-accept:hover, .vote-controls a:hover, .topic-subscribe:hover, .topic-unsubscribe:hover, .btn-default:focus, a[role="button"]:focus, .login:focus, .submit-a-request:focus, .language-selector .dropdown-toggle:focus, .article-subscribe:focus, .article-unsubscribe:focus, .see-all-articles:focus, .question-subscribe:focus, .question-unsubscribe:focus, .answer:not(.answer-accepted) .answer-accept:focus, .vote-controls a:focus, .topic-subscribe:focus, .topic-unsubscribe:focus, .btn-default:active, a[role="button"]:active, .login:active, .submit-a-request:active, .language-selector .dropdown-toggle:active, .article-subscribe:active, .article-unsubscribe:active, .see-all-articles:active, .question-subscribe:active, .question-unsubscribe:active, .answer:not(.answer-accepted) .answer-accept:active, .vote-controls a:active, .topic-subscribe:active, .topic-unsubscribe:active { color: #057297; background-color: transparent; border-color: #057297; }
.btn-default:active, a[role="button"]:active, .login:active, .submit-a-request:active, .language-selector .dropdown-toggle:active, .article-subscribe:active, .article-unsubscribe:active, .see-all-articles:active, .question-subscribe:active, .question-unsubscribe:active, .answer:not(.answer-accepted) .answer-accept:active, .vote-controls a:active, .topic-subscribe:active, .topic-unsubscribe:active { background-image: none; }
.btn-primary, .comment-form-controls input { color: #fff; background-color: #0089d0; border-color: #0089d0; }
.btn-primary:hover, .comment-form-controls input:hover, .btn-primary:focus, .comment-form-controls input:focus, .btn-primary:active, .comment-form-controls input:active { color: #e0e0e0; background-color: #057aa1; border-color: #057297; }
.btn-primary:active, .comment-form-controls input:active { background-image: none; }
.btn-success, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_good"] { color: #fff; background-color: #29B473; border-color: #29B473; }
.btn-success:hover, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_good"]:hover, .btn-success:focus, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_good"]:focus, .btn-success:active, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_good"]:active { color: #e0e0e0; background-color: #208a58; border-color: #1e8253; }
.btn-success:active, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_good"]:active { background-image: none; }
.btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
.btn-info:hover, .btn-info:focus, .btn-info:active { color: #e0e0e0; background-color: #31b0d5; border-color: #269abc; }
.btn-info:active { background-image: none; }
.btn-warning { color: #fff; background-color: #ffcd40; border-color: #ffc626; }
.btn-warning:hover, .btn-warning:focus, .btn-warning:active { color: #e0e0e0; background-color: #ffc00d; border-color: #e8ab00; }
.btn-warning:active { background-image: none; }
.btn-danger, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_bad"] { color: #fff; background-color: #ff5252; border-color: #ff3939; }
.btn-danger:hover, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_bad"]:hover, .btn-danger:focus, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_bad"]:focus, .btn-danger:active, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_bad"]:active { color: #e0e0e0; background-color: #ff1f1f; border-color: #fa0000; }
.btn-danger:active, .satisfaction-box input[type=radio] ~ label[for="satisfaction_rating_score_bad"]:active { background-image: none; }
input[type="submit"] { color: #fff; background-color: #29B473; border-color: #29B473; }
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active { color: #e0e0e0; background-color: #208a58; border-color: #1e8253; }
input[type="submit"]:active { background-image: none; }


.trending-question-list li a, .recent-articles ul li a, .related-articles ul li a, .promoted-articles ul li a, .related-questions ul li a { color: #2D2D2D; border-bottom: 1px solid #eeeeee; padding-bottom: 1px; }
.visibility-internal-icon:before { content: "\f023"; }
.error-page { max-width: 500px; margin: 0 auto; }
table { background-color: transparent; }
caption { padding-top: 8px; padding-bottom: 8px; color: #777777; text-align: left; }
th { text-align: left; }
.table, .my-activities-table table { width: 100%; max-width: 100%; margin-bottom: 25px; }
.table > thead > tr > th, .my-activities-table table > thead > tr > th, .table > thead > tr > td, .my-activities-table table > thead > tr > td, .table > tbody > tr > th, .my-activities-table table > tbody > tr > th, .table > tbody > tr > td, .my-activities-table table > tbody > tr > td, .table > tfoot > tr > th, .my-activities-table table > tfoot > tr > th, .table > tfoot > tr > td, .my-activities-table table > tfoot > tr > td { padding: 8px; line-height: 1.6; vertical-align: top; }
.table > thead > tr > th, .my-activities-table table > thead > tr > th { vertical-align: bottom; font-size: 12px; text-transform: uppercase; border-bottom: 1px solid #ddd; }
.table > caption + thead > tr:first-child > th, .my-activities-table table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .my-activities-table table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .my-activities-table table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .my-activities-table table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .my-activities-table table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .my-activities-table table > thead:first-child > tr:first-child > td { border-top: 0; }
.table .table, .my-activities-table table .table { background-color: #fff; }
.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td { padding: 5px; }
.table-striped > tbody > tr:nth-child(odd) { background-color: #f9f9f9; }
.table-hover > tbody > tr:hover { background-color: #f5f5f5; }
table col[class*="col-"] { position: static; float: none; display: table-column; }
table td[class*="col-"], table th[class*="col-"] { position: static; float: none; display: table-cell; }
.table-responsive, .my-activities-table { overflow-x: auto; min-height: 0.01%; }
@media screen and (max-width: 767px) {
.table-responsive, .my-activities-table { width: 100%; margin-bottom: 18.75px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; }
.table-responsive > .table, .my-activities-table > .table { margin-bottom: 0; }
.table-responsive > .table > thead > tr > th, .my-activities-table > .table > thead > tr > th, .table-responsive > .table > thead > tr > td, .my-activities-table > .table > thead > tr > td, .table-responsive > .table > tbody > tr > th, .my-activities-table > .table > tbody > tr > th, .table-responsive > .table > tbody > tr > td, .my-activities-table > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > th, .my-activities-table > .table > tfoot > tr > th, .table-responsive > .table > tfoot > tr > td, .my-activities-table > .table > tfoot > tr > td { white-space: nowrap; }
}
.header { position: relative; background-color: #f8f8f8; margin-bottom: 46px; }
main { padding-bottom: 40px; max-width: 1100px; margin: 0 auto; }
.ask-the-community { display: block; color: #fff; padding: 10px 16px; }
.ask-the-community__button { color: #fff; background-color: transparent; border-color: #fff; }
.ask-the-community__button:hover, .ask-the-community__button:focus, .ask-the-community__button:active { color: #e0e0e0; background-color: transparent; border-color: #e0e0e0; }
.ask-the-community__button:active { background-image: none; }
.lines-button { background-color: transparent; padding: 15px 7.5px; -webkit-transition: .3s; transition: .3s; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border-radius: 2px; }
@media (max-width: 767px) {
.lines-button { float: right; }
}
@media (min-width: 768px) {
.lines-button { display: none; }
}
.lines-button:hover { opacity: 1; }
.lines-button:active { -webkit-transition: 0; transition: 0; box-shadow: none; outline: 0; }
.lines-button:focus { outline: 0; }
.lines { display: inline-block; width: 30px; height: 2px; background: #2D2D2D; border-radius: 2px; -webkit-transition: 0.3s; transition: 0.3s; position: relative; }
.lines:before, .lines:after { display: inline-block; width: 30px; height: 2px; background: #2D2D2D; border-radius: 2px; -webkit-transition: 0.3s; transition: 0.3s; position: absolute; left: 0; content: ''; -webkit-transform-origin: 2.14286px center; -ms-transform-origin: 2.14286px center; transform-origin: 2.14286px center; }
.lines:before { top: 7.5px; }
.lines:after { top: -7.5px; }
.csstransforms3d .lines-button.close { -webkit-transform: scale3d(0.8, 0.8, 0.8); transform: scale3d(0.8, 0.8, 0.8); }
.csstransforms3d .lines-button.close .lines { background: transparent; }
.csstransforms3d .lines-button.close .lines:before, .csstransforms3d .lines-button.close .lines:after { -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; top: 0; width: 30px; }
.csstransforms3d .lines-button.close .lines:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.csstransforms3d .lines-button.close .lines:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }
.logo-wrapper { display: inline-block; vertical-align: middle; }
.logo img { display: block; }
.login { margin-bottom: 5px !important; }
.submit-a-request { margin-bottom: 5px; }
#user-menu { margin: 0 !important; border: 0 !important; }
 @-webkit-keyframes bounce {  0% {
-webkit-transform: translate3d(0, -25px, 0);
transform: translate3d(0, -25px, 0);
opacity: 0;
}
 25% {
-webkit-transform: translate3d(0, 10px, 0);
transform: translate3d(0, 10px, 0);
}
 50% {
-webkit-transform: translate3d(0, -6px, 0);
transform: translate3d(0, -6px, 0);
}
 75% {
-webkit-transform: translate3d(0, 2px, 0);
transform: translate3d(0, 2px, 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
 @keyframes bounce { 0% {
-webkit-transform: translate3d(0, -25px, 0);
transform: translate3d(0, -25px, 0);
opacity: 0;
}
 25% {
-webkit-transform: translate3d(0, 10px, 0);
transform: translate3d(0, 10px, 0);
}
 50% {
-webkit-transform: translate3d(0, -6px, 0);
transform: translate3d(0, -6px, 0);
}
 75% {
-webkit-transform: translate3d(0, 2px, 0);
transform: translate3d(0, 2px, 0);
}
 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
}
}
#user-dropdown [role="menuitem"] { padding: 10px 0; }
@media (min-width: 768px) {
#user-dropdown [role="menuitem"] { padding-left: 16px; padding-right: 16px; }
}
#user-dropdown [role=separator] { margin: 0; padding: 0; }
#user-dropdown, #user-dropdown[aria-expanded="false"] { opacity: 0; }
#user-dropdown[aria-expanded="true"] { display: inline; -webkit-animation: bounce 0.6s ease-out; animation: bounce 0.6s ease-out; opacity: 1; }
@media (max-width: 767px) {
#user-dropdown { display: inline; position: static; float: none; background: transparent !important; border: 0; }
#user-dropdown:before, #user-dropdown:after { display: none; }
}
#user { display: block; }
#user .dropdown-toggle { padding-right: 12px; }
@media (max-width: 767px) {
#user .dropdown-toggle:before, #user .dropdown-toggle:after { display: none; }
}
@media (min-width: 768px) {
#user { display: inline-block; vertical-align: middle; margin-left: 10px; margin-bottom: 5px; }
}
.user-avatar, .comment-avatar img, .question-avatar img, .answer-avatar img { width: 40px; height: 40px; border-radius: 100%; }
#user-password, #user-profile { color: #2D2D2D; }
@media (max-width: 767px) {
#user-password, #user-profile { background-color: #fff; padding: 6px 12px !important; border-radius: 4px; margin-top: 6px; min-width: 1px !important; }
}
#user-password [role=separator], #user-profile [role=separator] { padding: 6px 12px !important; }
#user-password form, #user-profile form { padding: 6px 12px !important; }
#user-profile { font-size: 14px !important; }
#user-profile dt { padding: 8px 4px !important; }
#user-profile dt label { margin-bottom: 0 !important; }
#user-profile input[type="text"] { font-size: 14px !important; }
#password-form label { font-size: 14px !important; }
#password-submit { float: none !important; margin: 0 !important; background: auto !important; }
.breadcrumbs { padding: 8px 0; margin-bottom: 25px; list-style: none; background-color: transparent; border-radius: 4px; }
.breadcrumbs > li { display: inline-block; }
.breadcrumbs > li + li:before { content: "› "; padding: 0 5px; color: #ccc; }
.help-center-name { display: inline-block; vertical-align: middle; margin: 0; color: inherit; }
@media (max-width: 767px) {
.help-center-name { display: none; }
}
.language-selector { display: inline-block; vertical-align: middle; margin-bottom: 5px; }
.search-box { position: relative; z-index: 2; margin-bottom: 66px; }
.search { position: relative; max-width: 720px; margin: 0 auto; }
.search:before { position: absolute; left: 20px; top: 50%; margin-top: -11px; font-size: 22px; content: "\f002"; color: #444; }
#query { background-color: #f9fbfd; border: 1px solid #ccc; border-radius: 9999em; color: #444; padding: 0 20px 0 55px; height: 60px; font-size: 20px; line-height: 1; -webkit-transition: border 0.3s ease; transition: border 0.3s ease; }
#query::-moz-placeholder {
color: #ccc;
opacity: 1;
}
#query:-ms-input-placeholder {
color: #ccc;
}
#query::-webkit-input-placeholder {
color: #ccc;
}
.community #query { border-color: #000; }
.search input[type="submit"] { display: none; }
.search-results-subheading-link { display: none; }
.search-results-list { margin-bottom: 40px; list-style: decimal; margin-left: 20px; }
.search-result { padding: 20px 0; border-bottom: 1px solid #eeeeee; }
.search-result-meta { font-size: 12px; text-transform: uppercase; font-weight: 700; color: #bbb; margin: 10px 0 15px; }
.search-result-meta a { color: #2D2D2D; }
.search-result-link { font-size: 18px; color: #0089d0; }
.search-result-votes { padding-left: 15px; color: #29B473; }
.search-result-votes:before { content: "\f164"; font-size: 20px; margin-right: 2px; }
.sub-nav .search { display: none; }
.category h2 > a { color: inherit; }
.category h1, .category h2 { border-bottom: 1px solid #eeeeee; padding-bottom: 20px; font-weight: 300; }
.category-description { color: #777; margin-bottom: 46px; }
.categories { margin-bottom: 46px; }
.category-list { padding: 0; margin: 0 -10px; list-style: none; }
.category-list > li { position: relative; padding: 0 10px; margin-bottom: 20px; }
@media (min-width: 768px) {
.category-list > li { display: table; float: left; width: 50%; height: 150px; }
}
@media (min-width: 992px) {
.category-list > li { width: 25%; }
}
.category-list > li a { display: block; vertical-align: middle; border-radius: 4px; padding: 20px; text-align: center; color: #fff; background-color: #0089d0; }
.category-list > li a:hover { border-color: #057297; color: #fff; text-decoration: none; }
@media (min-width: 768px) {
.category-list > li a { display: table-cell; }
}
 @media (min-width: 768px) {
.category-tree-with-article .section, .category-tree .section, .section-tree .section { display: inline-block; width: 49%; vertical-align: top; }
.category-tree-with-article .section:nth-of-type(even), .category-tree .section:nth-of-type(even), .section-tree .section:nth-of-type(even) { padding-left: 20px; }
.category-tree-with-article .section:nth-of-type(odd), .category-tree .section:nth-of-type(odd), .section-tree .section:nth-of-type(odd) { padding-right: 20px; }
}
.section { margin-bottom: 66px; }
.section h1, .section h2 { border-bottom: 1px solid #eeeeee; padding-bottom: 20px; font-weight: 300; }
.section h3 a { color: inherit; }
.section-description { margin-bottom: 46px; color: #777; }
.section-header { position: relative; }
.section-subscribe { position: absolute; right: 0; top: 0; }
.section-title { padding-right: 120px; }
 @media (max-width: 1199px) {
.article-header { margin-bottom: 40px; }
}
.article { position: relative; }
.article h1 { font-weight: 300; }
@media (min-width: 1200px) {
.article h1 { margin-bottom: 40px; }
}
.article-column { max-width: 720px; }
@media (min-width: 1200px) {
.article-column { margin: 0 auto; }
}
 @media (max-width: 1199px) {
.article-info { text-transform: uppercase; font-weight: 600; font-size: 12px; margin-bottom: 5px; }
}
@media (min-width: 1200px) {
.article-info { position: absolute; width: 150px; left: 0; top: 0; font-size: 14px; }
}
 @media (max-width: 1199px) {
.article-info__item { display: inline-block; vertical-align: middle; margin-right: 10px; }
}
.article-meta time { color: #bbb; }
 @media (max-width: 1199px) {
.article-meta__item { display: inline-block; vertical-align: middle; }
}
.article-meta__item--author { text-transform: uppercase; }
@media (max-width: 1199px) {
.article-meta__item--author { margin-right: 10px; }
}
 @media (min-width: 1200px) {
.article-author-name { font-weight: bold; }
}
.article-author-name a { color: #2D2D2D; }
 @media (min-width: 1200px) {
.article-follow { margin-top: 40px; }
}
.article-body { margin-bottom: 30px; }
.article-vote { position: relative; }
@media (min-width: 1200px) {
.article-vote { border: 1px solid #eeeeee; border-radius: 4px; padding: 20px; }
}
.article-vote-up, .article-vote-down { width: 30px; height: 30px; padding-left: 0 !important; padding-right: 0 !important; }
.article-vote-up:before, .article-vote-down:before { position: relative; top: -1px; }
.article-vote-up:before { content: "\f164"; }
.article-vote-up.article-voted { border-color: #29B473; color: #29B473; }
.article-avatar { display: none; }
@media (max-width: 1199px) {
.article-avatar { display: inline-block; vertical-align: top; }
}
@media (min-width: 1200px) {
.article-avatar { display: block; }
}
.article-avatar img { border-radius: 100%; width: 20px; height: 20px; }
@media (min-width: 1200px) {
.article-avatar img { margin-bottom: 10px; width: 80px; height: 80px; }
}
.article-vote-down { margin-left: 5px; }
.article-vote-down:before { content: "\f165"; }
.article-vote-down.article-voted { border-color: #ff5252; color: #ff5252; }
.article-vote-question { float: left; margin-right: 15px; }
.article-vote-controls { white-space: nowrap; }
.article-vote-count { display: block; font-size: 12px; font-weight: 300; color: #979797; }
.article-share { margin-bottom: 30px; }
.article-share ul { margin-top: 0; }
@media (min-width: 768px) {
.article-share { float: right; }
}
@media (min-width: 1200px) {
.article-share { float: none; position: absolute; right: 0; top: 0; }
}
.article-footer { margin-bottom: 30px; }
.article-attachments { margin-bottom: 30px; }
.attachments > li { margin-bottom: 10px; }
.attachments > li a:before { content: "\f019"; color: #2D2D2D; margin-right: 10px; }
.article-more-questions { margin-bottom: 46px; }
.article-more-questions a { white-space: nowrap; }
.article-sidebar { padding-top: 46px; border-top: 1px solid #eeeeee; }
.article-promoted span { font-size: 12px; vertical-align: middle; color: #fbce0a; }
.comment, .comment-form { position: relative; }
@media (min-width: 768px) {
.comment, .comment-form { padding-left: 60px; }
}
.comment-form { margin-bottom: 46px; }
.comment { margin-bottom: 20px; }
.comment .comment-container { border-bottom: 1px solid #eeeeee; }
.comment:last-child .comment-container { border-bottom: 0; }
.comment-actions { position: absolute; right: 0; top: 0; }
.comment-form-controls { margin-top: 20px; }
.comment-avatar { display: none; }
@media (min-width: 768px) {
.comment-avatar { display: block; position: absolute; left: 0; top: 0; }
}
.comment-avatar-agent:before { content: "\f007"; position: absolute; bottom: -5px; right: 5px; color: #29B473; font-size: 14px; }
.comment-author { display: block; }
.comment-delete, .comment-edit { display: none; }
.comment-published { display: block; margin-bottom: 10px; }
.comment-mark-as-solved { margin-top: 0; }
.comment-mark-as-solved input[type="checkbox"] { margin-left: 0; font-weight: 500; }
.pending-moderation-comment-badge { color: #ffcd40; }
.comment-attachments { margin-bottom: 15px; }
.comment-pending { color: #ffcd40; }
.share { list-style: none; margin: 15px 0 0 0; padding: 0; }
.share li { position: relative; margin-bottom: 5px; }
@media (max-width: 1199px) {
.share li { display: inline-block; vertical-align: top; width: 48%; }
}
.share a { display: block; }
.share a:before { position: relative; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 5px; }
.share a:hover { color: #fff; }
.share-facebook { color: #fff; background-color: #3d5b95; border-color: #3d5b95; }
.share-facebook:hover, .share-facebook:focus, .share-facebook:active { color: #e0e0e0; background-color: #2e4571; border-color: #2b406a; }
.share-facebook:active { background-image: none; }
.share-facebook:before { content: "\f09a"; }
.share-twitter { color: #fff; background-color: #24aadd; border-color: #24aadd; }
.share-twitter:hover, .share-twitter:focus, .share-twitter:active { color: #e0e0e0; background-color: #1c89b2; border-color: #1a82a9; }
.share-twitter:active { background-image: none; }
.share-twitter:before { content: "\f099"; }
.share-linkedin { color: #fff; background-color: #0976b4; border-color: #0976b4; }
.share-linkedin:hover, .share-linkedin:focus, .share-linkedin:active { color: #e0e0e0; background-color: #075683; border-color: #06507a; }
.share-linkedin:active { background-image: none; }
.share-linkedin:before { top: -1px; content: "\f0e1"; }
.share-googleplus { color: #fff; background-color: #d23e30; border-color: #d23e30; }
.share-googleplus:hover, .share-googleplus:focus, .share-googleplus:active { color: #e0e0e0; background-color: #aa3025; border-color: #a22e23; }
.share-googleplus:active { background-image: none; }
.share-googleplus:before { top: 2px; content: "\f0d5"; }
.request-table-toolbar { background-color: #fbfbfb; padding: 20px; margin-bottom: 46px; }
 @media (min-width: 480px) {
#quick-search { margin-bottom: 20px; }
}
@media (min-width: 768px) {
#quick-search { float: left; width: 50%; }
}
 @media (min-width: 768px) {
#request-status-select { width: 20%; display: inline-block; }
}
 @media (min-width: 768px) {
.request-table-toolbar { text-align: right; }
}
.my-activities-table time { color: #bbb; }
.my-activities-table time, .my-activities-table .request-status { font-size: 12px; font-weight: 700; text-transform: uppercase; }
#new_question { max-width: 720px; }
#new_question input[type="submit"] { margin-left: 10px; }
#question_details { height: 78px; }
.request-table-toolbar label { text-transform: uppercase; font-size: 12px; font-weight: 700; }
.request { position: relative; }
.request .upload-dropzone { margin-top: 20px; }
.request-column { max-width: 720px; }
@media (min-width: 1200px) {
.request-column { margin: 0 auto; }
}
.request-sidebar { text-transform: uppercase; font-weight: 700; font-size: 12px; }
.request-sidebar dt, .request-sidebar dd { display: inline-block; line-height: 1.2; }
.request-sidebar dt:first-child, .request-sidebar dd { margin-bottom: 10px; }
.request-sidebar dt { margin-left: 10px; }
.request-sidebar dt:first-child { margin-left: 0; }
.request-subject { border-bottom: 1px solid #eeeeee; margin-top: 0; padding-bottom: 20px; margin-bottom: 20px; }
.request-full { margin-bottom: 25px; }
.request-meta { margin-bottom: 30px; border-bottom: 1px solid #eeeeee; padding-bottom: 10px; }
.request-meta small { display: none; }
.request-description { margin-bottom: 30px; }
.request-status.request-solved, .request-status.request-closed { color: #29B473; }
.request-status.request-new, .request-status.request-open { color: #ffcd40; }
.request-status.request-answered { color: #ff5252; }
.attachment-list > li:before { content: ""; }
.new-request { max-width: 600px; }
@media (min-width: 1200px) {
.new-request { margin: 0 auto; }
.new-request h1{ font-size:25px; color: inherit; font-family: "museo-sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 300; line-height: 1.1; text-transform:capitalize;}
}
.searchbox-suggestions li { margin-bottom: 5px; }
.upload-dropzone { padding: 20px; border-color: #eeeeee; }
.intro-title { color: inherit; font-size: 28px; font-weight: 300; line-height: 1.1; text-align: center; margin-bottom: 26px; }
.custom-blocks { margin-bottom: 46px; }
.custom-block { margin-bottom: 20px; }
.custom-block a { display: block; }
.custom-block a:hover { text-decoration: none; }
@media (max-width: 320px) {
.custom-block img { display: inline-block; vertical-align: middle; max-width: 15%; margin-right: 4%; }
}
@media (min-width: 321px) {
.custom-block img { margin-bottom: 20px; margin-bottom: 45px; }
}
@media (min-width: 321px) {
.custom-block { float: left; width: 50%; text-align: center; padding: 0 16px; }
}
@media (min-width: 768px) {
.custom-block { width: 25%; }
}
.custom-block__title { font-size: 16px; }
@media (max-width: 320px) {
.custom-block__title { display: inline-block; width: 78%; }
}
.dropdown-toggle:after { content: "\f107"; color: inherit; margin-left: 5px; }
.dropdown-menu { padding: 0; border: 0; font-size: 14px; -webkit-transition: all .2s ease; transition: all .2s ease; box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06); }
.note { position: relative; padding: 0 20px; border-left: 4px solid transparent; margin: 25px 0; color: #606060; }
.note p:last-child { margin-bottom: 0; }
.note-title { margin-top: 0; margin-bottom: 10px; }
.note-default { border-color: #777777; }
.note-default .note-title { color: #777777; }
.note-info { border-color: #5bc0de; }
.note-info .note-title { color: #5bc0de; }
.note-warning { border-color: #ffcd40; }
.note-warning .note-title { color: #ffcd40; }
.note-success { border-color: #29B473; }
.note-success:before { color: #29B473; content: "\f058"; }
.note-success .note-title { color: #29B473; }
.note-danger { border-color: #ff5252; }
.note-danger:before { color: #ff5252; content: "\f06a"; }
.note-danger .note-title { color: #ff5252; }
.community { padding: 40px 20px 20px; border-radius: 4px; background-size: 48px 18px; background-color: #057297; background-image: -webkit-linear-gradient(0deg, #068cb9 1%, transparent 2%), -webkit-linear-gradient(45deg, transparent 6%, #068cb9 10%, transparent 10%, transparent 35%, #068cb9 37%, transparent 33%), -webkit-linear-gradient(135deg, transparent 8%, #068cb9 10%, transparent 10%, transparent 35%, #068cb9 37%, transparent 33%); background-image: linear-gradient(90deg, #068cb9 1%, transparent 2%), linear-gradient(45deg, transparent 6%, #068cb9 10%, transparent 10%, transparent 35%, #068cb9 37%, transparent 33%), linear-gradient(-45deg, transparent 8%, #068cb9 10%, transparent 10%, transparent 35%, #068cb9 37%, transparent 33%); }
.community-header { font-size: 20px; }
.community-header a { text-transform: capitalize; }
.community-nav { border-bottom: 1px solid #eeeeee; }
.community-nav li:last-child { margin: 0; padding: 0; background-color: transparent; }
@media (min-width: 768px) {
.community-nav li:last-child { float: right; }
}
@media (max-width: 767px) {
.community-nav li:last-child { display: block; padding-top: 10px; border-top-color: #eeeeee; }
.community-nav li:last-child a { display: block; }
}
.community-nav li:last-child a:before { content: "\f040"; margin-right: 10px; vertical-align: middle; }
.community-sub-nav { border-bottom: 1px solid #eeeeee; }
.community-sub-nav + p { margin-top: 20px; }
.community-sub-nav .topic-add { position: absolute; right: 0; top: 10px; }
.question { border-bottom: 1px solid #eeeeee; position: relative; padding-bottom: 20px; }
.question .answer { border: none; padding-bottom: 0; }
.question-header { margin-top: 20px; border-bottom: 1px solid #eeeeee; padding-bottom: 10px; }
.question-header .question-meta { white-space: nowrap; padding-right: 15px; }
@media (min-width: 768px) {
.question-header { display: table; }
.question-header > h3, .question-header > span { display: table-cell; vertical-align: middle; }
}
.question-heading { width: 100%; font-weight: bold; text-transform: uppercase; }
.question-list .question { margin-bottom: 20px; }
.question-list .question-title { margin-bottom: 10px; }
.question-form .nesty-input { max-width: none; }
.question-avatar { display: none; min-width: 60px; padding-left: 20px; padding-top: 8px; vertical-align: top; }
@media (min-width: 768px) {
.question-avatar { display: table-cell; text-align: center; }
}
.question-text { margin-bottom: 20px; }
.question + p { margin: 30px 0; }
.question-body { display: table-cell; vertical-align: top; width: 100%; word-break: break-word; padding-left: 20px; }
.question-body .question-title { margin-top: 0; }
@media (max-width: 767px) {
.question-body .question-title { font-size: 28px; }
}
.question-body .question-meta { float: left; }
.question-body .answer-official-body { vertical-align: top; width: 100%; }
.question-topic-list { margin-bottom: 20px; }
.question-topic-list li { display: inline-block; margin: 10px 10px 0 0; }
.question-topic-list a { background: #eeeeee; border-radius: 4px; color: #555555; display: inline-block; font-size: 14px; padding: 5px 16px; }
.question-controls { float: left; font-size: 14px; margin-left: 15px; }
.question-share .share-label { cursor: pointer; }
.question-share .share-label[aria-selected="false"] + .share { display: none; }
.question-share .share-label[aria-selected="true"] + .share { display: block; }
.answer { border-bottom: 1px solid #eeeeee; padding: 20px 0; position: relative; }
.answer-avatar { display: none; position: relative; min-width: 60px; vertical-align: top; }
.answers .answer-avatar, .pending-answers-list .answer-avatar { padding-left: 20px; }
 @media (min-width: 768px) {
.answer .answer-avatar { display: table-cell; text-align: center; }
}
.answer .answer-body, .answer-official-body { display: table-cell; vertical-align: top; width: 100%; word-break: break-word; }
.answer .answer-body { padding-left: 20px; }
.answer-text { margin-bottom: 30px; }
.answer-form { position: relative; margin-top: 30px; margin-bottom: 30px; }
@media (min-width: 768px) {
.answer-form { padding-left: 60px; margin-left: 60px; }
}
@media (min-width: 768px) {
.answer-form .answer-avatar { display: block; position: absolute; left: 0; top: 0; }
}
@media (max-width: 767px) {
.answer-form .answer-body { padding-left: 0; }
}
.answer-form-controls .pull-left { float: none !important; margin-bottom: 8px; }
.answer-form-controls label { font-weight: normal; }
.answer-controls { font-size: 14px; }
.answer-official-heading { font-weight: bold; text-transform: uppercase; }
.answer-list-heading { font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #eeeeee; padding-bottom: 22px; }
.answer + p { margin: 30px 0; }
.answer-share { position: relative; }
.answer-share .share { display: none; }
.answer-share .share-label[aria-selected="true"] + .share { display: block; }
.pending-answers-list .answer-share { display: none; }
#answer_body { height: 78px; margin-bottom: 15px; }
.answer-accept { display: inline-block; margin-bottom: 20px !important; }
.answer-accept:before { content: "\f00c"; margin-right: 5px; }
.answer-accepted .answer-accept, .answer-accepted .vote-sum { color: #29B473; }
.pending-answers-list { margin-bottom: 30px; }
.pending-moderation-answer-badge { display: block; margin-top: 15px; color: #ffcd40; }
.vote { display: table-cell; min-width: 40px; vertical-align: top; text-align: center; padding-top: 8px; }
.vote-sum, .vote-controls { display: inline-block; vertical-align: middle; }
.vote-sum { font-size: 15px; font-weight: bold; text-align: center; margin-bottom: 20px; }
.vote-controls { width: 40px; margin: vote-controls-margin; }
.vote-controls a { position: relative; display: block; padding-left: 0; padding-right: 0; z-index: 1; }
.vote-controls a:first-child { margin-bottom: -2px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.vote-controls a:last-child { border-top-left-radius: 0; border-top-right-radius: 0; }
.vote-controls a:hover, .vote-controls .vote-controls [aria-selected=true] { background: #0089d0; color: #fff; text-decoration: none; z-index: 2; }
.vote-controls a:active { background: #0089d0; color: #fff; z-index: 2; }
.vote-up:before { content: "\f106"; }
.vote-down:before { content: "\f107"; }
.topic { border-bottom: 1px solid #eeeeee; padding: 20px 0; }
.topic-title { margin-bottom: 10px; }
.topic-header { border-bottom: 1px solid #eeeeee; display: table; padding-bottom: 10px; }
.topic-header .topic-meta { white-space: nowrap; padding-right: 15px; }
.topic-description { word-break: break-word; }
.topic-heading { width: 100%; font-weight: bold; text-transform: uppercase; }
.topic-header > * { display: table-cell; vertical-align: middle; }
.my-activities-nav, .community-nav { margin-bottom: 30px; border-bottom: 1px solid #eeeeee; }
.my-activities-nav ul, .community-nav ul { margin-bottom: 0; }
.my-activities-nav li, .community-nav li { padding: 10px 16px; border-left: 1px solid transparent; border-top: 1px solid transparent; border-right: 1px solid transparent; background-color: #0089d0; color: #fff; font-size: 14px; font-weight: 700; text-transform: uppercase; }
.my-activities-nav li.has-link, .community-nav li.has-link { background-color: #fff; border-color: #eeeeee; }
.my-activities-nav li.has-link a, .community-nav li.has-link a { color: #5f6165; }
@media (max-width: 767px) {
.my-activities-nav li:first-child, .community-nav li:first-child { border-radius: 4px 4px 0 0; }
}
@media (min-width: 768px) {
.my-activities-nav li, .community-nav li { float: left; margin-right: 5px; border-radius: 4px 4px 0 0; }
}
.my-activities-sub-nav, .community-sub-nav { margin-bottom: 30px; }
.my-activities-sub-nav li, .community-sub-nav li { display: inline-block; background-color: #0089d0; border-radius: 12px; color: #fff; text-transform: uppercase; font-size: 12px; font-weight: 700; line-height: 1; padding: 8px 16px 6px 16px; }
.my-activities-sub-nav li.has-link, .community-sub-nav li.has-link { background-color: #fff; }
.footer { font-size: 14px; line-height: 1.1; color: #999; margin-bottom: 40px; text-align: center; }
.footer a { color: #999; }
.pagination ul { display: inline-block; padding-left: 0; margin: 25px 0; }
.pagination ul > li { display: inline-block; margin-right: 6px; }
.pagination ul > li > a, .pagination ul > li > span { display: block; position: relative; padding: 6px 16px; line-height: 1.6; text-decoration: none; color: #a6a6a7; background-color: #f6f6f6; border-radius: 4px; }
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > li > span:hover, .pagination ul > li > span:focus { color: #056788; background-color: #eeeeee; border-color: #ddd; }
.pagination ul > .pagination-current > span, .pagination ul > .pagination-current > span:hover, .pagination ul > .pagination-current > span:focus, .pagination ul > .active > a, .pagination ul > .active > a:hover, .pagination ul > .active > a:focus, .pagination ul > .active > span, .pagination ul > .active > span:hover, .pagination ul > .active > span:focus { z-index: 2; color: #fff; background-color: #0089d0; border-color: #0089d0; cursor: default; }
.pagination ul > .disabled > span, .pagination ul > .disabled > span:hover, .pagination ul > .disabled > span:focus, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus { color: #777777; background-color: #fff; border-color: #ddd; cursor: not-allowed; }
.satisfaction-box { margin-top: 0; border-radius: 4px; padding: 10px 16px; border-color: #eeeeee; margin: 0 0 20px 0; font-size: 14px; }
.satisfaction-box h4 { font-weight: normal; font-size: 16px; font-family: "Roboto", sans-serif; margin-bottom: 10px; }
.satisfaction-box h4:last-child { margin-bottom: 0; }
.satisfaction-box input[type=radio][checked=checked][value=good] + label:not([class="disabled"]) { background-color: #29B473 !important; }
.satisfaction-box input[type=radio][checked=checked][value=bad] + label:not([class="disabled"]) { background-color: #ff5252 !important; }
.satisfaction-box input[type=radio][checked=checked] + label:not([class="disabled"]) { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.satisfaction-box label.disabled { border: 0 !important; padding: 0 !important; background-color: transparent !important; }
.satisfaction-box label.disabled[for="satisfaction_rating_score_good"] { color: #29B473 !important; }
.satisfaction-box label.disabled[for="satisfaction_rating_score_bad"] { color: #ff5252 !important; }
.satisfaction-comment { margin-top: 15px; }
.satisfaction-comment label { font-weight: normal; }
.satisfaction-box .satisfaction-submit { color: #fff !important; background-color: #208a58 !important; border-color: #1e8253 !important; margin-left: 15px !important; }
.topbar { width: 100%; background-color: #f8f8f8; margin-bottom: 46px; }
.topbar__inner { width: 100%; max-width: 1100px; margin: 0 auto; }
@media (min-width: 768px) {
.topbar__inner { display: table; }
}
.topbar__col { position: relative; padding: 20px 0; }
@media (min-width: 768px) {
.topbar__col { display: table-cell; vertical-align: middle; }
}
 @media (min-width: 768px) {
.topbar__controls { float: right; }
}
 @media (max-width: 767px) {
.topbar__collapse { display: none; padding-bottom: 20px; }
}
@media (min-width: 768px) {
.topbar__collapse { display: block !important; }
}
 @media (max-width: 767px) {
.topbar__menu { padding: 0; }
}
 @-ms-viewport {
width: device-width;
}
.visible-xs { display: none !important; }
.visible-sm { display: none !important; }
.visible-md { display: none !important; }
.visible-lg { display: none !important; }
 @media (max-width: 767px) {
.visible-xs { display: block !important; }
table.visible-xs { display: table; }
tr.visible-xs { display: table-row !important; }
th.visible-xs, td.visible-xs { display: table-cell !important; }
}
@media (min-width: 768px) and (max-width: 991px) {
.visible-sm { display: block !important; }
table.visible-sm { display: table; }
tr.visible-sm { display: table-row !important; }
th.visible-sm, td.visible-sm { display: table-cell !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
.visible-md { display: block !important; }
table.visible-md { display: table; }
tr.visible-md { display: table-row !important; }
th.visible-md, td.visible-md { display: table-cell !important; }
}
@media (min-width: 1200px) {
.visible-lg { display: block !important; }
table.visible-lg { display: table; }
tr.visible-lg { display: table-row !important; }
th.visible-lg, td.visible-lg { display: table-cell !important; }
}
@media (max-width: 767px) {
.hidden-xs { display: none !important; }
}
@media (min-width: 768px) and (max-width: 991px) {
.hidden-sm { display: none !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md { display: none !important; }
}
@media (min-width: 1200px) {
.hidden-lg { display: none !important; }
}
