.alert-danger {background-color: #f2dede;border-color: #ebccd1;color: #a94442;border: 1px solid transparent;border-radius: 4px;margin-bottom: 20px;padding: 15px;}
.alert-success {background-color: #dff0d8;border-color: #d6e9c6;color: #3c763d;border: 1px solid transparent;border-radius: 4px;margin-bottom: 20px;padding: 15px;}
.cloudinary_fileupload,.cloudinary_galleryupload{display:inline !important;}
.form_controls{color:#000 !important;}
.progress{background-color:rgb(114, 194, 114) !important;}
.upload_button_holder{margin-bottom:10px !important;}
@keyframes fadeOut{from { opacity: 1.0; }to { opacity: 0.0; }}
@-webkit-keyframes fadeOut {from { opacity: 1.0 }to { opacity: 0.0 }}
.fade-out{ animation: fadeOut 3s;-webkit-animation: fadeOut 3s;}

