<!DOCTYPE html>
<html ng-app="chatApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="angularjs/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
<div ng-controller="ChatController">
<div style="height: 500px;overflow: auto;">
    <p ng-repeat="msg in msgs">{{msg}}</p>
</div>
    <input type="text" ng-model="msg.text" ng-keypress="keypressed();">
    <input type="button" ng-click="sendMessage()" value="Send">
    <span>{{typingmsg}}</span>
</div>
</div>
</body>
</html>
