@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-light-webfont.woff2') format('woff2'),  url('../fonts/proximanova-light-webfont.woff') format('woff'),  url('../fonts/proximanova-light-webfont.ttf') format('truetype'),  url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novalight_italic';
	src: url('../fonts/proximanova-lightitalic-webfont.eot');
	src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),  url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),  url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),  url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),  url('../fonts/proximanova-regular-webfont.woff') format('woff'),  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/proximanova-semibold-webfont.eot');
	src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-semibold-webfont.woff') format('woff'),  url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*==========================================
    GENERAL  STYLES
    =====================================================*/

body {
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 500;
	font-family: 'proxima_nova_rgregular';
}
.flot-nav {
	float: right;
}
.icon-round {
	margin-top: 30px;
	font-size: 24px;
	height: 68px;
	width: 68px;
	line-height: 68px;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	margin-bottom: 10px;
}
.wrap-pad {
	padding: 60px 30px;
	position: relative;
}
.text-center {
	text-align: center;
}
.color-red {
	color: #ff0000;
}
.color-green {
	color: #07BB00;
}
.color-light-blue {
	color: #BB00BB;
}
.color-blue {
	color: #0052FF;
}
.color-brown {
	color: #EB8F2D;
}
.color-black {
	color: #000000;
}
.bk-color-red {
	background-color: #ff0000;
}
.bk-color-green {
	background-color: #07BB00;
}
.bk-color-light-blue {
	background-color: #BB00BB;
}
.bk-color-blue {
	background-color: #0052FF;
}
.bk-color-brown {
	background-color: #EB8F2D;
}
.bk-color-black {
	background-color: #000000;
}
.margin-5 {
	margin: 5px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-100 {
	margin-top: 100px;
}
.btn {
	font-weight: 300;
	border: 0;
}
.btn.btn-primary {
	background-color: #52b6ec;
}
.btn.btn-primary:hover, .btn.btn-primary.active {
	background-color: #1586c3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a:hover, a:focus {
	color: #80c9f1;
	text-decoration: none;
	outline: none;
}
.small-icons {
	margin-top: 0px;
	font-size: 24px;
	height: 40px;
	width: 40px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	margin-bottom: 10px;
}
/*==========================================
    BOOTSTRAP  STYLES CHANGES
    =====================================================*/
.logo {
	float: left;
	margin-top: 0px;
	width: 235px;
	height: auto;
}
.logo img {
	width: 100%;
	height: auto;
}
.logo a {
	color: #303030;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 2.5em;
}
.logo a:hover {
	text-decoration: none;
}
.logo320 {
	display: none;
}
#header-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: rgba(0,0,0,0.7);
	border: 0;
	border-bottom: solid 1px #7a776a;
}
.top-header {
	padding: 10px 0;
}
.top-nav ul li a {
	color: #FFF;
	padding: 0 16px;
	font-size: 0.9em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
	line-height: 33px;
}
.top-nav ul li.active a, .top-nav ul li a:hover {
	color: #EE2F1B;
}
.logo a {
	display: block;
}
/* top-nav */
.top-nav:before, .top-nav:after {
	content: " ";
	display: table;
}
.top-nav:after {
	clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.9em 0;
}
nav li {
	display: inline;
	float: left;
	position: relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover {
	text-decoration: none;
	color: #00A2C1;
}
nav a#pull {
	display: none;
}
/*--------- Search Icon ------------------------*/
.sarch_box {
	width: 367px;
	height: 33px;
	border: solid 1px #ddd;
	border-radius: 3px;
	background: none;
	display: block;
}
.sarch_box input[type="text"] {
	width: 85%;
	height: 31px;
	background: none;
	color: #fff;
	border: none;
	padding: 0 2%;
}
.sarch_box .search_btn {
	width: 33px;
	height: 33px;
	background: url(../images/search_icon.png) center center no-repeat;
	cursor: pointer;
	border: none;
	text-indent: -2000em;
}
/*==========================================
   SLIDE SECTION / CAROUSEL SECTION
    =====================================================*/

.banner-wrapper {
	width: 100%;
	border: none;
}
/*.carousel .carousel-inner img{ height: 480px; }*/

/*---- benner ----*/
.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 70px;
}
.banner-info {
	position: relative;
	top: 0;
}
.banner-info h1 {
	font-weight: 700;
	font-size: 40px;
	color: #FFF;
	text-transform: uppercase;
	width: 70%;
	display: inline-block;
	line-height: 36px;
	font-family: 'proxima_novasemibold';
	padding: 0;
	margin: 0;
}
.banner-info span {
	width: 15%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
	margin-top: -10px;
}
.banner-info p {
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	margin: 1em auto;
	width: 100%;
	font-family: 'proxima_novalight';
	padding: 0;
	margin: 10px 0;
}
.btn_div {
	margin: 20px auto;
	width: auto;
	text-align: center;
	overflow: hidden;
}
.btn_div span {
	background: none;
	width: auto;
	height: auto;
	margin: 0;
}
.btn_div .butns {
	width: auto;
	height: 45px;
}
.btn_div .butns a {
	width: auto;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	font-size: 18px;
}
.btn_div .blue_btn {
	background: #10a2d2;
	border-radius: 3px;
	display: inline-block;
	line-height: 45px;
	height: 45px
}
.btn_div .blue_btn:hover {
	background: #4f4f4f;
	border-radius: 3px;
	display: block;
}
.btn_div .grey_btn {
	background: #4f4f4f;
	border-radius: 3px;
	display: block;
}
.btn_div .grey_btn:hover {
	background: #10a2d2;
	border-radius: 3px;
	display: block;
}
/*--------------------------------- First Section -------------------*/
.first_section {
	width: 100%;
	height: auto;
	padding: 40px 0 40px;
	background: #e7e7e7;
	overflow: hidden;
}
.service-grid {
	position: relative;
}
.service-grid .c-divs {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	text-align: center;
	top: 2px;
}
.service-grid .c-divs .circles {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #e7e7e7;
	border-radius: 100%;
	margin: 0 auto !important;
}
.service-grid .c-divs .circles:hover {
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}
.service-grid .white-box {
	padding: 60px 10px 15px;
	background: #fff;
	border: solid 1px #dadada;
	position: relative;
	top: 50px;
	color: #323232;
	font-size: 17px;
	text-align: center;
	font-family: 'proxima_novasemibold';
	margin-bottom: 70px !important;
}
.service-grid .white-box:hover {
	border: solid 1px #0bb9e7;
}
.first_section .blue_btn {
	width: auto;
	height: 57px;
	margin-top: 40px;
}
.first_section .blue_btn a {
	width: auto;
	height: 57px;
	text-align: center;
	line-height: 57px;
	background: #10a2d2;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	padding: 0 25px;
}
.first_section .blue_btn a:hover {
	display: inline-block;
	width: auto;
	background: #4f4f4f;
}
/*--------------------------------- Second Section -------------------*/
.second_section {
	width: 100%;
	height: auto;
	padding: 40px 0 70px;
	background: #fff;
	overflow: hidden;
	border-bottom: solid 1px #e1e1e1;
}
.find-request {
	width: auto;
	height: auto;
	margin: 0 auto;
}
.find-request h1 {
	padding: 0;
	margin: 0 0 10px;
	text-align: center;
	color: #606060;
	line-height: 36px;
	font-size: 30px;
	text-transform: uppercase;
}
.find-request p {
	color: #797979;
	font-size: 18px;
	line-height: 24px;
	width: 70%;
	font-family: 'proxima_novalight';
	text-align: center;
	margin: 0 auto;
}
.find-request .find-request-grid {
	width: 100%;
	height: auto;
	margin-top: 70px;
}
.find-request .find-request-grid .find-box {
	width: 100%;
	height: auto;
	background: #fff;
	border: solid 1px #e1e1e1;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 15px !important;
}
.find-request .find-request-grid .find-box h1 {
	padding: 0 0 0 15px;
	margin: 0;
	line-height: 47px;
	color: #2f2f2f;
	font-size: 20px;
	font-family: 'proxima_novasemibold';
	text-align: left;
	border-bottom: solid 1px #e1e1e1;
	text-transform: capitalize;
}
.find-request .find-request-grid .find-box ul {
	padding: 0;
	margin: 0 15px;
}
.find-request .find-request-grid .find-box ul li {
	float: none;
	list-style-type: none;
	padding: 5px 0;
	text-align: left;
	margin: 0;
}
.find-request .find-request-grid .find-box ul li a {
	color: #0aabd6;
	font-size: 14px;
	text-align: left;
	padding-left: 15px;
	text-decoration: none;
	background: url(../images/blue-arrow.png) left center no-repeat;
}
.find-request .find-request-grid .find-box ul li a:hover {
	color: #ff0000;
}
/*--------------------------------- Third Section -------------------*/
.third_section {
	width: 100%;
	height: auto;
	padding: 40px 0 70px;
	background: #fff;
	overflow: hidden;
}
.live-help {
	width: auto;
	height: auto;
	margin: 0 auto;
}
.live-help h1 {
	padding: 0;
	margin: 0 0 10px;
	text-align: center;
	color: #323232;
	line-height: 36px;
	font-size: 30px;
	text-transform: capitalize;
}
.live-help p {
	color: #797979;
	font-size: 18px;
	line-height: 24px;
	width: 70%;
	font-family: 'proxima_novalight';
	text-align: center;
	margin: 0 auto;
}
.live-help .live-help-grid {
	width: 100%;
	height: auto;
	margin-top: 70px;
}
.help-box {
	width: 100%;
	height: auto;
	background: #fff;
	border: solid 1px #e1e1e1;
	overflow: hidden;
	padding-bottom: 0;
	margin-bottom: 15px !important;
}
.help-box .pix-box {
	width: 147px;
	height: 147px;
	margin: 20px auto 10px;
	overflow: hidden;
}
.help-box .pix-box img {
	border: solid 3px #0bb3df;
	width: 147px;
	height: 147px;
	border-radius: 100%;
}
.help-box .desc {
	padding: 10px;
	width: 100%;
	text-align: center;
}
.help-box .desc p {
	padding: 0;
	margin: 2px 0;
	text-align: center;
	width: 100%;
	font-size: 14px;
	color: #515151;
	line-height: 21px;
	font-family: 'proxima_novalight';
}
.help-box .desc .name {
	color: #323232;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	font-family: 'proxima_novasemibold';
}
.help-box .desc .degi {
	font-size: 16px;
	color: #515151;
	text-align: center;
	font-family: 'proxima_novalight';
}
.help-box .desc .location {
	color: #ababab;
}
.help-box .desc .location a {
	color: #ababab;
	text-align: center;
	padding-left: 15px;
	text-decoration: none;
	font-size: 14px;
	font-family: 'proxima_nova_rgregular';
	background: url(../images/map_pointer.png) left center no-repeat;
}
.help-box .bottoms {
	height: 55px;
	border-top: solid 1px #e3e3e3;
	width: 100%;
	background: #f5f5f5;
}
.help-box .bottoms .price {
	width: 50%;
	line-height: 55px;
	color: #08b80c;
	font-size: 24px;
	text-align: center;
	float: left;
}
.help-box .bottoms .viewmore {
	width: 49%;
	float: right;
	height: 55px;
	border-left: solid 1px #d2d2d2;
}
.help-box .bottoms .viewmore a {
	color: #0bb9e7;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	line-height: 55px;
}
.help-box .bottoms .viewmore a:hover {
	color: #ff0000;
}
/*--------------------------------- Fourth Section -------------------*/
.section_four {
	width: 100%;
	height: auto;
	padding: 65px 0 70px;
	background: #231f20;
	overflow: hidden;
}
.satisfa {
	width: 100%;
	height: auto;
}
.satisfa .left_img {
	width: 100%;
	height: auto;
	border-right: dotted 2px #554b4e;
}
.satisfa .left_img img {
	width: 80%;
	height: auto;
}
.satisfa .txt {
	width: 90%;
	margin-left: 7%;
	height: auto;
}
.satisfa .txt p {
	line-height: 30px;
	font-size: 24px;
	color: #c6c6c6;
	padding: 0;
	margin: 10px 0;
	font-family: 'proxima_novalight';
}
.satisfa .txt h1 {
	padding: 0;
	margin: 20px 0;
	font-size: 30px;
	color: #ffffff;
	font-family: 'proxima_novalight';
}
.satisfa .txt h1 span {
	font-size: 48px;
	color: #08ccf7;
	font-family: 'proxima_novasemibold';
}
.satisfa .txt .blue_btn {
	width: auto;
	height: 49px;
	float: left;
}
.satisfa .txt .blue_btn a {
	width: auto;
	height: 49px;
	line-height: 49px;
	background: #08ccf7;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0 20px;
}
.satisfa .txt .blue_btn a:hover {
	background: #4a4a4a;
}
/*----start-about----*/
.about {
	padding: 3em 0;
}
.about-head {
	text-align: center;
}
.about-head h1 {
	font-weight: 900;
	font-size: 2.6em;
	color: #222222;
	text-transform: uppercase;
}
.about-head span {
	width: 8%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
}
/*--about-time-line--*/
.about-time-line {
	padding: 0;
	list-style: none;
	position: relative;
	width: 60%;
	margin: 6em auto 0em;
}
.about-time-line li {
	display: inline;
	min-height: 300px;
}
.about-time-line:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #F1F1F1;
	left: 49%;
	margin-left: -10px;
}
.about-time-line > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}
.about-time-line > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}
.about-time-line > li .cbp_tmtime span {
	display: block;
	text-align: right;
}
.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
	width: 170px;
	height: 170px;
	speak: none;
	font-size: 1.4em;
	line-height: 40px;
	position: absolute;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #F1F1F1;
	-webkit-box-shadow: 0 0 0 8px #F1F1F1;
	-moz-box-shadow: 0 0 0 8px #F1F1F1;
	-o-box-shadow: 0 0 0 8px #F1F1F1;
	text-align: center;
	left: 41%;
	top: 0;
	margin: 0 0 0 -25px;
	display: block;
}
.cbp_tmicon1 {
	left: 41%;
	top: 27%;
}
.cbp_tmicon2 {
	left: 41%;
	top: 52%;
}
.cbp_tmicon3 {
	left: 41%;
	top: 77%;
}
.cbp_tmicon4 {
	left: 41%;
	top: 100%;
}
.img1 {
	background: url(../images/time-line-img.jpg) no-repeat;
	background-size: 100% 100%;
}
.img2 {
	background: url(../images/time-line-img1.jpg) no-repeat;
	background-size: 100% 100%;
}
.img3 {
	background: url(../images/time-line-img2.jpg) no-repeat;
	background-size: 100% 100%;
}
.img4 {
	background: url(../images/time-line-img4.jpg) no-repeat;
	background-size: 100% 100%;
}
.img5 {
	background: url(../images/time-line-img5.png) no-repeat #7CC576;
	background-size: 100% 100%;
}
.about-time-line > li .cbp_tmlabel {
	margin: 0 0 0px -8%;
	color: #fff;
	padding: 1em 0em 0em 0;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
	width: 40%;
	text-align: right;
	min-height: 250px;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 70%;
	text-align: left;
}
.about-time-line > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}
.cbp_tmlabel h2 {
	color: #222222;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.93em;
	padding: 0;
	margin: 0;
}
.cbp_tmlabel h3 {
	color: #6a6a6a;
	font-weight: 600;
	font-size: 18px;
	font-family: 'proxima_novalight';
	padding: 0;
	margin: 0 0 15px;
}
.cbp_tmlabel p {
	color: #6e6e6e;
	line-height: 21px;
	font-family: 'proxima_novalight';
	font-size: 16px;
	margin-top: 0.8em;
}
.cbp_tmlabel p .price {
	font-size: 30px;
	color: #08ccf7;
}
/*--//about-time-line--*/

/*------------------------------ Footer ---------------------*/
.footer_section {
	width: 100%;
	height: auto;
	background: #21262a;
	padding: 40px 0;
	overflow: hidden;
}
footer {
	width: 100%;
	height: auto;
}
footer .copyright {
	font-size: 14px;
	color: #fff;
	text-align: left;
	font-family: 'proxima_novalight';
	width: auto;
	line-height: 32px;
}
footer .social {
	width: auto;
	height: auto;
	float: right;
}
footer .social ul {
	padding: 0;
	margin: 0;
}
footer .social ul li {
	float: left;
	margin: 0 5px 0 0;
	list-style-type: none;
}
/*--//profile image--*/


.positon-static {
	position: relative!important;
	background: #000!important;
}
.name-profile-image {
	width: 100%;
	float: left;
	margin-top: 32px;
}
.profile-image-left {
	width: 160px;
	float: left;
	margin-right: 48px;
}
.profile-image-left img {
	width: 100%;
	border: 5px solid #0bb3df;
	float: left;
}
.profile-content {
	float: left;
}
.profile-content h2 {
	font-size: 36px;
	color: #323232;
	margin-top: 17px;
	margin-bottom: 20px;
	font-family: 'proxima_novalight';
}
.profile-content p {
	font-size: 18px;
	color: #909090;
	font-family: 'proxima_novasemibold';
	margin-bottom: 0;
}
.profile-content p span {
	font-size: 14px;
	color: #ababab;
}
.over-vew {
	width: 100%;
	float: left;
	margin-top: 25px;
}
.over-vew h2 {
	color: #515151;
	font-family: 'proxima_novalight';
	font-size: 24px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 18px;
	margin-bottom: 18px;
}
.over-vew p {
	color: #515151;
	font-size: 14px;
}
.work {
	width: 100%;
	float: left;
	margin-top: 16px;
}
.work h2 {
	font-size: 24px;
	color: #515151;
	font-family: 'proxima_novalight'
}
.work ul li {
	background: #f8f8f8;
	border: 1px solid #e3e3e3;
	list-style: none;
	float: left;
	width: 100%;
	padding: 22px;
	border-bottom: none;
}
.work ul li:last-child {
	border-bottom: 1px solid #e3e3e3;
}
.work ul {
	margin: 0;
	padding: 0;
	float: left;
}
.work .left-pan {
	width: 75%;
	float: left;
}
.left-pan h3 {
	margin-top: 0;
	color: #515151;
	font-size: 18px;
	font-family: 'proxima_novasemibold';
}
.left-pan p {
	margin-bottom: 0;
	color: #515151;
	font-size: 14px;
	line-height: 21px;
}
.left-pan {
	margin-bottom: 0;
}
.right-pan {
	width: 20%;
	float: right;
	text-align: right;
}
.right-star-rate {
	margin-bottom: 11px;
}
.date {
	font-size: 14px;
	color: #868686;
}
.fixed-price {
	float: right;
	font-size: 18px;
	color: #7a7a7a;
	font-family: 'proxima_novalight';
}
.fixed-price span {
	font-family: 'proxima_novasemibold';
}
.right-block {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
}
.right-head {
	color: #424242;
	font-size: 20px;
	font-family: 'proxima_novasemibold';
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
}
.right-head h2 {
	padding-left: 18px;
	font-size: 20px;
	color: #424242;
	font-family: 'proxima_novasemibold';
	margin: 0;
}
.right-block ul li {
	list-style: none;
	color: #7a7a7a;
	font-size: 16px;
	font-family: 'proxima_novalight';
	border-bottom: 1px solid #e1e1e1;
	padding: 18px;
	text-align: left;
}
.right-block ul {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
.right-block ul li:last-child {
	border-bottom: none;
}
.right-block ul li span {
	margin-right: 10px;
}
.user-profile .dropdown a {
	text-transform: capitalize;
}
.s-round {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	overflow: hidden;
	float: left;
	margin-right: 0px;
	color: #fff;
	margin-left: 10px;
}
.s-round img {
	width: 100%;
}
.dropdown-menu li a {
	color: #333 !important;
}
.dropdown-menu li {
	width: 100%!important;
}
.dropdown-menu {
	z-index: 9999;
}
.back a {
	color: #7a7a7a;
	font-size: 14px;
	font-family: 'proxima_novalight';
}
.back .glyphicon-menu-left {
	font-size: 12px;
}
.nav-wrapper {
	width: 100%;
	background: #ebebeb;
}
.top-part {
	margin: 20px 0;
	width: 100%;
	float: left;
}
.top-part h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 30px
}
.right-option {
	float: right;
	font-size: 14px;
	border-radius: 4px;
}
.right-option label {
	padding-right: 10px;
	color: #5f5f5f
}
.right-option select {
	border: 1px solid #ececec;
	border-radius: 4px;
	width: 100px;
}
.navbar {
	margin-bottom: 0;
}
.inner .carousel .carousel-inner img {
	width: inherit !important;
}
.testimonilas-wrapper {
	width: 100%;
	background: url(../images/testi-bg.jpg) no-repeat;
	background-size: cover;
}
.custom-nav ul li a {
	color: #454545;
	text-transform: uppercase;
	padding: 10px 14px;
	font-size: 13px;
	line-height: 28px;
}
.custom-nav ul li a:hover, .custom-nav ul li a:focus {
	color: #08b9e1;
	border-bottom: 2px solid #08b9e1;
	padding: 10px 14px 8px;
}
/*=====================================
CLIENTS TESTIMONIAL STYLES
=====================================*/
.client-cover {
	padding: 100px 0;
}
.client-cover #carousel-clients h4 {
	color: #fff;
	line-height: 25px;
	font-size: 22px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.client-cover #carousel-clients h3 {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'proxima_novalight';
	margin: 0;
}
.client-cover #carousel-clients .clients-img {
	border: 5px solid #2ac1e9;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}
.client-cover #carousel-clients .clients-img img {
	width: 100px !important;
	height: 100px !important;
	border-radius: 100% !important;
}
.client-cover #carousel-clients p {
	color: #fff;
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.p-cat {
	text-align: left;
	text-transform: uppercase;
	color: #454545;
	font-size: 30px;
}
.right-block ul li img {
	margin-top: -8px;
}
.inner-banner-wrapper {
	width: 100%;
	min-height: 284px;
	background: url(../images/profile-banner.jpg) no-repeat;
	float: left;
	background-size: cover;
}
.banner-info-new h1 {
	font-weight: 700;
	font-size: 40px;
	color: #FFF;
	width: 100%;
	display: inline-block;
	line-height: 16px;
	font-family: 'proxima_novasemibold';
	padding: 0;
	margin-top: 70px;
}
.banner-info-new p {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin: 1em auto;
	width: 100%;
	font-family: 'proxima_novalight';
	padding: 0;
	margin: 0;
}
.banner-info-new span {
	width: 15%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
}
.custom-modal .modal-header{background:#333; border:1px solid #666}
.custom-modal .modal-title{font-size:26px; text-transform:uppercase; color:#fff;}
.custom-modal .close{color:#fff; text-shadow:0 1px 1px #000;}
.btn-cust-new{background:#10a2d2; color:#fff; font-size:16px; text-transform:uppercase;font-family: 'proxima_novasemibold'; padding:5px 30px; }
.custom-modal .checkbox{margin:0; padding:0; width:auto;}
.forgot{float:right}
.btn-cust-new:hover,.btn-cust-new:focus{background:#4f4f4f; color:#fff}
.modal-content{border-radius:0}
.custom-modal .modal-content{float:left; width:100%;}
.custom-modal .form-group{width:100%; float:left;}
.modal-body h2{margin-top:0;}
.extraspace{padding:30px 26px; width:100%; float:left;}
.left-modal{border-right:1px solid #ddd;}
.control-label{margin-top:10px;}
.reg-box{ width:100%; float:left; padding:40px; border:1px solid #ddd; box-shadow:0 0px 2px 2px rgba(0,0,0,0.1);border-radius:4px; background:#fff;}
.body-wrapper{width:100%; float:left; padding:25px 0; background:#f4f4f4;}
.heading h2{font-family: 'proxima_novalight'; font-size:20px; color:#333; margin-top:0; text-align:left;}
.heading h2 span{ color:#0bb9e7;font-size:30px;}
.btn-custom-big{background:#0bb9e7; color:#fff; text-transform:uppercase; font-size:14px;font-family: 'proxima_novalight'; text-align:center; width:100%;}


/*Styles for screen 600px and lower*/
@media (max-width:1024px) {
.logo {
	float: left;
	margin-top: 0px;
	width: 192px;
	height: auto;
}
}
@media screen and (max-width: 1150px) {
.banner-info h1 {
	font-weight: 700;
	font-size: 28px;
	color: #FFF;
	text-transform: uppercase;
	width: 100%;
	display: inline-block;
	line-height: 0;
	font-family: 'proxima_novasemibold';
	padding: 0;
	margin: 0;
}
.banner-info p {
	color: #fff;
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
	margin: 1em auto;
	width: 100%;
	font-family: 'proxima_novalight';
	padding: 0;
	margin: 3px 0;
}
.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 34px;
}
}
@media screen and (max-width: 900px) {
.banner-info h1 {
	font-weight: 700;
	font-size: 23px;
	color: #FFF;
	text-transform: uppercase;
	width: 100%;
	display: inline-block;
	line-height: 0;
	font-family: 'proxima_novasemibold';
	padding: 0;
	margin: 0;
}
.banner-info p {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 15px;
	margin: 1em auto;
	width: 100%;
	font-family: 'proxima_novalight';
	padding: 0;
	margin: 3px 0;
}
.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 15px;
}
 @media screen and (max-width: 768px) {
 .banner-wrapper {
width:100%;
border: none;
margin-top: 71px;
}
 .carousel .carousel-inner {
height: auto;
}
.carousel .carousel-inner img {
height: auto;
}
.navbar-default .navbar-nav li {
padding: 10px 0;
}
nav {
 height: auto;
 float:none;
}
 nav ul {
 width: 100%;
 display: block;
 height: auto;
}
 nav li {
 width: 100%;
 position: relative;
}
 nav li a {
 border-bottom: 1px solid #333;
}
 nav a {
 text-align: left;
 width: 100%;
}
.carousel-caption img {
width:100%;
}
.carousel-caption {
padding-bottom: 50px;
}
 .satisfa .left_img {
border-bottom: dotted 2px #554b4e;
padding-bottom: 25px;
margin-bottom:25px;
border-right: none;
overflow: hidden;
text-align: center;
}
.satisfa .left_img img {
width: 50%;
height: auto;
}
.left-pan {
width:100%;
}
.right-pan {
width:100%;
float:left;
text-align:left;
margin-top:15px;
}
.fixed-price {
float:none;
}
.right-block {
margin-top:15px;
}
 .sarch_box {
 width: 96%;
 height: 33px;
 border: solid 1px #5e5e5e;
 border-radius: 3px;
 background: none;
 display: block;
 margin: 2%;
}
footer .copyright {
text-align: center;
line-height:185px;
}
.navbar-toggle {
background:#0bb3df;
margin-right:0;
}
.icon-bar {
background:#000;
}
.right-option {
width:100%;
text-align:center;
float:left;
margin-top:20px;
}
.right-option label {
float:left;
line-height:30px;
}
.inner {
margin-top:0;
}
.banner-info {
display:none;
}
.third_section {
padding:2px 0 70px;
}
footer .social ul {
 padding: 0;
 margin: 13px auto;
 width: 176px;
}
.footer_section {
padding:40px 0;
}
.navbar-nav {
margin:0
}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
.logo {
	width: 185px;
	height: auto;
}
.logo img {
	width: 100%;
	height: auto;
}
nav {
	border-bottom: 0;
	float: none;
}
nav ul {
	display: none;
	height: auto;
	margin: 16px 0 0 0;
	background: rgba(0,0,0,0.7);
}
nav a#pull {
	display: block;
	position: relative;
	color: #F26D7D;
	text-align: right;
	position: absolute;
	top: 10px;
}
nav a#pull:after {
	content: "";
	background: url('nav-icon.png') no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
}
nav a#pull img {
	margin-right: 0%;
}
.carousel-caption img {
	width: 100%;
}
.carousel-caption {
	padding-bottom: 50px;
}
.satisfa .left_img {
	border-bottom: dotted 2px #554b4e;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-right: none;
	overflow: hidden;
	text-align: center;
}
.satisfa .left_img img {
	width: 50%;
	height: auto;
}
footer .copyright {
	text-align: center;
	line-height: 30px;
}
footer .social {
	width: 100%;
	text-align: center;
}
.about-time-line {
	width: 100%;
}
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
.banner-wrapper {
	width: 100%;
	border: none;
	margin-top: 71px;
}
.carousel .carousel-inner {
	height: auto;
}
.carousel .carousel-inner img {
	height: auto;
}
.logo {
	width: 185px;
	height: auto;
}
.logo img {
	width: 96%;
	margin: 2%;
	height: auto;
}
.sarch_box {
	width: 96%;
	margin: 2%;
}
.navbar-default .navbar-nav li {
	padding: 10px 0;
}
nav {
	float: none;
}
nav li {
	display: block;
	float: none;
	width: 100%;
}
nav li a {
	border-bottom: 1px solid #333;
}
.satisfa .left_img {
	border-bottom: dotted 2px #554b4e;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-right: none;
	overflow: hidden;
	text-align: center;
}
.satisfa .left_img img {
	width: 80%;
	height: auto;
}
footer .copyright {
	text-align: center;
	line-height: 18px;
}
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*---- responsive-design ---- 
@media (max-width:1366px){
	.container{
		width:96%;
	}
}
@media (max-width:1280px){
	.container{
		width:96%;
	}
}*/
@media (max-width:1024px) {
.about-time-line > li .cbp_tmlabel {
	width: 55%;
	margin: 0% 0 0px -23%;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 70%;
}
.about-time-line:before {
	left: 52%;
}
}
@media (max-width:768px) {
.about-time-line > li .cbp_tmlabel {
	width: 56%;
	margin: 0% 100% 0px 35%;
	text-align: left;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 35%;
}
.about-time-line:before {
	left: 19.5%;
}
.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
	left: 10%;
}
}
@media (max-width:640px) {
.about-time-line > li .cbp_tmlabel {
	width: 54%;
	margin: 0% 100% 0px 37%;
	text-align: left;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 35%;
}
.about-time-line:before {
	left: 19.5%;
}
.about {
	padding: 1em 0 0;
}
.about-time-line {
	width: 100%;
	margin: 0;
}
.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
	left: 10%;
	width: 140px;
	height: 140px;
}
}
@media (max-width:480px) {
.about-time-line > li .cbp_tmlabel {
	width: 45%;
	margin: 0% 100% 0px 45%;
	text-align: left;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 45%;
}
.about-time-line:before {
	left: 19.5%;
}
.about {
	padding: 40px 0;
}
.about-time-line {
	width: 100%;
	margin: 0;
}
.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
	left: 10%;
	width: 110px;
	height: 110px;
}
.about-head h1 {
	font-size: 2.2em;
}
}
@media (max-width:320px) {
.about-time-line > li .cbp_tmlabel {
	width: 62%;
	margin: 0% 100% 0px 32%;
	text-align: left;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 35%;
}
.about-time-line:before {
	left: 16%;
}
.about {
	padding: 1em 0 0;
}
.about-time-line {
	width: 100%;
	margin: 0;
}
.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
	left: 10%;
	width: 70px;
	height: 70px;
}
}
