<div ng-controller="accountsettingCtrl">
<section class="body-wrapper">
          <div class="container">
          
    <div class="row">
        <div class="col-md-3"> 
            <div data-ng-include data-src="'assets/views/frontend/includes/setting_left.html'"></div>
        </div>
    <div class="col-md-9">
    
    <div class="lets_friend">
    	<h4 class="title2">Account Setting</h4>
        <div class="col-md-8">
            <form>
                <div ng-show="alertmessage" class="{{alert.altclass}}">

                    <div id="flash_notice">{{alert.msg}}</div>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">User Name*</label>
                    <input type="text" class="form-control" ng-model="userdata.username" name="username" ng-required id="exampleInputName" placeholder="Enter your username" ng-value="{{userdata.username}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email*</label>
                    <input type="text" class="form-control" id="exampleInputCompanyName" ng-model='userdata.email' name='email' placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='password' placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='confpassword' placeholder="Password">
                </div>
               
                <button style="margin-left:20px;margin-top: -8px;padding: 8px 19px;" ng-click="update()" class="btn btn-primary">Update</button>
                <!--<div class="form-group">
                    <a ng-click="activate();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-custom-big">Activate</a>
                </div>-->
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    
    
    
    
    </div>
    </div>
  </div>
        </section>
  

</div>
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
