<div ng-controller="useractivationCtrl">    
<section class="body-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-12 {{alert.altclass}}" ng-show="!showactivationdiv" >

                <div id="flash_notice">{{alert.msg}}</div>

            </div>

            <div class="col-md-12" ng-show="!showactivationdivbig">
                <div class="col-md-4"  style="float:none; margin:0 auto;">
                <div class="heading"><h2>Account Activation for <span>{{useremail}}</span></h2></div>
                <div class="reg-box">
                    <form>
                        <div ng-show="alertmessage" class="{{alert.altclass}}">

                            <div id="flash_notice">{{alert.msg}}</div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="name" id="exampleInputEmail1" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Choose Your User Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" ng-model='username' placeholder="Choose Your User Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" ng-model='password' placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password Confirmation</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" ng-model='confpassword' placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Time Jone</label>

                            <select class="form-control" ng-model="timezone" data-ng-options="key as val for (key, val) in timezones">
                                <option value="">Select Timezone</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a ng-click="activate();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-custom-big">Activate</a>
                        </div>
                    </form>
                </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>

        </div>
    </div>
</section>

<div class="clearfix"></div>
</div>

