<div ng-controller="expertCtrl">
<section class="body-wrapper">
          <div class="container">
          
    <div class="row">
        <div class="col-md-3"> 
            <div data-ng-include data-src="'assets/views/frontend/includes/setting_left.html'"></div>
        </div>
    <div class="col-md-9">
    
    <div class="lets_friend">
    	
			
			<form name="tax_info" class="simple_form edit_mentor_config ng-pristine ng-valid" id="edit_mentor_config_1634" accept-charset="UTF-8" method="post">
				<legend>Your Rate</legend>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
				<div class="tell-bt-us">
				  <div class="col-md-12"> 
					 <p><span>How much would you charge</span> / 15 min </p>
				  </div>
				  <div class="col-md-4">

					 <div class="form-group">
						<input id="demo2" type="number" min="0"
							  value="0" name="demo2"
							  class="col-md-7 form-control" ng-model="price">
					 </div>

				  </div>
				</div>
				
				<legend>Your Expertise
					<small class="pull-right">
						<a data-toggle="modal" href="#newExpertise" ng-hide="sortable" role="button" style="color:green; margin-left: 20px;">
							<i class="icon-plus"></i>
							Add a new expertise
						</a>
					</small>
				</legend>
				
				<div class="left-box">
                            <div class="tell-bt-us">
                                <div class="col-md-12">
                                    <p><span>Expertise details</span> - The more details you add, the more likely you will be found on LiveHelpout.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="vertical-tab">
                                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                                        <li  ng-repeat="allcategory in allcategories" >     

                                        <li style="cursor:pointer;" role="presentation" ng-repeat="expertisetab in expertisetabs" class="tabs" ng-class="{'active':$first}">
                                            <a  ng-click="values(expertisetab.name, expertisetab.name);" id="maintag__{{expertisetab.name}}" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{expertisetab.name}}</a>
                                            <input type="hidden"  id="hid_{{expertisetab.name}}_hidden"
                                                   value='{"tagname":"{{expertisetab.name}}","expertise_related_tags":"{{expertisetab.related_tags}}","expertise_experience":"{{expertisetab.experience_years}}","expertise_moredetails":"{{expertisetab.domain_details}}","expertise_rating":"{{expertisetab.donain_rating}}"}' class="hiddens" >
                                        </li>

                                        <li role="presentation" class="foradd">
                                            <a  role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
                                                <button class="btn btn-success add-tab-menu" ng-click='openaddmodal();'>Add</button>
                                            </a></li>
									
                                    </ul>
                                    
                                    <div id="myTabContent" class="tab-content" >
                                        <div role="tabpanel" class="tab-pane fade in" style="display: block; visibility: visible;" id="menu1" aria-labelledby="home-tab" ng-repeat="expertisetab in expertisetabs|limitTo:1">
                                            <h2 id="h2tag" >{{expertisetab.name}}</h2>
                                            <a href="javascript:void(0);" class="remove" ng-click="remove();" >
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Remove <span id="spantag">{{expertisetab.name}}</span></a>
                                            <div class="form-group">


                                                <tags-input ng-model="expertise_related_tags"  class="form-control" style="height:auto;">
                                                    <auto-complete source="loadTags($query)"></auto-complete>
                                                </tags-input>


                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" ng-model="expertise_experience">
                                                    <option value="">Experience (Years)</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">

                                            
 <textarea class="form-control"  ng-model="expertise_moredetails"  rows="3" placeholder="Tell us more about your experiences in this domain"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" ng-model="expertise_rating">
                                                    <option value="">How would you rate yourself from a scale 1-10(Private)</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option> 
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="bottom-bottons">
                                    
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary" ng-click="expertsubmit();" data-style="zoom-in" ladda="loading" data-spinner-size="25">Update</a>
                                </div>
                            </div>
                        </div>
                        
					
			</form>
		
       
        <div class="clearfix"></div>
    
    
    
    
    
    </div>
    </div>
  </div>
        </section>
  <div class="act-modal modal fade" id="addexperisemodal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Expertise</h4>
                    </div>
                    <div class="modal-body extraspace">

                        <tags-input ng-model="expertise_tags" class="form-control" style="height:auto;">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>

                        <div class="modal-footer"> 
                            <a href="javascript:void(0);" class="btn btn-lg btn-default-new" ng-click="closemodal();">Cancel</a> 

                            <a href="javascript:void(0);" ng-click="addtobodyexpertise();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-lg btn-primary">Add </a> 
                        </div>
                    </div>
                </div>
            </div>
</div> 

</div>
           
<script>
    $("input[name='demo2']").TouchSpin({
        min: 0,
        stepinterval: 50,
        maxboostedstep: 10000000,
        prefix: '$'
    });
</script>
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
