<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<div class="app-content" ng-class="{loading: loading}">
	<!-- top navbar -->
	<header data-ng-include=" 'assets/views/frontend/partials/header.html' " class="navbar navbar-default navbar-static-top"></header>
	<!-- / top navbar -->
	<!-- main content -->
	<div data-ng-include=" 'assets/views/frontend/main-content.html' " class="main-content" ></div>
	<!-- / main content -->
</div>
<!-- footer -->
<footer data-ng-include=" 'assets/views/frontend/partials/footer.html' "></footer>
<!-- / footer -->
