<div ng-controller="indexCtrl">
    <div class="banner-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel"> 

            <!-- Indicators -->
            <div class="white-art os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s"></div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active"> <img src="assets/frontend/images/banner-2.jpg" style="width:100%">
                    <div class="container">
                        <div class="carousel-caption os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s"> 

                            <div class="banner-info text-center wow bounceInDown" data-wow-delay="0.4s">
                                <h1>Loremipsum dolorsit consectetur</h1>
                                <p><span> </span></p>
                                <p> exercitation ullamco laboris nisi ut aliquip  commodo consequat</p>
                                <div class="btn_div">
                                    <span class="butns"><a class="grey_btn" href="javascript:void(0);" ng-click="search();">Find Request</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"> <img src="assets/frontend/images/banner-2.jpg" style="width:100%" >
                    <div class="container">
                        <div class="carousel-caption os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <div class="banner-info text-center">
                                <h1>Loremipsum dolorsit consectetur</h1>
                                <p><span> </span></p>
                                <p> exercitation ullamco laboris nisi ut aliquip  commodo consequat</p>
                                <div class="btn_div">
                                    <span class="butns"><a class="grey_btn" href="javascript:void(0);" ng-click="search();">Find Request</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"> <img src="assets/frontend/images/banner-2.jpg" style="width:100%">
                    <div class="container">
                        <div class="carousel-caption os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">
                            <div class="banner-info text-center">
                                <h1>Loremipsum dolorsit consectetur</h1>
                                <p><span> </span></p>
                                <p> exercitation ullamco laboris nisi ut aliquip  commodo consequat</p>
                                <div class="btn_div">
                                    <span class="butns"><a class="grey_btn" href="javascript:void(0);" ng-click="search();">Find Request</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--First Section-->
    <section class="first_section" ng-show="showcategories">
        <div id="services" class="services">
            <div class="container text-center">

                <div class="col-md-3 col-sm-6 padd-btom" ng-repeat="allcategory in allcategories| limitTo : 8" >
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="c-divs">
                            <div class="circles" style="cursor:pointer;" ng-click="sendtosearch(allcategory.Category.name);"><img src="{{cakeurl}}upload/category_images/{{allcategory.Category.category_image}}" width="47" height="47"  alt=""/></div>
                        </div>
                        <div class="white-box" style="cursor:pointer;" ng-click="sendtosearch(allcategory.Category.name);">{{allcategory.Category.name}}</div>
                    </div>
                </div>
               
                
                <div class="col-md-3 col-sm-6 padd-btom hiddenpart" style="display: none;" ng-repeat="allcategory in allcategories" ng-if="$index>7">
                    <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="c-divs">
                            <div class="circles" style="cursor:pointer;" ng-click="sendtosearch(allcategory.Category.name);"><img src="{{cakeurl}}upload/category_images/{{allcategory.Category.category_image}}" width="47" height="47"  alt=""/></div>
                        </div>
                        <div class="white-box" style="cursor:pointer;" ng-click="sendtosearch(allcategory.Category.name);">{{allcategory.Category.name}}</div>
                    </div>
                </div>

            </div>
            <div class="container"></div>
            <div class="container text-center" ng-if="totalcategories>8">
                <div class="blue_btn" id="buttonareashowhide">
                    <a href="javascript:void(0);" ng-click="showhidden();">More Categories</a>
                </div>
            </div>
        </div>
    </section>

    <!--Second -section-->
    <section class="second_section" ng-show="showcategorieswithsub">
        <div class="container text-center find-request">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">Find Request </h1>
            <p class="wow fadeInDown" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="find-request-grid text-center">
                
                <div class="col-md-3 col-sm-6 wow bounceIn" data-wow-delay="0.4s" ng-repeat="allcategoriessubs in allcategoriessub| limitTo : 4">
                    <div class="find-box" style="min-height: 225px;">
                        <h1>{{allcategoriessubs.name}}</h1>
                        <ul>
                            <li ng-repeat="allsub in allcategoriessubs.subcategories| limitTo : 4"><a ng-click="sendtosearch(allsub.name);" href="javascript:void(0);">{{allsub.name}}</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CORE JQUERY LIBRARY -->

    <!--Third Section-->
    <section class="third_section" ng-show="!nomentoravailable">
        <div class="container text-center live-help">
            <h1 class="wow fadeInDown" data-wow-delay="0.4s">Live Help From 2300+ Domain Experts Across 100+ Categories</h1>
            <p class="wow fadeInDown" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
            <div class="clearfix"></div>
            <div class="live-help-grid text-center">
                <div class="col-md-3 col-sm-6 wow bounceInDown" data-wow-delay="0.4s" ng-repeat="allrelatedmentor in allrelatedmentors">
                    <div class="help-box">
                        <div class="pix-box">
                          <img src="{{allrelatedmentor.image!=''?allrelatedmentor.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" width="180" height="180"  alt="{{allrelatedmentor.name}}"/>
                        </div>
                        <div class="desc">
                            <p class="name">{{allrelatedmentor.name}}</p>
                            <p class="degi">{{allrelatedmentor.headlinesmall}}</p>
                            <p><img src="assets/frontend/images/star.png" width="112" height="19"  alt="rating" style="margin-top:-8px;"/> <span>(5.0)</span></p>
                            <p class="location"><a href="javascript:void(0);">California, C.A. Usa</a></p>
                            <p style="min-height:63px;">
                             {{allrelatedmentor.aboutsmall}}
                            </p>
                        </div>
                        <div class="bottoms">
                            <div class="price">${{allrelatedmentor.priceperhour}}/hrs </div>
                            <div class="viewmore"><a href="{{siteurl}}frontend/mentor/{{allrelatedmentor.username}}">View Profile</a></div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>


    <section class="section_four">
        <div class="container">
            <div class="satisfa">
                <div class="col-md-5 col-sm-5">
                    <div class="left_img wow fadeInRight" data-wow-delay="0.4s"><img src="assets/frontend/images/satisfa.png" width="409" height="409"  alt=""/></div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="txt wow fadeInLeft" data-wow-delay="0.4s">
                        <h1><span>You're</span> not satisfied, we will cheerily make 
                            it right or offer a </h1>
                        <h1><span>100%</span> refund. </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        <div class="blue_btn"><a href="">Learn More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="about">
        <div class="wrap"> 
            <div class="about-head">
                <h1 class="wow fadeInDown" data-wow-delay="0.4s">Featured Experts</h1>
                <span> </span>
            </div>
            <!---start-about-time-line---->
            <div class="about-time-line">
                <li>
                    <div class="cbp_tmicon img1"> </div>
                    <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                        <h2>Nikolas Brooten</h2>
                        <h3>Graphic & Design</h3>
                        <p>Rating: <img src="assets/frontend/images/star_2.png" width="100" height="16"  alt=""/></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <p><span class="price">$ 15/hrs</span></p>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmicon1 img2"> </div>
                    <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                        <h2>Nikolas Brooten</h2>
                        <h3>Graphic & Design</h3>
                        <p>Rating: <img src="assets/frontend/images/star_2.png" width="100" height="16"  alt=""/></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <p><span class="price">$ 15/hrs</span></p>
                    </div>
                </li><br />
                <li>
                    <div class="cbp_tmicon2 img3"> </div>
                    <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                        <h2>Nikolas Brooten</h2>
                        <h3>Graphic & Design</h3>
                        <p>Rating: <img src="assets/frontend/images/star_2.png" width="100" height="16"  alt=""/></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <p><span class="price">$ 15/hrs</span></p>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmicon3 img4"> </div>
                    <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                        <h2>Nikolas Brooten</h2>
                        <h3>Graphic & Design</h3>
                        <p>Rating: <img src="assets/frontend/images/star_2.png" width="100" height="16"  alt=""/></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <p><span class="price">$ 15/hrs</span></p>
                    </div>
                </li>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---//End-about-time-line---->
        <!---- about ---->
    </div>
</div>
<script>
    setTimeout(function()
    {
      new WOW().init();
    }, 1000);
</script>
<!---- animated-css ---->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!----start-top-nav-script---->

