<div ng-controller="livefeedCtrl">
 <section class="body-wrapper">
  <div class="container">
    <div class="row">
     <div class="col-md-3">
         <div data-ng-include="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
     </div>
     <div class="col-md-9">

                    <!--================================================================-->
                    <div class="left-box requesthistory">
                        <div class="hor">
                            <input type="hidden" id="hidden_activetab" value="1">
                            <ul id="myTab" class="nav nav-tabs" role="tablist" >
                                <li role="presentation" id="related_request-tab" class="requesthistoryli active"><a href="javascript:void(0);"   role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" ng-click="openrequesthistorytab('related_request');">
                                        Related Requests</a></li>
                               
                                <li role="presentation" class="requesthistoryli" id="allother-tab"><a href="javascript:void(0);" role="tab"  id="allother-tab" data-toggle="tab" aria-controls="profile" ng-click="openrequesthistorytab('allother');">
                                        All other Requests</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                 <div id="loader" style="padding-top: 25px; ">
                                     <div class="circle"></div>
			             <div class="circle1"></div>
                                 </div>

                                <div role="tabpanel" class="tab-pane fade" id="related_request" aria-labelledby="related-request">
                                    <span class="get-help" style="width:10%;float:left;margin-right:4px;" ng-repeat="tag in tags">{{tag.text}}</span>
                                 <ul class="right-block-top" ng-show="relatedrequestsdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no related request.
                                                </p>
                                            </div>
                                        </li>
                                 </ul>
                                 <ul style="padding:0px;" class="right-block-top job_posted"  ng-show="!relatedrequestsdiv">
                                  <li ng-repeat="relatedrequest in relatedrequests">
                                   <div class="postedby">
                                    <div class="feed_userimage">
                                                    <img  class="image-thumb" src="{{siteurl}}assets/upload/user_images/{{relatedrequest.userimage!=''?relatedrequest.userimage:'noimage.png'}}">
                                    </div>  
                                    <div class="profile-name" style="width:91%;">
                                                            <h3 style="font-weight:normal;">{{relatedrequest.username}}</h3>
                                                            <p style="margin:0; font-weight:normal;">{{relatedrequest.posttime}}</p>
                                                        </div>
				                </div>
				                <div class="clearfix"></div>
				                <div class="post_body">
					                <h1>{{relatedrequest.title}}</h1>
					                <div class="col-md-6" style="padding-left:0;">
                                                         <div ng-if="relatedrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                          <div class="clearfix"></div>
                                                          <!---------------------------------->
                                                            <div  ng-photo-grid =   ""
                                                                images        =   "relatedrequest.images"
                                                                grid-options  =   "gridOptions"
                                                                ng-class      =   "{'loading': isBuildingGrid}"
                                                                class         =   "feed-photos">
                                                             </div>
                                                          <!---------------------------------->
                                                         <div class="clearfix"></div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div ng-if="relatedrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                         <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                         <div class="clearfix"></div>
                                                         <div class="request_files_div" ng-repeat="reqfile in relatedrequest.files | filter : {filetype: 'pdf'}">
                                                          <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                         <div id="likediv{{relatedrequest.id}}">
                                                           <i class="fa fa-heart-o" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='1'"></i> <span id="likecount{{relatedrequest.id}}" style="display:inline;">{{relatedrequest.count_like}}</span>
                                                         </div>
                                                        <div class="clearfix"></div>
                                                        <p class="ptag"> Job amount: ${{relatedrequest.budget}}</p>
					                <p>
                                                            {{relatedrequest.details}}
					                </p>
                                                        
					                <div>
                                                            <span class="category_span">
                                                            <p>Category:</p> 
                                                            <a href="javascript:;" ng-repeat="category in relatedrequest.categories">{{category.tag}}</a> 
                                                            </span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div>
                                                            <span class="subcategory_span">
                                                            <p>Sub Category:</p> 
                                                            <a href="javascript:;" ng-repeat="subcategory in relatedrequest.subcategories">{{subcategory.tag}}</a> 
                                                            </span>
                                                        </div>
                                                        
                                                      <div class="clearfix"></div>
                                                        
				                </div>
			                </li>
		                </ul>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="allother" aria-labelledby="all-other-request" style="display:none;">
                                <!----------------------------Filter------------------------->
                                      <a class="btn btn-primary btn-filter" role="button" href="javascript:void(0);" ng-click="openfilter();">
                                          Filter <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                                      </a>
                                      <div class="clearfix"></div>
                                      <input type="hidden" name="filtertagstring" id="filtertagstring" value="">
                                      <div class="all-cat" id="filter_tag" style="display:none;">
                                         <ul style="padding-left:0px;" id="selectedtags">
                                         </ul>
                                      </div>
                                      <div id="filter-cat" style="display:none;">
                                          <div class="well">
                                          <div class="col-md-4">
                                            <div class="left-cat">
                                            <ul style="padding-left:0px;">
                                              <li ng-repeat="allparentcategory in allparentcategories" class="" id="maincat{{allparentcategory.Category.id}}"><a href="javascript:void(0);" ng-click="getsubcats(allparentcategory.Category.id,allparentcategory.Category.name);">{{allparentcategory.Category.name}}</a></li>
                                           </ul>
                                            </div>
                                            </div>
                                            <div class="col-md-8">
                                             <div class="right-cat">
                                             <ul id="subcategories">
                                             
                                             </ul>
                                           </div>
                                          </div>
                                       </div>
                                    </div>
                                <!----------------------------Filter-------------------------> 
                                 <div id="loaderfilter" style="padding-top: 25px;display:none;">
                                     <div class="circle"></div>
			             <div class="circle1"></div>
                                 </div>
                                  <ul class="right-block-top filterresdiv" ng-show="allotherdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no other requests.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul style="padding:0px;" class="right-block-top job_posted filterresdiv"  ng-show="!allotherdiv">
                                            <li ng-repeat="allotherrequest in allotherrequests">
                                                <div class="postedby">
                                                    <div class="feed_userimage">
                                                                    <img  class="image-thumb" src="{{siteurl}}assets/upload/user_images/{{allotherrequest.userimage!=''?allotherrequest.userimage:'noimage.png'}}">
                                                    </div>  
                                                    <div class="profile-name" style="width:91%;">
                                                                            <h3 style="font-weight:normal;">{{allotherrequest.username}}</h3>
                                                                            <p style="margin:0; font-weight:normal;">{{allotherrequest.posttime}}</p>
                                                                        </div>
				                                </div>
				                                <div class="clearfix"></div>
				                                <div class="post_body">
					                                <h1>{{allotherrequest.title}}</h1>
					                                <div class="col-md-6" style="padding-left:0;">
                                                                         <div ng-if="allotherrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                                          <div class="clearfix"></div>
                                                                          <!---------------------------------->
                                                                            <div  ng-photo-grid =   ""
                                                                                images        =   "allotherrequest.images"
                                                                                grid-options  =   "gridOptions"
                                                                                ng-class      =   "{'loading': isBuildingGrid}"
                                                                                class         =   "feed-photos">
                                                                             </div>
                                                                          <!---------------------------------->
                                                                         <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        <div ng-if="allotherrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                                         <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                                         <div class="clearfix"></div>
                                                                         <div class="request_files_div" ng-repeat="reqfile in allotherrequest.files | filter : {filetype: 'pdf'}">
                                                                          <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                         <div id="likediv{{allotherrequest.id}}">
                                                                           <i class="fa fa-heart-o" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='1'"></i> <span id="likecount{{allotherrequest.id}}" style="display:inline;">{{allotherrequest.count_like}}</span>
                                                                         </div>
                                                                        <div class="clearfix"></div>
                                                                        <p class="ptag"> Job amount: ${{allotherrequest.budget}}</p>
					                                <p>
                                                                            {{allotherrequest.details}}
					                                </p>
                                                                        
					                                <div>
                                                                            <span class="category_span">
                                                                            <p>Category:</p> 
                                                                            <a href="javascript:;" ng-repeat="category in allotherrequest.categories">{{category.tag}}</a> 
                                                                            </span>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        <div>
                                                                            <span class="subcategory_span">
                                                                            <p>Sub Category:</p> 
                                                                            <a href="javascript:;" ng-repeat="subcategory in allotherrequest.subcategories">{{subcategory.tag}}</a> 
                                                                            </span>
                                                                        </div>
                                                                        <div class="clearfix"></div>
				                         </div>
			                       </li>
		                         </ul>
		                   </div>
                            </div>
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>    
    </div>
  </div>
</section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:11px;}
</style>

