<div ng-controller="mentorsignupstep1Ctrl">    
    <section class="body-wrapper">
        <div class="container">
            <div class="row">
                <div ng-show="step1alertmesage" class="{{alert.altclass}}">
                    <div id="flash_notice">{{alert.msg}}</div>
                </div>

                <form>
                    <div class="col-md-8" id="showstep1">
                        <div class="left-box">




                            <div class="col-md-12">
                                <div class="import-linked-in">
                                    <p><span>Import from online profiles -</span>so we can prefill your application</p>
                                    <a href="#">
                                        <div class="import in-icon"><img src="assets/frontend/images/dsa_linkedin_icon.png" alt="" width="21" height="21" style="margin-top:-2px; margin-right:5px;">Import from Linked In</div>
                                    </a> <a href="#">
                                        <div class="import git"><img src="assets/frontend/images/dsa_git_icon.png" alt="" width="21" height="21" style="margin-top:-2px; margin-right:5px;">Import from Github</div>
                                    </a> </div>
                            </div>



                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>Tell us about you</span> - this will be shown in your public profile</p>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="headline" value="" placeholder="Headline" class="form-control">                               </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Short intoduction" ng-model="about" style="resize:none;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>How much would you charge</span> / 15 min </p>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <input id="demo2" type="number" min="0"
                                               value="0" name="demo2"
                                               class="col-md-7 form-control" ng-model="price">
                                    </div>

                                </div>
                            </div>
                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>Expertise</span> - choose categories you are really good at </p>
                                </div>
                                <div class="col-lg-12">

                                    <ul>

                                        <li  ng-repeat="allcategory in allcategories" >
                                            <div class="checkbox">
                                                <label>
                                                    <input class="testClick" type="checkbox" name="categories" ng-click="toggleSelection(allcategory.Category.name)" ng-model="categories" value="{{allcategory.Category.id}}">
                                                    {{allcategory.Category.name}}
                                                </label>
                                            </div>

                                        </li>                                        

                                    </ul>
                                    <input type="hidden" id="categories_selected" value="{{categories_selected}}" ng-model="categories_selected">
                                </div>
                            </div>
                            <div class="tell-bt-us">
                                <div class="col-md-12">
                                    <tags-input ng-model="tags" class="form-control" style="height:auto;">
                                        <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>

                            </div>

                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>Where else we can find you</span> - online profiles</p>
                                </div>
                                <div class="col-md-4"><div class="form-group"><input type="text" ng-model="twitter" value="" placeholder="Twitter id : (eg. @zopatista)" class="form-control"></div></div>
                                <div class="col-md-4"><div class="form-group"><input type="text" ng-model="stackoverflow" value="" placeholder="Stackoverflow id : (eg. 100000)" class="form-control"></div></div>
                            </div>

                            <div class="tell-bt-us">
                                <div class="col-md-4">
                                    <a class="btn btn-lg btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25" ng-click="step1submit();">Next</a> 
                                </div> 
                            </div>

                        </div>
                    </div>
                </form>

                <form>

                    <div class="col-md-8" id="showstep2" style="display:none;">
                        <div class="left-box">
                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>Availability</span> - please tell your available hours per week and your time zone (optional)</p>
                                </div>
                                <div class="col-md-12">


                                    <div class="form-group">
                                        <select class="form-control" ng-model="availablity">
                                            <option value="">How many available hours do you have per week</option>

                                            <option value="10">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" ng-model="timezone" data-ng-options="key as val for (key, val) in timezones">
                                            <option value="">select timezone</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>Current Position</span> - private information (optional)</p>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="company" placeholder="Company name" class="form-control">

                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="job_title" placeholder="Job title" class="form-control">

                                    </div>                     

                                </div>         


                            </div>
                            <div class="tell-bt-us">
                                <div class="col-md-12"> 
                                    <p><span>More about you</span> - (optional)</p>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="why_mentor" placeholder="Why do you want to be a mentor"></textarea>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="experience_details" placeholder="Any monitoring experiences before? If yes please tell more about it"></textarea>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="video_url" placeholder="Video url" class="form-control">
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" ng-model="website_url" placeholder="Website url" class="form-control">
                                    </div>
                                </div>
                            </div>




                            <div class="tell-bt-us">
                                <div class="col-md-4">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default" ng-click="prev('showstep1', 'showstep2');"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous </a>
                                    <a class="btn btn-lg btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25" ng-click="step2submit();">Next</a> 
                                </div> 
                            </div>

                        </div>
                    </div>
                </form>

                <form>
                    <div class="col-md-8" id="showstep3" style="display:none;">
                        <div class="left-box">
                            <div class="tell-bt-us">
                                <div class="col-md-12">
                                    <p><span>Expertise details</span> - The more details you add, the more likely you will be found on LiveHelpout.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="vertical-tab">
                                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                                        <li  ng-repeat="allcategory in allcategories" >     

                                        <li style="cursor:pointer;" role="presentation" ng-repeat="expertisetab in expertisetabs" class="tabs" ng-class="{'active':$first}">
                                            <a  ng-click="values(expertisetab.name, expertisetab.name);" id="maintag__{{expertisetab.name}}" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{expertisetab.name}}</a>
                                            <input type="hidden"  id="hid_{{expertisetab.name}}_hidden"
                                                   value='{"tagname":"{{expertisetab.name}}","expertise_related_tags":[],"expertise_experience":"","expertise_moredetails":"","expertise_rating":""}' class="hiddens" >
                                        </li>

                                        <li role="presentation" class="foradd">
                                            <a  role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
                                                <button class="btn btn-success add-tab-menu" ng-click='openaddmodal();'>Add</button>
                                            </a></li>

                                    </ul>
                                    
                                    <div id="myTabContent" class="tab-content" >
                                        <div role="tabpanel" class="tab-pane fade in" style="display: block; visibility: visible;" id="menu1" aria-labelledby="home-tab">
                                            <h2 id="h2tag" ng-repeat="expertisetab in expertisetabs| limitTo:1">{{expertisetab.name}}</h2>
                                            <a href="javascript:void(0);" class="remove" ng-click="remove();" ng-repeat="expertisetab in expertisetabs| limitTo:1">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Remove <span id="spantag">{{expertisetab.name}}</span></a>
                                            <div class="form-group">


                                                <tags-input ng-model="expertise_related_tags" class="form-control" style="height:auto;">
                                                    <auto-complete source="loadTags($query)"></auto-complete>
                                                </tags-input>


                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" ng-model="expertise_experience">
                                                    <option value="">Experience (Years)</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control"  ng-model="expertise_moredetails" rows="3" placeholder="Tell us more about your experiences in this domain"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" ng-model="expertise_rating">
                                                    <option value="">How would you rate yourself from a scale 1-10(Private)</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option> 
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="bottom-bottons">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default" ng-click="prev('showstep2', 'showstep3');">Previous</a>
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary" ng-click="step3submit();" data-style="zoom-in" ladda="loading" data-spinner-size="25">Submit Application</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-4">
                    <div class="total-right">
                        <div class="right-box">
                            <h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Proin a odio bibendum</h2>
                            <p>Vivamus ac tellus viverra, congue urna quis, laoreet nunc. Donec posuere porttitor nisl, quis fermentum sem dictum a. Pellentesque faucibus</p>
                        </div>

                        <div class="right-box">
                            <h2><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Aenean tristique vel augue</h2>
                            <p>Vivamus ac tellus viverra, congue urna quis, laoreet nunc. Donec posuere porttitor nisl, quis fermentum sem dictum a. Pellentesque faucibus</p>
                        </div>


                        <div class="right-box">
                            <h2><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Proin a odio bibendum</h2>
                            <p>Vivamus ac tellus viverra, congue urna quis, laoreet nunc. Donec posuere porttitor nisl, quis fermentum sem dictum a. Pellentesque faucibus</p>
                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div class="act-modal modal fade" id="addexperisemodal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Expertise</h4>
                    </div>
                    <div class="modal-body extraspace">

                        <tags-input ng-model="expertise_tags" class="form-control" style="height:auto;">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>

                        <div class="modal-footer"> 
                            <a href="javascript:void(0);" class="btn btn-lg btn-default-new" ng-click="closemodal();">Cancel</a> 

                            <a href="javascript:void(0);" ng-click="addtobodyexpertise();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-lg btn-primary">Add </a> </div>
                    </div>
                </div>
            </div>



    </section>

    <div class="clearfix"></div>
</div>

<script>
    $("input[name='demo2']").TouchSpin({
        min: 0,
        stepinterval: 50,
        maxboostedstep: 10000000,
        prefix: '$'
    });
</script>
