<div ng-controller="mentorsignupCtrl">    
<section class="body-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-12" >
                <div class="col-md-4"  style="float:none; margin:0 auto;">
                    <div class="heading"><h1 style="color:#52B6ED; text-align: center;">Mentor Signup</h1></div>
                <div class="reg-box">
                    <form name="mentorsignupForm" novalidate>
                        <div ng-show="regalertmessage" class="{{alert.altclass}}">

                            <div id="flash_notice">{{alert.msg}}</div>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/facebook.png" style="cursor:pointer;" ng-click="fbreguser()">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/gplus.png" style="cursor:pointer;" ng-click="gpreguser()">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/linkedin.png" style="cursor:pointer;" ng-click="lnreguser()">
                        </div>
                        
                        <div class="form-group" style="text-align: center;">
                             <label>Or</label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="name" ng-required name="name" id="exampleInputEmail1" placeholder="Your name">
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error': mentorsignupForm.email.$invalid && mentorsignupForm.email.$dirty }">
                            <input type="email" class="form-control" ng-model="email" ng-required name="email" id="exampleInputEmail1" placeholder="Your email">
                        </div>
                      
                        <div class="form-group">
                            <a ng-click="mentorsignup();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-custom-big">Apply</a>
                        </div>
                    </form>
                </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>

        </div>
    </div>
</section>

<div class="clearfix"></div>

<div class="custom-modal modal fade" id="fbmodalmentor"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="fbsignupMessagementor" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_fbid" ng-model="user_fbid" id="userfbid" ng-value="user_fbid" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="fbusersignupmentor();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      <div class="custom-modal modal fade" id="lnmodalmentor"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="lnsignupMessagementor" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_lnid" ng-model="user_lnid" id="userlnid" ng-value="user_lnid" value="">
                  <input type="hidden" name="user_picture" ng-model="user_picture" id="userpicture" ng-value="user_picture" value="">
                  <input type="hidden" name="user_location" ng-model="user_location" id="userlocation" ng-value="user_location" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="lnusersignupmentor();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      
      <div class="custom-modal modal fade" id="gpmodalmentor"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="gpsignupMessagementor" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_gpid" ng-model="user_gpid" id="usergpid" ng-value="user_gpid" value="">
                  <input type="hidden" name="user_picture" ng-model="user_picture" id="userpicture" ng-value="user_picture" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="gpusersignupmentor();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
</div>

