<div ng-controller="mentorprofileCtrl">


<section class="body-wrapper-2">
<div class="profile-background">
<div class="container">
<div class="row">
    
<div class="col-md-8">
    <div class="profile-image-edit-option"><a href="javascript:void(0);">
	    <!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="siteimage" alt="{{userdata.name}}">
	    <img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=120&width=120" ng-show="!siteimage" alt="{{userdata.name}}" >-->
	    
	    <img src="{{userdata.image!=''?userdata.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}"  alt="{{userdata.name}}" >
	    
	    <!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="imgtype==1" alt="{{userdata.name}}" >
		<img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=100&width=100" ng-show="imgtype==2" alt="{{userdata.name}}">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" alt="{{userdata.name}}" >
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" alt="{{userdata.name}}"> -->
    </a><div class="hide-info">Update <br>Photo</div></div>
     <div class="left-profile-details" style="width:70%;">
      <h2>{{userdata.name}}</h2>
       <p >
        <i class="fa fa-clock-o"></i> {{userdata.timezone}}&nbsp;&nbsp;
        <a href="javascript:void(0);" ng-click="open_edit_timezone();" ng-show="timezoneeditbtn && meTrue">
         <i class="fa fa-edit"></i>
        </a>
       </p>
      <div id="collapseExample" ng-show="!timezoneeditbtn && meTrue">
       <div class="onclic-edit" style="width:100%;">
         <select ng-model="usertimezone" data-ng-options="key as val for (key, val) in alltimezones">
            <option value="">Select Timezone</option>
         </select>
         <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_timezone();" data-style="zoom-in" ladda="loadingtimezone" data-spinner-size="25">Save</a> 
         <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_timezone();" style="background: #e6e6e6;">Cancel</a>
       </div>
     </div>

    <p >
     <i class="fa fa-tags"></i> Topics I need help with&nbsp;&nbsp;
     <a href="javascript:void(0);" ng-click="open_edit_requiredhelp();" ng-show="requiredhelpeditbtn && meTrue">
      <i class="fa fa-edit"></i>
     </a>
    </p>
    <div id="collapseExample2" ng-show="!requiredhelpeditbtn && meTrue">
      <div class="onclic-edit" style="width:100%;">
       <tags-input ng-model="tags" class="form-control" style="height:auto;width:86%;margin-bottom:10px;">
            <auto-complete source="loadTags($query)"></auto-complete>
       </tags-input>
       <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_requiredhelp();" data-style="zoom-in" ladda="loadingtopics" data-spinner-size="25">Save</a>  
       <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_requiredhelp();" style="background: #e6e6e6;">Cancel</a>
    </div>
  </div>
  <div class="all-tags" ng-show="var1 = (meTrue?(requiredhelpeditbtn):true)" >
   <div class="tag-2" ng-repeat="helprequired in userdata.helprequired">
    <span class="label label-default" style="padding-top: 4px;">{{helprequired.tag}}</span>
   </div>
 </div>
</div>
</div>
<div class="col-md-4">
  <div class="right-box-fixed">
    <!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="siteimage" alt="{{userdata.name}}" class="small-pro-pic">
    <img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=80&width=80" ng-show="!siteimage" alt="{{userdata.name}}" class="small-pro-pic">-->
          <img src="{{userdata.image!=''?userdata.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}"  alt="{{userdata.name}}" class="small-pro-pic">
          <!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="imgtype==1" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=30&width=30" ng-show="imgtype==2" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" alt="{{userdata.name}}" class="small-pro-pic">-->
    <h2><a href="javascript:void(0);">{{userdata.name}}</a></h2>
    <div class="bottom-fixed">
    <p>
      <strong>Technical Experience Level</strong>&nbsp;&nbsp;
      <a href="javascript:void(0);" ng-show="expertleveleditbtn && meTrue" ng-click="open_edit_expart_level();">
        <i class="fa fa-edit"></i>
      </a>
   </p>
   <p ng-show="var1 = (meTrue?(requiredhelpeditbtn):true)">{{userdata.expert_level}}</p>
   <div id="collapseExample3" ng-show="!expertleveleditbtn && meTrue">
    <div class="onclic-edit">
      <select ng-model="user_expert_level" data-ng-options="o.name for o in expert_level_options">
      </select>
      <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_expart_level();" data-style="zoom-in" ladda="loading" data-spinner-size="25">Save</a>  
      <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_expart_level();" style="background: #e6e6e6;">Cancel</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
 
 <div class="over-view">
  <div class="container">
  <div class="col-md-12">
   <strong style="color:#09455D;">Overview</strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #b94a48;font-size:14px;">*Your profile is not public and is only visible to mentors on LiveHelpout</span>
  </div>
  </div>
 </div>
 
 <div class="about-wrapper">
 <div class="container">
 <div class="col-md-7">
 <div class="left-box-profile-edit">
 <h2>About Me&nbsp;&nbsp;
  <a href="javascript:void(0);" ng-click="open_edit_aboutme();" ng-show="expertaboutmebtn && meTrue">
    <i class="fa fa-edit"></i>
  </a> 
  <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_aboutme();" data-style="zoom-in" ladda="loadingaboutme" data-spinner-size="25" ng-show="!expertaboutmebtn && meTrue">Save</a> 
  <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_aboutme();" style="background: #e6e6e6;" ng-show="!expertaboutmebtn && meTrue">Close</a></h2>

<ul class="edit-list" ng-show="var3 = (meTrue?(expertaboutmebtn):true)">
  <li ng-repeat="about in userdata.why_to_like">
     <div>
        <label style="font-weight:normal;font-size:15px;">
         {{about.whytolike}}
        </label>
      </div>
  </li>
</ul>

<ul class="edit-list 1" ng-show="var2 = (meTrue?(!expertaboutmebtn):false)">
  <li ng-repeat="(key, value) in whytolikelists">
     <div>
        <label style="font-weight:normal;font-size:15px;">
         <input id="{{key}}" type="checkbox" ng-click="toggleSelection(key)" class="icheckbox_square" ng-model="likelist" name="likelist[]" id="" value="{{key}}">
         {{value}}
        </label>
      </div>
  </li>
</ul>

 </div>
</div>
		<div class="col-md-7" ng-show="norequestexist">
		 <div class="left-box-profile-edit">
		  <h2>Request</h2>
		  <ul class="request">
		   <li ng-repeat="allpreviousrequest in allpreviousrequests">
		    <h2>{{allpreviousrequest.title}}</h2>
		    <p>{{allpreviousrequest.details}}</p>
		    <a href="javascript:void(0);" style="word-spacing: 6px;">{{allpreviousrequest.selectedcats}}</a>
		    
		    <div class="requestSign solved" ng-if="allpreviousrequest.status=='1'">
			<div class="signText">
			 Solved
			</div>
		    </div>
		    <div class="requestSign solved solved-color" ng-if="allpreviousrequest.status=='0'">
			<div class="signText">
			 New
			</div>
		    </div>
		    
		   </li>
		 </ul>
		</div>
		</div>
		
		<div class="col-md-7" ng-show="expertise">
			<div class="left-box-profile-edit">
				<h2>EXPERTISE</h2>
				<div class="row-fluid">
					<div class="well span12">
						<div class="skillModule" ng-repeat="expert in expertise" style="border-bottom: 1px solid #eee;padding: 10px;">
							<div class="info-title">
								<a class="skillName" href="javascript:void()" data-original-title="" title="">
								{{expert.name}}
								</a>
								<small class="muted skillYear">- {{expert.experience_years}} years experience</small>
							</div>
							<div class="description"><div class="" style="white-space:pre-wrap;">{{expert.domain_details}}</div></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-7" >
			<div class="left-box-profile-edit">
				<h2>QUICK TIPS</h2>
				<div class="row-fluid help-listing-container">
					<div class="well span12">
						<div ng-show="tips">
						<div class="help-listing" ng-repeat="tip in tips" style="border-bottom: 1px solid #eee;" >
							<h4 style="font-size: 1.3em;font-weight: bold;line-height: 1.5;">
								<a href="javascript:void()" data-original-title="" title="">{{tip.title}}</a>
							</h4>
							<p style="color: #5f6366;">
								{{tip.description}}
							</p>
							<div class="tags-wrapper" style="color: #9BB6BF;font-size: 14px;margin-right: 12px;margin-top: 15px;">
								{{tip.tags}}
							</div>
							<div class="action">
								<!--<a class="edit" href="javascript:void()" ng-click="editTip('{{tip.id}}')" data-original-title="" title=""><i class="icon-edit"></i>Edit</a>
								<a class="delete ng-isolate-scope" ng-class="{deleting:doing}" href="javascript:void()" ng-click="deleteTip('{{tip.id}}')" ><i class="icon-remove"></i> <span class="ng-binding">Delete</span></a>-->
								<!--<span class="muted pull-right">Published: 2015-11-27</span>-->
							</div>
						</div>
						</div>
						<div ng-show="meTrue" class="add-new" style="margin-top: 5px;padding-top: 10px;">
							<a href="javascript:void(0);" ng-click="openModalTip('quickTipModel');" data-original-title="" title="">
							<i class="icon-plus-sign"></i>
							Write a Quick Tip
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<!--
		<div class="col-md-7" >
			<div class="left-box-profile-edit">
				<h2>I CAN HELP YOU WITH</h2>
				<div class="row-fluid help-listing-container">
					<div class="well span12">
						<div class="add-new">
							<a href="javascript:void(0);" ng-click="openModal('quickTipModel');" data-original-title="" title="">
							<i class="icon-plus-sign"></i>
							Create a New Help Listing
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7" >
			<div class="left-box-profile-edit">
				<h2>AMA</h2>
				<div class="row-fluid help-listing-container">
					<div class="well span12">
						<div class="add-new">
							<a href="/tips/new" data-original-title="" title="">
							<i class="icon-plus-sign"></i>
							Host an AMA Event
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>-->

</div>
</div>
</section>


<div class="custom-modal modal fade" id="quickTipModel"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Add Your Quick Tip</h4>
          </div>
          <div class="modal-body">
            <div ng-show="loginalertmessage" class="{{alert.altclass}}">
             <div id="flash_notice">{{alert.msg}}</div>
            </div>
             <form method="POST">
             <input type="hidden" name="start_date" ng-model="start_date" id="startDate" ng-value="start_date" value="">
             <input type="hidden" name="tipid" ng-model="tip.id" id="id" ng-value="tip.id" value="">
             <input type="hidden" name="userdata.id"" ng-model="userdata.id" id="userid" ng-value="{{userdata.id}}" value="{{userdata.id}}">
                <div class="form-group">
                   <label class="col-sm-12 control-label">Write the title and content </label>
                   <div class="col-sm-10">
                      <input type="text" placeholder="Title: be specific as possible" class="form-control" id="title" ng-model="tip.title" ng-required="true"/>
                   </div>
                   
                </div>
                <div class="form-group">
                   
                   <div class="col-sm-10">
                      <textarea ng-model="tip.description" class="form-control" style="height:120px;" id="description"></textarea>
                   </div>
                </div>
                <div class="form-group">
                   <label class="col-sm-12 control-label">Tags</label>
                   <div class="col-sm-10">
					<tags-input ng-model="tip.tags" class="form-control" style="height:auto;width:86%;margin-bottom:10px;">
					  <auto-complete source="loadTags($query)"></auto-complete>
					</tags-input>  	
                   </div>
                </div>
                <div class="form-group">
                   <div class="col-sm-12">
                      <button ng-click="add_tip();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Publish Tip</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 
</div>
