<div ng-controller="usersettingCtrl">
<section class="body-wrapper">
          <div class="container">
          
    <div class="row">
        <div class="col-md-3"> 
            <div data-ng-include data-src="'assets/views/frontend/includes/setting_left.html'"></div>
        </div>
    <div class="col-md-9">
    
    <div class="lets_friend">
    	<h4 class="title2">Personal Setting</h4>
        <div class="col-md-8">
            <form ng-upload method="post" enctype="multipart/form-data">
                <div ng-show="alertmessage" class="{{alert.altclass}}">

                    <div id="flash_notice">{{alert.msg}}</div>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Name*</label>
                    <input type="text" class="form-control" ng-model="userdata.name" name="name" ng-required id="exampleInputName" placeholder="Your name" ng-value="{{userdata.name}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Company Name*</label>
                    <input type="text" class="form-control" id="exampleInputCompanyName" ng-required ng-model='userdata.company_name' ng-value="{{userdata.company_name}}" name='company_name' placeholder="Enter your company name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Website</label>
                    <input type="text" class="form-control" id="exampleInputWebsite" ng-model='userdata.website' ng-value="{{userdata.website}}" name='website' placeholder="Enter website link">
                </div>
                <!--<div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='password' placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password Confirmation</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model='confpassword' placeholder="Password">
                </div>-->
                <div class="form-group">
                    <label for="exampleInputPassword1">Time Zone*</label>
                    <select class="form-control" ng-model="usertimezone" ng-required data-ng-options="key as val for (key, val) in alltimezones">    
                        <option value="">Select Timezone</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label for="exampleInputPassword1">Profile Image</label>
                    <input type="file" name="image" ng-model="image" >
                </div>-->
                <button style="margin-left:20px;margin-top: -8px;padding: 8px 19px;" ng-click="update()" class="btn btn-primary">Update</button>
                <!--<div class="form-group">
                    <a ng-click="activate();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-custom-big">Activate</a>
                </div>-->
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    
    
    
    
    </div>
    </div>
  </div>
        </section>
  

</div>
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
