<div ng-controller="paymentcancelCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="min-height: 600px;">
                <div class="right-block-new" style="margin-top: 20%;margin-bottom: auto;height:86px;">
                    <ul class="right-block-top">
                        <li class="text-center">

                    <!---<div class="icon-left">
                    <span aria-hidden="true" class="glyphicon glyphicon-bullhorn"></span>
                    </div>-->
                    <div class="icon-content">
                    <h4>Payment Failed. Please try again later. </h4>
                    <!--<p><span>Lorem Ipsum Doller Sit Amet</span></p>-->
                    </div>

                    </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


