<div ng-controller="searchResultCtrl">
    <section class="body-wrapper">
        <div class="container" >
            <div class="row" >
                <div class="col-md-12">

                    <!--==================================================================-->
                    <div class="left-box requesthistory">
                        <div class="hor">
                            <input type="hidden" id="hidden_activetab" value="1">

                            <ul id="myTab" class="nav nav-tabs" role="tablist" >
                                <li role="presentation" id="related_request-tab" class="requesthistoryli active"><a href="javascript:void(0);"   role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" ng-click="openrequesthistorytab('related_request');">
                                        Requests</a></li>

                                <li role="presentation" class="requesthistoryli" id="allother-tab"><a href="javascript:void(0);" role="tab"  id="allother-tab" data-toggle="tab" aria-controls="profile" ng-click="openrequesthistorytab('allother');">
                                        Mentors</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div id="loader" style="padding-top: 25px; ">
                                    <div class="circle"></div>
                                    <div class="circle1"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="related_request" aria-labelledby="related-request">
                                    <ul class="right-block-top relatedrequestsdiv" ng-show="relatedrequestsdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no related request.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul style="padding:0px;" class="right-block-top job_posted relatedrequestsdiv"  ng-show="!relatedrequestsdiv">
                                        <li ng-repeat="relatedrequest in relatedrequests">
                                            <div class="postedby">
                                                <div class="feed_userimage">
                                                    <img  class="image-thumb" src="{{siteurl}}assets/upload/user_images/{{relatedrequest.userimage!=''?relatedrequest.userimage:'noimage.png'}}">
                                                </div>  
                                                <div class="profile-name" style="width:91%;">
                                                    <h3 style="font-weight:normal;">{{relatedrequest.username}}</h3>
                                                    <p style="margin:0; font-weight:normal;">{{relatedrequest.posttime}}</p>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="post_body">
                                                <h1>{{relatedrequest.title}}</h1>
                                                <div class="col-md-6" style="padding-left:0;">
                                                    <div ng-if="relatedrequest.imagefileexist == '1'" class="request_images_div_outer">
                                                        <div class="clearfix"></div>
                                                        <!--<div class="request_images_div" ng-repeat="reqfile in relatedrequest.files | filter : {filetype: 'image'}" ng-click="showimageslide(relatedrequest.id,reqfile.file);" style="cursor:pointer;">
                                                         <img src="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}">
                                                        </div>-->
                                                        <!---------------------------------->
                                                        <div  ng-photo-grid =   ""
                                                              images        =   "relatedrequest.images"
                                                              grid-options  =   "gridOptions"
                                                              ng-class      =   "{'loading': isBuildingGrid}"
                                                              class         =   "feed-photos">
                                                        </div>
                                                        <!---------------------------------->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div ng-if="relatedrequest.otherfileexist == '1'" class="request_files_div_outer">
                                                        <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                        <div class="clearfix"></div>
                                                        <div class="request_files_div" ng-repeat="reqfile in relatedrequest.files| filter : {filetype: 'pdf'}">
                                                            <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div id="likediv{{relatedrequest.id}}">
                                                    <i class="fa fa-heart-o" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked == '0'"></i><i class="fa fa-heart" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked == '1'"></i> <span style="display:inline;" id="likecount{{relatedrequest.id}}">{{relatedrequest.count_like}}</span>
                                                </div>


                                                <div class="clearfix"></div>
                                                <div  id="request_details{{relatedrequest.id}}">
                                                    <p class="ptag"> Job amount: ${{relatedrequest.budget}}</p>
                                                    <p>
                                                        {{relatedrequest.details}}
                                                    </p>
                                                    <div>
                                                        <span class="category_span">
                                                            <p>Category:</p> 
                                                            <a href="javascript:;" ng-repeat="category in relatedrequest.categories">{{category.tag}}</a> 
                                                        </span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div>
                                                        <span class="subcategory_span">
                                                            <p>Sub Category:</p> 
                                                            <a href="javascript:;" ng-repeat="subcategory in relatedrequest.subcategories">{{subcategory.tag}}</a> 
                                                        </span>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="allother" aria-labelledby="all-other-request" style="display:none;">
                                    <ul class="right-block-top allotherdiv" ng-show="allotherdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no mentor.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div style="padding:0px;" class="right-block-top job_posted allotherdiv"  ng-show="!allotherdiv">
                                        <div class="all-profile" ng-repeat="allrelatedmentor in allotherrequests" style="background-color:#fff;">
                                            <div style="float:left;">
                                                <img src="{{siteurl}}assets/upload/user_images/{{allrelatedmentor.userimage!=''?allrelatedmentor.userimage:'noimage.png'}}" class="image-thumb" alt="{{allrelatedmentor.username}}">
                                            </div>
                                            <div class="profile-name">
                                                <h3>{{allrelatedmentor.username}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span ng-if="allrelatedmentor.login_status == '1'"><i class="fa fa-flash"></i> Instant Session</span>
                                                    <span ng-if="allrelatedmentor.login_status == '2'"><i class="fa fa-circle"></i> Online</span>
                                                    <a href="javascript:void(0);" class="btn btn-success" style="float: right;">Get Free Session</a>
                                                </h3>
                                                <p>{{allrelatedmentor.headline}}</p>
                                                <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                                            </div>
                                            <div class="profile-details-right">
                                                <p>{{allrelatedmentor.about}}</p>
                                                <div class="tag">
                                                    <ul>
                                                        <li ng-repeat="expertise in allrelatedmentor.expertize" style="border:0; width:auto;padding:0;"><a href="javascript:void(0);">{{expertise.tag}}</a></li>
                                                    </ul>
                                                </div>
                                                <div class="avail">
                                                    <p class="small">*Available For Hire</p>
                                                </div>
                                            </div>
                                        </div>                              
                                    </div> 
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>    
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

<style>
    .request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
    .request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
    .request_images_div img{width:99px;height:99px;}
    .request_images_div_outer{margin-bottom:11px;}
</style>
