<div ng-controller="taxinfoCtrl">
<section class="body-wrapper">
          <div class="container">
          
    <div class="row">
        <div class="col-md-3"> 
            <div data-ng-include data-src="'assets/views/frontend/includes/setting_left.html'"></div>
        </div>
    <div class="col-md-9">
    <div ng-show="alertmessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
    <div class="lets_friend" ng-show="!settax">
    	
			<legend>
			Tax Information
			</legend>
			<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
			<form name="tax_info" class="simple_form edit_mentor_config ng-pristine ng-valid" id="edit_mentor_config_1634" accept-charset="UTF-8" method="post">
				<div ng-init="forEdit=false;tax_info=false;change=false;us=undefined;" ng-show="(!tax_info||forEdit)&amp;&amp;!change" style="font-size:25px;padding:20px;line-height:1.3;display: table-cell;">
					<p style="margin-bottom: 24px;">
					For tax purposes, are you a citizen or resident of the United States?
					</p>
					
					<a class="col-md-12" href="" ng-click="us=1;change=true;setus('1');" style="padding:0 40px;margin-bottom:10px;display:block;">Yes - I am a citizen or resident of the United States.</a>
					<a class="col-md-12" href="" ng-click="us=2;change=true;setus('2');" style="padding:0px 40px 0px 50px;display:block;">No - I am not. I'm an individual.</a>
					<!--<a class="col-md-12" href="" ng-click="us=3;change=true;setus('3');" style="padding:0px 40px 0px 50px;margin-top:10px;display:block;">No - I am using a non-US entity for tax purposes.</a>-->
				</div>
				
				
				
				<div ng-if="change&amp;&amp;us!=undefined" style="margin-bottom:10px;" class="ng-scope">
					<small>
						<a href="#" ng-click="$parent.change=false;$parent.us=undefined;">
						&lt;&lt; Back
						</a>
					</small>
				</div>
				
				
				<div class="us ng-scope" ng-if="(tax_info&amp;&amp;us==1)||(us==1&amp;&amp;change&amp;&amp;us!==undefined)">
					<b>
					A W-9 is required for a U.S. citizen who receives income from a company, but is not an employee.
					</b>
					<br>
					<br>
					<div class="col-md-8">
					<div class="control-group hidden mentor_config_us_citizen">
						<div class="controls"><input class="hidden input-xxlarge" value="1" ng-value="userdata.us_citizen" type="hidden"  ng-model="userdata.us_citizen" name="userdata.us_citizen" ng-name="userdata.us_citizen" id="mentor_config_us_citizen"></div>
					</div>
					<div class="control-group string optional mentor_config_full_name">
						<label class="string optional control-label" for="mentor_config_full_name">*Full Name</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.full_name" id="mentor_config_full_name" ng-required ng-model="userdata.full_name"></div>
					</div>
					<div class="control-group string optional mentor_config_business_name">
						<label class="string optional control-label" for="mentor_config_business_name">Business Name: (if applicable)</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.business_name" id="mentor_config_business_name" ng-model="userdata.business_name" ></div>
					</div>
					<div class="control-group string optional mentor_config_address">
						<label class="string optional control-label" for="mentor_config_address">*Address: (number, street, and apt/suite)</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.address" id="mentor_config_address" ng-model="userdata.address" ng-required></div>
					</div>
					<div class="control-group string optional mentor_config_city">
						<label class="string optional control-label" for="mentor_config_city">*City</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.city" id="mentor_config_city" ng-model="userdata.city" ng-required></div>
					</div>
					<div class="control-group select optional mentor_config_state">
						<label class="string optional control-label" for="mentor_config_state">*State</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.state" id="mentor_config_state" ng-model="userdata.state" ng-required></div>
					</div>	
					<div class="control-group string optional mentor_config_zip_code">
						<label class="string optional control-label" for="mentor_config_zip_code">*Zip Code</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.zip_code" id="mentor_config_zip_code" ng-model="userdata.zip_code" ng-required></div>
					</div>
					<div class="control-group select optional mentor_config_classification">
						<label class="string optional control-label" for="mentor_config_classification">*Classification</label>
						<div class="controls">
							<select class="form-control" name="userdata.classification" id="mentor_config_classification" ng-model="userdata.classification" ng-required>
								<option value=""></option>
								<option value="Individual/Sole Proprietor">Individual/Sole Proprietor</option>
								<option value="C Corporation">C Corporation</option>
								<option value="S Corporation">S Corporation</option>
								<option value="Partnership">Partnership</option>
								<option value="Trust/Estate">Trust/Estate</option>
								<option value="Limited Liability Company">Limited Liability Company</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
					<hr>
					<div class="control-group string optional mentor_config_ssn"><label class="string optional control-label" for="mentor_config_ssn">*Social Security Number</label><div class="controls"><input class="form-control" placeholder="e.g. 123456789 (9 digits)" type="text" name="userdata.ssn" id="mentor_config_ssn" ng-model="userdata.ssn" ng-required></div></div>
					<p>
					OR
					</p>
					<div class="control-group string optional mentor_config_ein"><label class="string optional control-label" for="mentor_config_ein">*Employer Identification Number</label><div class="controls"><input class="form-control" placeholder="e.g. 12345678 (8 or 9 digits)" type="text" name="userdata.ein" id="mentor_config_ein" ng-model="userdata.ein" ng-required></div></div>
					</div>
					</div>
					
					
					<div class="non_us ng-scope" ng-if="(tax_info&amp;&amp;us==2)||(us==2&amp;&amp;change&amp;&amp;us!==undefined)">
						<b>
						A W-8BEN is required for a non-U.S. citizen who receives income from a company, but is not an employee.
						</b>
						<br>
						<div class="col-md-8">
							<div class="control-group hidden mentor_config_us_citizen">
								<div class="controls"><input class="hidden input-xxlarge" value="1" ng-value="userdata.us_citizen" type="hidden"  ng-model="userdata.us_citizen" name="userdata.us_citizen" ng-name="userdata.us_citizen" id="mentor_config_us_citizen"></div>
							</div>
							<div class="control-group string optional mentor_config_full_name">
								<label class="string optional control-label" for="mentor_config_full_name">*Full Name</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.full_name" id="mentor_config_full_name" ng-required ng-model="userdata.full_name"></div>
							</div>
							<div class="control-group string optional mentor_config_birth_date">
								<label class="string optional control-label" for="mentor_config_birth_date">*Date of Birth: (MM-DD-YYYY)</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.birth_date" id="mentor_config_birth_date" ng-required ng-model="userdata.birth_date"></div>
							</div>
							<div class="control-group string optional mentor_config_taxpayer_id">
								<label class="string optional control-label" for="mentor_config_taxpayer_id">U.S. Taxpayer ID Number: (SSN or ITIN)</label>
								<div class="controls"><input class="form-control" placeholder="e.g. 123456789" type="text" name="userdata.ssn" id="mentor_config_ssn" ng-model="userdata.ssn" ></div>
							</div>
							<div class="control-group string optional mentor_config_foreign_tax_id">
								<label class="string optional control-label" for="mentor_config_foreign_tax_id">Foreign Tax Identifying Number</label>
								<div class="controls"><input class="form-control" placeholder="e.g. 123456789" type="text" name="userdata.ein" id="mentor_config_ein" ng-model="userdata.ein" ></div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Permanent Address
								<small class="muted">(No P.O. Box or in-care-of address)</small>
							</div>
							<div class="control-group string optional mentor_config_p_street">
								<label class="string optional control-label" for="mentor_config_p_street">*Street, apt/ste no., or rural route</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.address" id="mentor_config_address" ng-model="userdata.address" ng-required></div>
							</div>
							<div class="control-group string optional mentor_config_p_city">
								<label class="string optional control-label" for="mentor_config_p_city">*City or Town</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.city" id="mentor_config_city" ng-model="userdata.city" ng-required></div>
							</div>
							<div class="control-group string optional mentor_config_p_state">
								<label class="string optional control-label" for="mentor_config_p_state">*State or Province</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.state" id="mentor_config_state" ng-model="userdata.state" ng-required></div>
							</div>
							<div class="control-group string optional mentor_config_p_postal">
								<label class="string optional control-label" for="mentor_config_p_postal">*Postal Code</label>
								<div class="controls"><input class="form-control" type="text" name="userdata.zip_code" id="mentor_config_zip_code" ng-model="userdata.zip_code" ng-required></div>
							</div>
							<!--<div class="control-group select optional mentor_config_p_country">
								<label class="select optional control-label" for="mentor_config_p_country">*Country</label>
								<div class="controls">
									<select class="form-control" name="mentor_config[p_country]" id="mentor_config_p_country">
										<option value=""></option>
										<option value="Afghanistan">Afghanistan</option>
										<option value="Åland Islands">Åland Islands</option>
										<option value="Zimbabwe">Zimbabwe</option>
									</select>
								</div>
							</div>-->
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Mailing Address
							</div>
							<div class="control-group boolean">
								<input class="control-group boolean optional ng-pristine ng-untouched ng-valid" id="same_address" name="userdata.same_address" ng-init="same_address=false;" ng-model="userdata.same_address" style="vertical-align: top;" type="checkbox">
								<label class="boolean optional control-label" for="same_address" style="display:inline;">
								Same with Permanent Address
								</label>
							</div>
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_street ng-scope"><label class="string optional control-label" for="mentor_config_m_street">*Street, apt/ste no., or rural route</label><div class="controls"><input class="form-control" type="text" name="userdata.mail_address" id="mentor_config_mail_address" ng-model="userdata.mail_address" ng-required"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_city ng-scope"><label class="string optional control-label" for="mentor_config_mail__city">*City or Town</label><div class="controls"><input class="form-control" type="text" name="userdata.mail_city" id="mentor_config_mail_city" ng-model="userdata.mail_city" ng-required></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_state ng-scope"><label class="string optional control-label" for="mentor_config_mail__state">*State or Province</label><div class="controls"><input class="form-control" type="text" name="userdata.mail_state" id="mentor_config_mail_state" ng-model="userdata.mail_state" ng-required></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_postal ng-scope"><label class="string optional control-label" for="mentor_config_mail__postal">*Postal Code</label><div class="controls"><input class="form-control" type="text" name="userdata.zip_mail_code" id="mentor_config_mail_zip_code" ng-model="userdata.mail_zip_code" ng-required></div></div><!-- end ngIf: !same_address -->
							
								<br>
						</div>
					</div>
					
					<div class="us ng-scope" ng-if="(tax_info&amp;&amp;us==3)||(us==3&amp;&amp;change&amp;&amp;us!==undefined)">
						<b>
						A W8-BEN-E is required for a foreign entity.
						</b>
						<br>
						<small class="muted">
							<a href="http://www.irs.gov/pub/irs-pdf/iw8bene.pdf" target="_blank">
							More info and specific instructions regarding this form
							</a>
						</small>
						<br>
						<br>
						<div class="col-md-8">
							<div class="control-group hidden mentor_config_us_citizen"><div class="controls"><input class="hidden input-xxlarge" value="3" type="hidden" name="mentor_config[us_citizen]" id="mentor_config_us_citizen"></div></div>
							<div class="control-group string optional mentor_config_full_name">
								<label class="string optional control-label" for="mentor_config_full_name">*Full Name</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[full_name]" id="mentor_config_full_name"></div>
							</div>
							<div class="control-group string optional mentor_config_entity_name">
								<label class="string optional control-label" for="mentor_config_entity_name">*Entity Name</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[entity_name]" id="mentor_config_entity_name"></div>
							</div>
							<div class="control-group select optional mentor_config_status">
								<label class="select optional control-label" for="mentor_config_status">*Status</label>
								<div class="controls">
									<select class="form-control" name="mentor_config[status]" id="mentor_config_status">
										<option value=""></option>
										<option value="corporation">Corporation</option>
										<option value="disregarded_entity">Disregarded Entity</option>
										<option value="partnership">Partnership</option>
										<option value="simple_trust">Simple Trust</option>
										<option value="grantor_trust">Grantor Trust</option>
										<option value="complex_trust">Complex Trust</option>
										<option value="estate">Estate</option>
										<option value="government">Government</option>
										<option value="central_bank_of_issue">Central Bank of Issue</option>
										<option value="tax_exempt_organization">Tax-exempt Organization</option>
										<option value="private_foundation">Private Foundation</option>
									</select>
								</div>
							</div>
							<div class="control-group string optional mentor_config_tin">
								<label class="string optional control-label" for="mentor_config_tin">US Taxpayer Identification Number</label>
								<div class="controls"><input class="form-control" placeholder="e.g. 123456789" type="text" name="mentor_config[tin]" id="mentor_config_tin"></div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Permanent Address
								<small class="muted">
								(No P.O. Box or in-care-of address)
								</small>
							</div>
							<div class="control-group string optional mentor_config_p_street">
								<label class="string optional control-label" for="mentor_config_p_street">*Street, apt/ste no., or rural route</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_street]" id="mentor_config_p_street"></div>
							</div>
							<div class="control-group string optional mentor_config_p_city">
								<label class="string optional control-label" for="mentor_config_p_city">*City or Town</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_city]" id="mentor_config_p_city"></div>
							</div>
							<div class="control-group string optional mentor_config_p_state">
								<label class="string optional control-label" for="mentor_config_p_state">*State or Province</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_state]" id="mentor_config_p_state"></div>
							</div>
							<div class="control-group string optional mentor_config_p_postal">
								<label class="string optional control-label" for="mentor_config_p_postal">*Postal Code</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_postal]" id="mentor_config_p_postal"></div>
							</div>
							<div class="control-group select optional mentor_config_p_country">
								<label class="select optional control-label" for="mentor_config_p_country">*Country</label>
								<div class="controls">
									<select class="form-control" name="mentor_config[p_country]" id="mentor_config_p_country">
										<option value=""></option>
										<option value="Afghanistan">Afghanistan</option>
										<option value="Zimbabwe">Zimbabwe</option>
									</select>
								</div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Mailing Address
							</div>
							<div class="control-group boolean">
								<input class="control-group boolean optional ng-pristine ng-untouched ng-valid" id="same_address" name="same_address" ng-init="same_address=false;" ng-model="same_address" style="vertical-align: top;" type="checkbox">
								<label class="boolean optional control-label" for="same_address" style="display:inline;">
								Same with Permanent Address
								</label>
							</div>
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_street ng-scope"><label class="string optional control-label" for="mentor_config_m_street">*Street, apt/ste no., or rural route</label><div class="controls"><input class="form-controle" type="text" name="mentor_config[m_street]" id="mentor_config_m_street"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_city ng-scope"><label class="string optional control-label" for="mentor_config_m_city">*City or Town</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_city]" id="mentor_config_m_city"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_state ng-scope"><label class="string optional control-label" for="mentor_config_m_state">*State or Province</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_state]" id="mentor_config_m_state"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_postal ng-scope"><label class="string optional control-label" for="mentor_config_m_postal">*Postal Code</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_postal]" id="mentor_config_m_postal"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group select optional mentor_config_m_country ng-scope"><label class="select optional control-label" for="mentor_config_m_country">*Country</label><div class="controls"><select class="form-control" name="mentor_config[m_country]" id="mentor_config_m_country"><option value=""></option>
							<option value="Afghanistan">Afghanistan</option>
							<option value="Zimbabwe">Zimbabwe</option></select></div></div><!-- end ngIf: !same_address -->
							<br>
						</div>
					</div>

					
					<div class="col-md-12">
						<!--<input type="button" name="commit" value="Update" class="btn btn btn-primary submitBtn ng-hide" ng-show="change" ng-click="update_tax_info()">-->
						<button ng-click="update_tax_info()" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" ng-show="change" class="btn btn-cust-new">Submit</button>
					</div>
			</form>
		
       
        <div class="clearfix"></div>
    
    
    
    
    
    </div>
    
    
    <div class="lets_friend" ng-show="settax">
    	
			<legend>
			Tax Information
			</legend>
			<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
			<form name="tax_info" class="simple_form edit_mentor_config ng-pristine ng-valid" id="edit_mentor_config_1634" accept-charset="UTF-8" method="post">
				<div class="us ng-scope" ng-if="(tax_info&amp;&amp;us==1)||(us==1&amp;&amp;change&amp;&amp;us!==undefined)">
					<b>
					A W-9 is required for a U.S. citizen who receives income from a company, but is not an employee.
					</b>
					<br>
					<br>
					<div class="col-md-8">
					<div class="control-group hidden mentor_config_us_citizen">
						<div class="controls"><input class="hidden input-xxlarge" value="{{userdata.us_citizen}}" type="hidden"  ng-model="userdata.us_citizen" name="userdata.us_citizen" ng-name="userdata.us_citizen" id="mentor_config_us_citizen">
						<input class="hidden input-xxlarge" value="{{userdata.id}}" type="hidden"  ng-model="userdata.id" name="userdata.id" ng-name="userdata.id" id="mentor_config_id">
						</div>
					</div>
					<div class="control-group string optional mentor_config_full_name">
						<label class="string optional control-label" for="mentor_config_full_name">*Full Name</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.full_name" id="mentor_config_full_name" ng-required ng-model="userdata.full_name"></div>
					</div>
					<div class="control-group string optional mentor_config_business_name">
						<label class="string optional control-label" for="mentor_config_business_name">Business Name: (if applicable)</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.business_name" id="mentor_config_business_name" ng-model="userdata.business_name" ></div>
					</div>
					<div class="control-group string optional mentor_config_address">
						<label class="string optional control-label" for="mentor_config_address">*Address: (number, street, and apt/suite)</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.address" id="mentor_config_address" ng-model="userdata.address" ng-required></div>
					</div>
					<div class="control-group string optional mentor_config_city">
						<label class="string optional control-label" for="mentor_config_city">*City</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.city" id="mentor_config_city" ng-model="userdata.city" ng-required></div>
					</div>
					<div class="control-group select optional mentor_config_state">
						<label class="string optional control-label" for="mentor_config_state">*State</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.state" id="mentor_config_state" ng-model="userdata.state" ng-required></div>
					</div>	
					<div class="control-group string optional mentor_config_zip_code">
						<label class="string optional control-label" for="mentor_config_zip_code">*Zip Code</label>
						<div class="controls"><input class="form-control" type="text" name="userdata.zip_code" id="mentor_config_zip_code" ng-model="userdata.zip_code" ng-required></div>
					</div>
					<div class="control-group select optional mentor_config_classification">
						<label class="string optional control-label" for="mentor_config_classification">*Classification</label>
						<div class="controls">
							<select class="form-control" name="userdata.classification" id="mentor_config_classification" ng-model="userdata.classification" ng-required>
								<option value=""></option>
								<option value="Individual/Sole Proprietor">Individual/Sole Proprietor</option>
								<option value="C Corporation">C Corporation</option>
								<option value="S Corporation">S Corporation</option>
								<option value="Partnership">Partnership</option>
								<option value="Trust/Estate">Trust/Estate</option>
								<option value="Limited Liability Company">Limited Liability Company</option>
								<option value="Other">Other</option>
							</select>
						</div>
					</div>
					<hr>
					<div class="control-group string optional mentor_config_ssn"><label class="string optional control-label" for="mentor_config_ssn">*Social Security Number</label><div class="controls"><input class="form-control" placeholder="e.g. 123456789 (9 digits)" type="text" name="userdata.ssn" id="mentor_config_ssn" ng-model="userdata.ssn" ng-required></div></div>
					<p>
					OR
					</p>
					<div class="control-group string optional mentor_config_ein"><label class="string optional control-label" for="mentor_config_ein">*Employer Identification Number</label><div class="controls"><input class="form-control" placeholder="e.g. 12345678 (8 or 9 digits)" type="text" name="userdata.ein" id="mentor_config_ein" ng-model="userdata.ein" ng-required></div></div>
					</div>
					</div>
					
					
					<div class="non_us ng-scope" ng-if="(tax_info&amp;&amp;us==2)||(us==2&amp;&amp;change&amp;&amp;us!==undefined)">
						<b>
						A W-8BEN is required for a non-U.S. citizen who receives income from a company, but is not an employee.
						</b>
						<br>
						<div class="col-md-8">
							<div class="control-group hidden mentor_config_us_citizen">
								<div class="controls"><input class="hidden input-xxlarge" value="2" type="hidden" name="mentor_config[us_citizen]" id="mentor_config_us_citizen"></div>
							</div>
							<div class="control-group string optional mentor_config_full_name">
								<label class="string optional control-label" for="mentor_config_full_name">*Full Name</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[full_name]" id="mentor_config_full_name"></div>
							</div>
							<div class="control-group string optional mentor_config_birth_date">
								<label class="string optional control-label" for="mentor_config_birth_date">*Date of Birth: (MM-DD-YYYY)</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[birth_date]" id="mentor_config_birth_date"></div>
							</div>
							<div class="control-group select optional mentor_config_citizenship">
								<label class="select optional control-label" for="mentor_config_citizenship">*Country of Citizenship</label>
								<div class="controls">
									<select class="form-control" name="mentor_config[citizenship]" id="mentor_config_citizenship">
										<option value=""></option>
										<option value="Afghanistan">Afghanistan</option>
										<option value="Åland Islands">Åland Islands</option>
										<option value="Zimbabwe">Zimbabwe</option>
									</select>
								</div>
							</div>
							<div class="control-group string optional mentor_config_taxpayer_id">
								<label class="string optional control-label" for="mentor_config_taxpayer_id">U.S. Taxpayer ID Number: (SSN or ITIN)</label>
								<div class="controls"><input class="form-control" placeholder="e.g. 123456789" type="text" name="mentor_config[taxpayer_id]" id="mentor_config_taxpayer_id"></div>
							</div>
							<div class="control-group string optional mentor_config_foreign_tax_id">
								<label class="string optional control-label" for="mentor_config_foreign_tax_id">Foreign Tax Identifying Number</label>
								<div class="controls"><input class="form-control" placeholder="e.g. 123456789" type="text" name="mentor_config[foreign_tax_id]" id="mentor_config_foreign_tax_id"></div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Permanent Address
								<small class="muted">(No P.O. Box or in-care-of address)</small>
							</div>
							<div class="control-group string optional mentor_config_p_street">
								<label class="string optional control-label" for="mentor_config_p_street">*Street, apt/ste no., or rural route</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_street]" id="mentor_config_p_street"></div>
							</div>
							<div class="control-group string optional mentor_config_p_city">
								<label class="string optional control-label" for="mentor_config_p_city">*City or Town</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_city]" id="mentor_config_p_city"></div>
							</div>
							<div class="control-group string optional mentor_config_p_state">
								<label class="string optional control-label" for="mentor_config_p_state">*State or Province</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_state]" id="mentor_config_p_state"></div>
							</div>
							<div class="control-group string optional mentor_config_p_postal">
								<label class="string optional control-label" for="mentor_config_p_postal">*Postal Code</label>
								<div class="controls"><input class="form-control" type="text" name="mentor_config[p_postal]" id="mentor_config_p_postal"></div>
							</div>
							<div class="control-group select optional mentor_config_p_country">
								<label class="select optional control-label" for="mentor_config_p_country">*Country</label>
								<div class="controls">
									<select class="form-control" name="mentor_config[p_country]" id="mentor_config_p_country">
										<option value=""></option>
										<option value="Afghanistan">Afghanistan</option>
										<option value="Åland Islands">Åland Islands</option>
										<option value="Zimbabwe">Zimbabwe</option>
									</select>
								</div>
							</div>
						</div>
						<hr>
						
						<div class="col-md-8">
							<div style="font-size:20px;padding:10px 0px 10px 0px;">
							*Mailing Address
							</div>
							<div class="control-group boolean">
								<input class="control-group boolean optional ng-pristine ng-untouched ng-valid" id="same_address" name="same_address" ng-init="same_address=false;" ng-model="same_address" style="vertical-align: top;" type="checkbox">
								<label class="boolean optional control-label" for="same_address" style="display:inline;">
								Same with Permanent Address
								</label>
							</div>
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_street ng-scope"><label class="string optional control-label" for="mentor_config_m_street">*Street, apt/ste no., or rural route</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_street]" id="mentor_config_m_street"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_city ng-scope"><label class="string optional control-label" for="mentor_config_m_city">*City or Town</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_city]" id="mentor_config_m_city"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_state ng-scope"><label class="string optional control-label" for="mentor_config_m_state">*State or Province</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_state]" id="mentor_config_m_state"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group string optional mentor_config_m_postal ng-scope"><label class="string optional control-label" for="mentor_config_m_postal">*Postal Code</label><div class="controls"><input class="form-control" type="text" name="mentor_config[m_postal]" id="mentor_config_m_postal"></div></div><!-- end ngIf: !same_address -->
							<!-- ngIf: !same_address --><div ng-if="!same_address" class="control-group select optional mentor_config_m_country ng-scope"><label class="select optional control-label" for="mentor_config_m_country">*Country</label><div class="controls"><select class="form-control" name="mentor_config[m_country]" id="mentor_config_m_country"><option value=""></option>
								<option value="Afghanistan">Afghanistan</option>
								<option value="Åland Islands">Åland Islands</option>
								<option value="Zimbabwe">Zimbabwe</option></select></div></div><!-- end ngIf: !same_address -->
								<br>
						</div>
					</div>
					
					<div class="col-md-12">
						<!--<input type="button" name="commit" value="Update" class="btn btn btn-primary submitBtn ng-hide" ng-show="change" ng-click="update_tax_info()">-->
						<button ng-click="edit_tax_info()" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Update</button>
					</div>
			
			</form>
			</div>
	</div>		
  </div>
        </section>
  

</div>
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
