<div ng-controller="userprofileCtrl">
<section class="body-wrapper-2">
<div class="profile-background">
<div class="container">
<div class="row">
    
<div class="col-md-8">
    <div class="profile-image-edit-option"><a href="javascript:void(0);">
    		<!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" alt="{{userdata.name}}"></a>  -->
    		<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="imgtype==1" alt="{{userdata.name}}" >
		<img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=100&width=100" ng-show="imgtype==2" alt="{{userdata.name}}">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" alt="{{userdata.name}}" >
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" alt="{{userdata.name}}"> 
      <h4>{{loggedindetails.name}}</h4>
    		<div class="hide-info">Update <br>Photo</div></div>
     <div class="left-profile-details" style="width:70%;">
      <h2>{{userdata.name}}</h2>
       <p ng-show="timezoneeditbtn">
        <i class="fa fa-clock-o"></i> {{userdata.timezone}}&nbsp;&nbsp;
        <a href="javascript:void(0);" ng-click="open_edit_timezone();">
         <i class="fa fa-edit"></i>
        </a>
       </p>
      <div id="collapseExample" ng-show="!timezoneeditbtn">
       <div class="onclic-edit" style="width:100%;">
         <select ng-model="usertimezone" data-ng-options="key as val for (key, val) in alltimezones">
            <option value="">Select Timezone</option>
         </select>
         <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_timezone();" data-style="zoom-in" ladda="loadingtimezone" data-spinner-size="25">Save</a> 
         <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_timezone();" style="background: #e6e6e6;">Cancel</a>
       </div>
     </div>

    <p ng-show="requiredhelpeditbtn">
     <i class="fa fa-tags"></i> Topics I need help with&nbsp;&nbsp;
     <a href="javascript:void(0);" ng-click="open_edit_requiredhelp();">
      <i class="fa fa-edit"></i>
     </a>
    </p>
    <div id="collapseExample2" ng-show="!requiredhelpeditbtn">
      <div class="onclic-edit" style="width:100%;">
       <tags-input ng-model="tags" class="form-control" style="height:auto;width:86%;margin-bottom:10px;">
            <auto-complete source="loadTags($query)"></auto-complete>
       </tags-input>
       <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_requiredhelp();" data-style="zoom-in" ladda="loadingtopics" data-spinner-size="25">Save</a>  
       <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_requiredhelp();" style="background: #e6e6e6;">Cancel</a>
    </div>
  </div>
  <div class="all-tags" ng-show="requiredhelpeditbtn">
   <div class="tag-2" ng-repeat="helprequired in userdata.helprequired">
    <span class="label label-default" style="padding-top: 4px;">{{helprequired.tag}}</span>
   </div>
 </div>
</div>
</div>
<div class="col-md-4">
  <div class="right-box-fixed">
    <!--<img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" alt="userdata.name" class="small-pro-pic">-->
    <img src="{{siteurl}}assets/upload/user_images/{{userdata.image!=''?userdata.image:'noimage.png'}}" ng-show="imgtype==1" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="https://graph.facebook.com/{{userdata.fbid}}/picture?type=large&height=30&width=30" ng-show="imgtype==2" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" alt="{{userdata.name}}" class="small-pro-pic">
		<img src="{{userdata.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" alt="{{userdata.name}}" class="small-pro-pic"> 
    <h2><a href="javascript:void(0);">{{userdata.name}}</a></h2>
    <div class="bottom-fixed">
    <p>
      <strong>Technical Experience Level</strong>&nbsp;&nbsp;
      <a href="javascript:void(0);" ng-show="expertleveleditbtn" ng-click="open_edit_expart_level();">
        <i class="fa fa-edit"></i>
      </a>
   </p>
   <p ng-show="expertleveleditbtn">{{userdata.expert_level}}</p>
   <div id="collapseExample3" ng-show="!expertleveleditbtn">
    <div class="onclic-edit">
      <select ng-model="user_expert_level" data-ng-options="o.name for o in expert_level_options">
      </select>
      <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_expart_level();" data-style="zoom-in" ladda="loading" data-spinner-size="25">Save</a>  
      <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_expart_level();" style="background: #e6e6e6;">Cancel</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
 
 <div class="over-view">
  <div class="container">
  <div class="col-md-12">
   <strong style="color:#09455D;">Overview</strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #b94a48;font-size:14px;">*Your profile is not public and is only visible to mentors on LiveHelpout</span>
  </div>
  </div>
 </div>
 
 <div class="about-wrapper">
 <div class="container">
 <div class="col-md-7">
 <div class="left-box-profile-edit">
 <h2>About Me&nbsp;&nbsp;
  <a href="javascript:void(0);" ng-click="open_edit_aboutme();" ng-show="expertaboutmebtn">
    <i class="fa fa-edit"></i>
  </a> 
  <a href="javascript:void(0);" class="btn btn-sm btn-default" style="background: #3e90ca;color: #fff;" ng-click="submit_edit_aboutme();" data-style="zoom-in" ladda="loadingaboutme" data-spinner-size="25" ng-show="!expertaboutmebtn">Save</a> 
  <a href="javascript:void(0);" class="btn btn-sm btn-default" ng-click="close_edit_aboutme();" style="background: #e6e6e6;" ng-show="!expertaboutmebtn">Close</a></h2>

<ul class="edit-list" ng-show="expertaboutmebtn">
  <li ng-repeat="about in userdata.why_to_like">
     <div>
        <label style="font-weight:normal;font-size:15px;">
         {{about.whytolike}}
        </label>
      </div>
  </li>
</ul>

<ul class="edit-list" ng-show="!expertaboutmebtn">
  <li ng-repeat="(key, value) in whytolikelists">
     <div>
        <label style="font-weight:normal;font-size:15px;">
         <input id="{{key}}" type="checkbox" ng-click="toggleSelection(key)" class="icheckbox_square" ng-model="likelist" name="likelist[]" id="" value="{{key}}">
         {{value}}
        </label>
      </div>
  </li>
</ul>

 </div>
</div>
<div class="col-md-7" ng-show="norequestexist">
 <div class="left-box-profile-edit">
  <h2>Request</h2>
  <ul class="request">
   <li ng-repeat="allpreviousrequest in allpreviousrequests">
    <h2>{{allpreviousrequest.title}}</h2>
    <p>{{allpreviousrequest.details}}</p>
    <a href="javascript:void(0);" style="word-spacing: 6px;">{{allpreviousrequest.selectedcats}}</a>
    
    <div class="requestSign solved" ng-if="allpreviousrequest.status=='1'">
     <div class="signText">
      Solved
     </div>
    </div>
    <div class="requestSign solved solved-color" ng-if="allpreviousrequest.status=='0'">
     <div class="signText">
      New
     </div>
    </div>
    
   </li>
 </ul>
</div>
</div>
</div>
</div>
</section>
</div>
