
<section class="body-wrapper">
          <div class="container">
    <div class="row">

    <div data-ng-include data-src="'./ng/partials/includes/profile_left.html'"></div>
    <div class="col-md-9">
    <div class="right-block-new">
    <ul class="right-block-top">
    <li>
    <a href="#">
    <div class="icon-left">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
    </div>
    <div class="icon-content">
    <h4>Lorem ipsum dummy text</h4>
    <p><span>Morbi vehicula risus in dapibus viverra.</span></p>
    <p>Morbi vehicula risus in dapibus viverra.</p>
   
    </div>
    </a>
    </li>
    <li>
    <a href="#">
    <div class="icon-left">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
    </div>
    <div class="icon-content">
    <h4>Lorem ipsum dummy text</h4>
    <p><span>Morbi vehicula risus in dapibus viverra.</span></p>
    <p>Morbi vehicula risus in dapibus viverra. Nam vel nibh rutrum</p>
   
    </div>
    </a>
    </li>
    <li>
    <a href="#">
    <div class="icon-left">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
    </div>
    <div class="icon-content">
    <h4>Lorem ipsum dummy text</h4>
    <p><span>Morbi vehicula risus in dapibus viverra.</span></p>
    <p>Morbi vehicula risus in dapibus viverra. Nam vel nibh rutrum, </p>
   
    </div>
    </a>
    </li>
    </ul>
    </div>
    
    <div class="right-block-new">
    <div class="all-profile">
   <img src="images/left-profile-image.jpg" class="image-thumb" alt="">
 
    <div class="profile-name"><h3>Lorem Ipsum</h3><p>Web Developer at Mentes.me</p><img src="images/small-star.png" alt=""></div>
    
    <div class="profile-details-right">
    <p>I am a Web Developer, with 4 years of experience in Front-end development. Main Skills: - AngularJS
 - Javascript (Jquery, Underscore) - HTML5 - CSS3 (LESS) - ...</p>
 
 <div class="tag">
 <ul>
 <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
  <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 </ul>
 </div>
 
<div class="avail">
 <p class="small">*Available For Hire</p>
 </div>
 
 <a href="#" class="btn btn-success">Get Free Session</a>
 </div>
  

    </div><div class="all-profile">
   <img src="images/left-profile-image.jpg" class="image-thumb" alt="">
 
    <div class="profile-name"><h3>Lorem Ipsum</h3><p>Web Developer at Mentes.me</p><img src="images/small-star.png" alt=""></div>
    
    <div class="profile-details-right">
    <p>I am a Web Developer, with 4 years of experience in Front-end development. Main Skills: - AngularJS
 - Javascript (Jquery, Underscore) - HTML5 - CSS3 (LESS) - ...</p>
 
 <div class="tag">
 <ul>
 <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
  <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 </ul>
 </div>
 
<div class="avail">
 <p class="small">*Available For Hire</p>
 </div>
 
 <a href="#" class="btn btn-success">Get Free Session</a>
 </div>
  

    </div><div class="all-profile">
   <img src="images/left-profile-image.jpg" class="image-thumb" alt="">
 
    <div class="profile-name"><h3>Lorem Ipsum</h3><p>Web Developer at Mentes.me</p><img src="images/small-star.png" alt=""></div>
    
    <div class="profile-details-right">
    <p>I am a Web Developer, with 4 years of experience in Front-end development. Main Skills: - AngularJS
 - Javascript (Jquery, Underscore) - HTML5 - CSS3 (LESS) - ...</p>
 
 <div class="tag">
 <ul>
 <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
  <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 </ul>
 </div>
 
<div class="avail">
 <p class="small">*Available For Hire</p>
 </div>
 
 <a href="#" class="btn btn-success">Get Free Session</a>
 </div>
  

    </div><div class="all-profile">
   <img src="images/left-profile-image.jpg" class="image-thumb" alt="">
 
    <div class="profile-name"><h3>Lorem Ipsum</h3><p>Web Developer at Mentes.me</p><img src="images/small-star.png" alt=""></div>
    
    <div class="profile-details-right">
    <p>I am a Web Developer, with 4 years of experience in Front-end development. Main Skills: - AngularJS
 - Javascript (Jquery, Underscore) - HTML5 - CSS3 (LESS) - ...</p>
 
 <div class="tag">
 <ul>
 <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
  <li><a href="#">Demo</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 <li><a href="#">Java</a></li>
 <li><a href="#">Html</a></li>
 <li><a href="#">Css</a></li>
 </ul>
 </div>
 
<div class="avail">
 <p class="small">*Available For Hire</p>
 </div>
 
 <a href="#" class="btn btn-success">Get Free Session</a>
 </div>
  

    </div>
    </div>
    </div>
    </div>
  </div>
        </section>

<div class="act-modal modal fade" id="account-activation-step-1"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                <div class="modal-body extraspace">
                          <div class="top-steps">
                    <div class="steps act">1</div>
                    <div class="steps">2</div>
                    <div class="steps">3</div>
                    <div class="line"></div>
                  </div>
                          <h3>Which topics would you need help with?</h3>
                          <div class="all-topics">
                    <ul>
                       <li  ng-repeat="allcategory in allcategories | limitTo:10" ><a id="{{allcategory.Category.id}}" class="testClick" href="javascript:void(0);" ng-click="active(allcategory.Category.id,allcategory.Category.name);" >{{allcategory.Category.name}}</a></li>
                    </ul>
                  </div>
                  <div class="other-topics">
                    <form>
                        <div class="form-group">
                          <tags-input ng-model="tags" class="form-control" style="height:auto;">
                                 <auto-complete source="loadTags($query)"></auto-complete>
                          </tags-input>
                        </div>
                   </form>
                  </div>
                  </div>
                 <input type="hidden" id="categories" value="{{selectedvalues}}" ng-model="selectedcats">
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a>
                    <a href="javascript:void(0);"  class="btn btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25" ng-click="next('account-activation-step-2','1');">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> </div>
                </div>
             </div>
          </div>

<div class="act-modal modal fade" id="account-activation-step-2"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                <div class="modal-body extraspace">
                          <div class="top-steps">
                    <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                    <div class="steps act">2</div>
                    <div class="steps">3</div>
                    <div class="line"></div>
                  </div>
                          <h3>What your general technical experience level?</h3>
                          <div class="user">
                    <div class="radio">
                              <label>
                        <input type="radio" class="iradio_square" ng-model="expertlabel" name="optionsRadios" id="optionsRadios1" value="beginner">
                        Beginner </label>
                            </div>
                    <div class="radio">
                              <label>
                        <input type="radio" name="optionsRadios" ng-model="expertlabel" id="optionsRadios3" class="iradio_square" value="intermediate">
                        Intermediate </label>
                            </div>
                    <div class="radio">
                              <label>
                               <input type="radio" name="optionsRadios" ng-model="expertlabel" id="optionsRadios2" class="iradio_square" value="advanced">
                        Advanced </label>
                            </div>
                  </div>
                        </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a> 
                    <a href="javascript:void(0);" class="btn btn-primary" ng-click="next('account-activation-step-1','');"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous </a>
                    <a href="javascript:void(0);" ng-click="next('account-activation-step-3','2');" class="btn btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> </div>
              </div>
                    </div>
          
          </div>

<div class="act-modal modal fade" id="account-activation-step-3"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                <div class="modal-body extraspace">
                          <div class="top-steps">
                    <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                    <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                    <div class="steps act">3</div>
                    
                  </div>
                          <h3>Why would like to use Live Help Out?</h3>
                          <div class="user">
                    <div class="radio" ng-repeat="(key, value) in whytolikelists" >
                              <label>
                                  <input id="{{key}}" type="checkbox" ng-click="toggleSelection(key)" class="icheckbox_square" ng-model="likelist" name="likelist[]" id="" value="{{key}}">
                        {{value}}</label>
                            </div>
                    
                  </div>
   <input type="hidden" id="whylike" value="{{whylikeselected}}" ng-model="selectedwhy">
                        </div>
                <div class="modal-footer"> 
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a> 
                    <a href="javascript:void(0);" ng-click="next('account-activation-step-2','');"  class="btn btn-primary"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous </a>
                    <a href="javascript:void(0);" ng-click="done();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-primary">Done <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> </div>
              </div>
                    </div>
          </div>


<div class="act-modal modal fade" id="step4"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Check it out</h4>
                        </div>
                <div class="modal-body extraspace">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/NLNuv7jAIhg?autoplay=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                <div class="modal-footer"> 
                   
                    <a href="javascript:void(0);" ng-click="skipstep1();" class="btn btn-primary">Close </a> </div>
              </div>
                    </div>
          </div>
  
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
