  <footer class="footer_section">
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-9 col-sm-6">
           		<div class="copyright wow bounceIn" data-wow-delay="0.4s">© 2015 LiveHelpout. All rights reserved.</div>
            </div>
            <div class="col-md-3 col-sm-6">
            	<div class="social">
                	<ul>
                    	<li class="wow bounceInDown" data-wow-delay="0.4s"><a href="https://www.facebook.com/livehelpout" target="blank"><img src="assets/frontend/images/social-3.png" width="30" height="32"  alt=""/></a></li>
                        <!--<li class="wow bounceInUp" data-wow-delay="0.4s"><img src="assets/frontend/images/social-2.png" width="30" height="32"  alt=""/></li>
                        <li class="wow bounceInDown" data-wow-delay="0.4s"><img src="assets/frontend/images/social-3.png" width="30" height="32"  alt=""/></li>
                        <li class="wow bounceInUp" data-wow-delay="0.4s"><img src="assets/frontend/images/social-4.png" width="30" height="32"  alt=""/></li>
                        <li class="wow bounceInDown" data-wow-delay="0.4s"><img src="assets/frontend/images/social-6.png" width="30" height="32"  alt=""/></li>-->
                    </ul>
                </div>
            </div>
            </div>
           
    </div>
  </footer>

