
<div class="row-fluid">
                        <!-- block -->
<div class="block">
	<div class="navbar navbar-inner block-header">
		<div class="muted pull-left"><?php echo __('Add Country'); ?></div>
		<div class="pull-right"><span class="badge badge-warning"></span>

		</div>
	</div>
	<div class="block-content collapse in">
		
		<div class="users index">
			<div style="float:left;font-weight:bold;">
					<div class="submit">
						<a class="cancel" href="javascript:void(0);" onclick="goBack()">Back</a>
					</div>
			</div>
			<div class="users form">
			<?php echo $this->Form->create('Country'); ?>
				<fieldset>
					<?php
					echo $this->Form->input('id');
					echo $this->Form->input('name_en',array('label'=>'Country English Name:','type'=>'text','class'=>'validate[required]'));
					echo $this->Form->input('name_fr',array('label'=>'Country French Name:','type'=>'text','class'=>'validate[required]'));
					echo $this->Form->input('name_ar',array('label'=>'Country Arabic Name:','type'=>'text','class'=>'validate[required]'));
					echo $this->Form->input('name_pr',array('label'=>'Country Portugeze Name:','type'=>'text','class'=>'validate[required]'));
					
					?>
					
				</fieldset>
				<div class="input text">
					<label>&nbsp;</label>
					<?php echo $this->Form->end(__('Submit')); ?>
					<div class="submit">
						<a class="cancel" href="<?php echo Router::url(array('controller' => "countries", 'action' => "index"), true);?>">Cancel</a>
					</div>
				</div>
			</div>

		</div>
		
	</div>

	<!-- /block -->
</div>
<style>
b
{
	margin-right:5px;
	color:#F00;
}
</style>












