  <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">

         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
         <!-- BEGIN SIDEBAR MENU -->
          <ul class="sidebar-menu">
              <li class="sub-menu">
                  <a class="" href="index.html">
                      <i class="icon-dashboard"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li class="sub-menu <?php echo ($this->params['controller']=='categories'?'active':''); ?>">
                  <a href="javascript:;" class="">
                      <i class="icon-book"></i>
                      <span>Categories</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                     <li class="<?php echo (($this->params['controller']=='categories' && $this->params['action']=='admin_index')?'active':''); ?>">
                         <?php echo $this->Html->link(__('List Categories'), array('controller' => 'categories', 'action' => 'index')); ?> 
                     </li>
                     <li class="<?php echo (($this->params['controller']=='categories' && $this->params['action']=='admin_add')?'active':''); ?>">
                        <?php echo $this->Html->link(__('Add Category'), array('controller' => 'categories', 'action' => 'add')); ?> 
                    </li>                     
                  </ul>
              </li>
              
              <li class="sub-menu <?php echo ($this->params['controller']=='email_templates'?'active':''); ?>">                  
                  <a class="" href="<?php echo $this->webroot.'admin/email_templates/index'; ?>">
                      <i class="icon-file"></i>
                      <span>Email Templates</span>
                  </a>
              </li>

              <li>
                  <a class="" href="<?php echo $this->webroot.'admin/users/logout'; ?>">
                    <i class="icon-user"></i>
                    <span>Logout</span>
                  </a>
              </li>
          </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      </div>
      <!-- END SIDEBAR -->



<!--

<div class="actions">
<ul>
  <li><b>Manage Categories</b>
    <ul>
      <li><?php echo $this->Html->link(__('List Categories'), array('controller' => 'categories', 'action' => 'index')); ?> </li>
      <li><?php echo $this->Html->link(__('Add Category'), array('controller' => 'categories', 'action' => 'add')); ?> </li>
    </ul>
 </li>
 <li><b>Manage Email Templates</b>
    <ul>
      <li><?php echo $this->Html->link(__('List Templates'), array('controller' => 'email_templates', 'action' => 'index')); ?> </li>
    </ul>
 </li>
 <li>
    <ul>
      <li><?php echo $this->Html->link(__('Logout'), array('controller' => 'users', 'action' => 'logout')); ?></li>
    </ul>
 </li>
</ul>
</div>
-->	
